In [3]:
import pandas as pd
import numpy as np
import math
from jellyfish import jaro_winkler
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from py_common_subseq import find_common_subsequences
import numbers
import time
from collections import Counter 
from fuzzywuzzy import fuzz

In [ ]:
import io
import shutil

with io.open('recipients_reduced.csv', encoding='utf-8', errors='ignore') as source:
    with io.open('recipients_reduced_utf.csv', mode='w', encoding='utf-8') as target:
        shutil.copyfileobj(source,target)

In [4]:
#define column names
org_id = 'Recipient_ID'
org_name = 'RecipientName'
org_address1 = 'AddressLine1Txt'
org_city = 'CityNm'
org_state = 'StateAbbreviationCd'
org_zip = 'Zip'
org_web = 'WebsiteAddressTxt'

#set parameters
token_match_min = 2 # minimum number of matched tokens to be considered a match
token_limiter = .99 # percent of non-single tokens to tokenize, where rare tokens are at the bottom and common at the top
name_weight = .75 #note that this is really .75 * 4 because there are 4 org name simularity metrics
state_weight = 1
zip_weight = 1
phone_weight = 1
composite_score_min = 3.5 #minimum composite match score to be considered a match

start_time = time.time()
print "LOADING INITIAL DATAFRAME..."

df = pd.read_csv('RecipientTableUpdated_1.30.19_utf.csv',keep_default_na=False)

df.rename(columns={org_id:'id',org_name:'org_name',org_address1:'address1',org_city:'city',org_state:'state',org_zip:'postal_code',org_web:'web'}, inplace=True)

print("Dataframe loaded --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "PRE-PROCESSING: NORMALIZE STATES..."
#normalize state codes
state_lkup = pd.read_csv('state_lkup.csv',keep_default_na=False)

from collections import defaultdict
state_dict = defaultdict(list)
for state, acronym in zip(state_lkup.state.values,state_lkup.acronym.values):
    state_dict[state].append(acronym)

df.state = df.state.str.lower()
df.state = df.state.replace(state_dict)
df.to_csv('org_dup_df.csv')

print("states normalized --- %s seconds ---" % (time.time() - start_time))
print ""

chunking_time = time.time()
print "TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS..."

n=0
dfs_list = []
for df in pd.read_csv('org_dup_df.csv',keep_default_na=False,chunksize=10000):
    
    n=n+1
    start_time = time.time()
    print n
    
    left_df_chunk = df.copy()
    left_df_chunk.rename(columns={'org_name':'l_org_name','address1':'l_address1','city':'l_city','state':'l_state','postal_code':'l_postal_code','web':'l_web'}, inplace=True)

        # for the left dataset
    left_tokenized_columns = [
        'l_org_name',
        #'l_acronym',
        #'l_alt_name',
        #'l_address1',
        #'l_address2',
        'l_city', 
        'l_state', 
        'l_postal_code',
        'l_web' 
        #'l_phone'
    ]

    # lowercase the name and split on spaces, remove non-alphanumeric chars
    def tokenize_name(name):
        if isinstance(name, basestring) is True:
            clean_name = ''.join(c if c.isalnum() else ' ' for c in name)
            return clean_name.lower().split()
        else:
            return name

    unique_tokens = [] #we treat state and zips differently because we want to include ALl state and zip tokens as these are unique

    #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< add chosen unique columns here from each df
    for word in left_df_chunk['l_state']:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))

    for word in left_df_chunk['l_postal_code']:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))

    #for word in left_df_chunk['l_acronym']:
    #    if isinstance(word, float) is False:
    #        unique_tokens.append(tokenize_name(str(word)))

    #for word in left_df_chunk['l_phone']:
    #    if isinstance(word, float) is False:
    #        unique_tokens.append(tokenize_name(str(word)))
    #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

    unique_flat_list = [item for sublist in unique_tokens for item in sublist]

    #instantiate counter and use to count word frequencies in flat list
    u_cnt = Counter()
    for token in unique_flat_list:
        u_cnt[token] += 1

    u_cnt_dict = dict(u_cnt) #convert to dictionary

    unique_tokens_df = pd.DataFrame(u_cnt_dict.items(), columns=['token', 'count'])
    unique_tokens_df = unique_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

    unique_token_flag = []
    for index, value in enumerate(unique_tokens_df['count']):
        if value == 1:
            unique_token_flag.append(0)  #for any tokens occuring only once, we exclude
        else:
            unique_token_flag.append(1)

    unique_tokens_df['flag'] = unique_token_flag        

    all_other_words = [] #creating a list of all words used in just ONE of the dfs in selected columns, for counting to determine rarity

    for word in left_df_chunk['l_org_name']:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))

    #for word in left_df_chunk['l_alt_name']:
    #    if isinstance(word, float) is False:
    #        all_other_words.append(tokenize_name(str(word)))

    #for word in left_df_chunk['l_address1']:
    #    if isinstance(word, float) is False:
    #        all_other_words.append(tokenize_name(str(word)))

    for word in left_df_chunk['l_city']:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))

    for word in left_df_chunk['l_web']:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))

    flat_list = [item for sublist in all_other_words for item in sublist] #flatten list so it can be counted

    #instantiate counter and use to count word frequencies in flat list
    cnt = Counter()
    for token in flat_list:
        cnt[token] += 1

    cnt_dict = dict(cnt) #convert to dictionary

    main_tokens_df = pd.DataFrame(cnt_dict.items(), columns=['token', 'count'])
    main_tokens_df = main_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

    main_token_flag = []
    for index, value in enumerate(main_tokens_df['count']):
        if value == 1:
            main_token_flag.append(0)  #for any tokens occuring only once, we exclude
        elif index < int(main_tokens_df.shape[0] * token_limiter): #important line, we are cutting the top x% of frequently occuring tokens
            main_token_flag.append(1)
        else:
            main_token_flag.append(0)  #for the most common tokens, we exclude

    main_tokens_df['flag'] = main_token_flag

    all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

    all_tokens.drop('count',axis=1,inplace=True)
    all_tokens['flag'] = all_tokens.flag.astype(int) #converting flags to int
    tokens_dct = all_tokens.to_dict('split') #converting tokens_df to dictionary
    tokens_dct=dict(tokens_dct['data']) #honestly can't remember why this works, something to do with conversion to dictionary

    #preparing token_ids which will be used for joining left and right dfs
    all_tokens.sort_values(by='flag',ascending=False,inplace=True)
    all_tokens.drop_duplicates(subset='token',keep='first',inplace=True)
    token_ids = all_tokens.index.get_level_values(0)
    all_tokens['token_id'] = token_ids

    all_tokens.drop('flag',axis=1,inplace=True)
    all_tokens['token_id'] = all_tokens.token_id.astype(int)
    token_id_dct = all_tokens.to_dict('split')
    tokens_id_dct=dict(token_id_dct['data'])
    
    vocabulary = np.array([w for w, c in tokens_dct.items() if c ==1]) #this works even without the ==1 and I don't know why
    cv = CountVectorizer( vocabulary=vocabulary)

    frame_list = []
    for colname in left_tokenized_columns:
        tokenmapping = cv.fit_transform(left_df_chunk[colname])
        df_row, token_id = tokenmapping.nonzero()

        frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df_chunk['id'].values[df_row]]).T, columns = ['token', 'id']))

    left_keyed = pd.concat(frame_list)

    #append token_id to token as this will be more efficient to join with
    left_token_ids = []
    for token in left_keyed.token:
        left_token_ids.append(tokens_id_dct[token])

    left_keyed['token_id'] = left_token_ids
    left_keyed.sort_values(by='token_id',inplace=True)
    left_keyed.set_index('token_id',inplace=True)
    left_keyed.drop('token',axis=1,inplace=True)

    aggregations = {
        'id_l': 'count'
    }
    
    right_keyed = left_keyed.copy()
    joined = left_keyed.join(right_keyed, how='inner',lsuffix='_l',rsuffix='_r')
    keys_grouped = joined.groupby(by=['id_l', 'id_r']).agg(aggregations)
    keys_grouped.rename(columns={'id_l':'id_l count'}, inplace=True)
    matched_records = keys_grouped[keys_grouped['id_l count'] >= token_match_min]
    matched_records.reset_index(inplace=True)
    duplicate_candidates = matched_records[matched_records['id_l'] <> matched_records['id_r']]
    
    #add chunk duplicate candidates to df list
    dfs_list.append(duplicate_candidates)
    
    print("chunk loaded --- %s seconds ---" % (time.time() - start_time))
    
dup_dfs = pd.concat(dfs_list)
print("All chunks loaded --- %s seconds ---" % (time.time() - chunking_time))
print ""

start_time = time.time()
print "REMOVING REDUNDANT DUPLICATE ID PAIRS..."

match_tuples = list(zip(dup_dfs['id_l'], dup_dfs['id_r']))

sorted_match_tuples = []
for tup in match_tuples:
    s = tuple(sorted(tup))
    sorted_match_tuples.append(s)

dup_dfs.drop(['id_l','id_r'],axis=1,inplace=True)
dup_dfs['id_tuples'] = sorted_match_tuples

new_col_list = ['id_l','id_r']
for n,col in enumerate(new_col_list):
    dup_dfs[col] = dup_dfs['id_tuples'].apply(lambda location: location[n])
    
dup_dfs.drop('id_tuples',axis=1,inplace=True)
dup_dfs.drop_duplicates(inplace=True)

print("redundant id pairs removed --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "APPENDING ORIGINAL DATA TO MATCH CANDIDATES..."

left_df = pd.read_csv('org_dup_df.csv')
right_df = left_df.copy()
left_df.rename(columns={'id':'id_l','org_name':'l_org_name','address1':'l_address1','city':'l_city','state':'l_state','postal_code':'l_postal_code','web':'l_web'}, inplace=True)
right_df.rename(columns={'id':'id_r','org_name':'r_org_name','address1':'r_address1','city':'r_city','state':'r_state','postal_code':'r_postal_code','web':'r_web'}, inplace=True)

#creating left/right dataframes which contain only the most relevant details for reviewing the match strengths
left_match_data = left_df[['id_l','l_org_name','l_city','l_state','l_postal_code','l_web']].copy()
right_match_data = right_df[['id_r','r_org_name','r_city','r_state','r_postal_code','r_web']].copy()

#making sure keys are str, results in blank df otherwise
left_match_data.id_l = left_match_data.id_l.astype('str')
right_match_data.id_r = right_match_data.id_r.astype('str')
dup_dfs.id_l = dup_dfs.id_l.astype('str')
dup_dfs.id_r = dup_dfs.id_r.astype('str')

#merging matched_records df with original record data for ease of review
l_conc = pd.merge(dup_dfs, left_match_data, on='id_l')
full_conc = pd.merge(l_conc, right_match_data, on='id_r')

print("original data concatenated with matches --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "SCORING ORG NAME SIMULARITY..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on edit distance of org names
def jaro_simularity(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return jaro_winkler(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '')
def fuzz_partial(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return fuzz.partial_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_sort(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return fuzz.token_sort_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_set(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return fuzz.token_set_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)

full_conc['l_org_name'] = full_conc['l_org_name'].astype('str')
full_conc['r_org_name'] = full_conc['r_org_name'].astype('str')

jaro_time = time.time()
full_conc['jaro_score'] = full_conc.apply(lambda x: jaro_simularity(x.l_org_name, x.r_org_name), axis=1)
print("jaro scores done --- %s seconds ---" % (time.time() - jaro_time))
partial_time = time.time()
full_conc['fuzz_partial_score'] = full_conc.apply(lambda x: fuzz_partial(x.l_org_name, x.r_org_name), axis=1)
print("fuzz partial scores done --- %s seconds ---" % (time.time() - partial_time))
sort_time = time.time()
full_conc['fuzz_sort_score'] = full_conc.apply(lambda x: fuzz_sort(x.l_org_name, x.r_org_name), axis=1)
print("fuzz sort scores done --- %s seconds ---" % (time.time() - sort_time))
set_time = time.time()
full_conc['fuzz_set_score'] = full_conc.apply(lambda x: fuzz_set(x.l_org_name, x.r_org_name), axis=1)
print("fuzz set scores done --- %s seconds ---" % (time.time() - set_time))
print ""

print("name simularity scored --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR STATE CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

def sanitize_state(state):
    if isinstance(state,basestring) is True:
        return ''.join(c for c in (state or '') if c in 'abcdefghijklmnopqrstuvwxyz')
    else:
        return ''
    
def state_match(state_a, state_b):
    sanitized_state_a = str(sanitize_state(state_a))
    sanitized_state_b = str(sanitize_state(state_b))

    # if the value is too short, means it's fubar
    if len(sanitized_state_a) < 2 or len(sanitized_state_b) < 2:
        return 0
    if state_a == state_b:
        return 1
    else:
        return 0    

full_conc['state_match'] = full_conc.apply(lambda x: state_match(x.l_state, x.r_state), axis=1)

print("state codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR POSTAL CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching postal code

def sanitize_postal(postal):
    if isinstance(postal, basestring) is True:
        return ''.join(c for c in (postal or '') if c in '1234567890')
    if isinstance(postal, float) is False:
        return postal

def postal_simularity(postal_a, postal_b):
    sanitized_postal_a = str(sanitize_postal(postal_a))
    sanitized_postal_b = str(sanitize_postal(postal_b))

    # if the number is too short, means it's fubar
    if len(sanitized_postal_a) < 5 or len(sanitized_postal_b) < 5:
        return 0
    if float(max(len(sub) for sub in find_common_subsequences(sanitized_postal_a, sanitized_postal_b))) / 5 >= 1:
        return 1
    else:
        return 0
    
full_conc['zip_match'] = full_conc.apply(lambda x: postal_simularity(x.l_postal_code, x.r_postal_code), axis=1)
    
print("postal codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

#start_time = time.time()
#print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching postal code

#def sanitize_phone(phone):
#    if isinstance(phone, basestring) is True:
#        return ''.join(c for c in (phone or '') if c in '1234567890')
#    if isinstance(phone, float) is False:
#        return phone

#def postal_simularity(phone_a, phone_b):
#    sanitized_phone_a = str(sanitize_phone(phone_a))
#    sanitized_phone_b = str(sanitize_phone(phone_b))

    # if the number is too short, means it's fubar
#    if len(sanitized_phone_a) < 10 or len(sanitized_phone_b) < 10:
#        return 0
#    if float(max(len(sub) for sub in find_common_subsequences(sanitized_phone_a, sanitized_phone_b))) / 10 >= 1:
#        return 1
#    else:
#        return 0
    
#full_conc['phone_match'] = full_conc.apply(lambda x: phone_simularity(x.l_phone, x.r_phone), axis=1)
    
#print("phones checked --- %s seconds ---" % (time.time() - start_time))
#print ""

#test this.  may need to make more efficient but I think it should work
start_time = time.time()
print "DISTILLING STRONG ORG DUPLICATES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#calculate composite match score based on component scores and weights
full_conc['composite_match_score'] = full_conc.jaro_score * name_weight \
+ full_conc.fuzz_partial_score * name_weight \
+ full_conc.fuzz_sort_score * name_weight \
+ full_conc.fuzz_set_score * name_weight \
+ full_conc.zip_match * zip_weight \
+ full_conc.state_match * state_weight \
#+ full_conc.phone_match * phone_weight

org_duplicates = full_conc[full_conc.composite_match_score >= composite_score_min]

print("final duplicates isolated --- %s seconds ---" % (time.time() - start_time))
print ""

#full_conc[full_conc.composite_match_score < 3].sort_values(by='composite_match_score', ascending=False)
org_duplicates.sort_values(by='composite_match_score', ascending=False)

LOADING INITIAL DATAFRAME...

IOError: File RecipientTableUpdated_1.30.19_utf.csv does not exist

In [1]:
left_keyed

NameError: name 'left_keyed' is not defined

In [3]:
#number of >3.5 dups found with 3 token minimum
org_duplicates.shape

(25699, 20)

In [4]:
org_duplicates.to_csv('salehs file.csv')

In [7]:
match_tuples

[('1', '1062'),
 ('1053', '1062'),
 ('1057', '1062'),
 ('1058', '1062'),
 ('1059', '1062'),
 ('1060', '1062'),
 ('1061', '1062'),
 ('1064', '1062'),
 ('1188', '1062'),
 ('1377', '1062'),
 ('1831', '1062'),
 ('213', '1062'),
 ('2257', '1062'),
 ('2536', '1062'),
 ('280', '1062'),
 ('3108', '1062'),
 ('3117', '1062'),
 ('3595', '1062'),
 ('3738', '1062'),
 ('3781', '1062'),
 ('417', '1062'),
 ('4687', '1062'),
 ('474', '1062'),
 ('5081', '1062'),
 ('518', '1062'),
 ('5611', '1062'),
 ('5690', '1062'),
 ('570', '1062'),
 ('5726', '1062'),
 ('6073', '1062'),
 ('6076', '1062'),
 ('6247', '1062'),
 ('6538', '1062'),
 ('6683', '1062'),
 ('6686', '1062'),
 ('688', '1062'),
 ('7062', '1062'),
 ('7091', '1062'),
 ('7202', '1062'),
 ('7205', '1062'),
 ('7206', '1062'),
 ('7207', '1062'),
 ('7217', '1062'),
 ('7218', '1062'),
 ('7220', '1062'),
 ('7222', '1062'),
 ('7567', '1062'),
 ('7756', '1062'),
 ('7774', '1062'),
 ('7777', '1062'),
 ('7782', '1062'),
 ('7786', '1062'),
 ('7798', '1062'),
 ('854', '1062'),
 ('8750', '1062'),
 ('8836', '1062'),
 ('9567', '1062'),
 ('9578', '1062'),
 ('963', '1062'),
 ('9756', '1062'),
 ('1', '1188'),
 ('1062', '1188'),
 ('1101', '1188'),
 ('1377', '1188'),
 ('1384', '1188'),
 ('1652', '1188'),
 ('1689', '1188'),
 ('1831', '1188'),
 ('213', '1188'),
 ('2257', '1188'),
 ('2536', '1188'),
 ('280', '1188'),
 ('3117', '1188'),
 ('3146', '1188'),
 ('3534', '1188'),
 ('3595', '1188'),
 ('3781', '1188'),
 ('417', '1188'),
 ('448', '1188'),
 ('4687', '1188'),
 ('474', '1188'),
 ('4807', '1188'),
 ('5081', '1188'),
 ('515', '1188'),
 ('518', '1188'),
 ('540', '1188'),
 ('5611', '1188'),
 ('5690', '1188'),
 ('570', '1188'),
 ('5726', '1188'),
 ('6073', '1188'),
 ('6247', '1188'),
 ('6538', '1188'),
 ('6683', '1188'),
 ('6686', '1188'),
 ('688', '1188'),
 ('7062', '1188'),
 ('7091', '1188'),
 ('7202', '1188'),
 ('7205', '1188'),
 ('7206', '1188'),
 ('7207', '1188'),
 ('7217', '1188'),
 ('7218', '1188'),
 ('7220', '1188'),
 ('7222', '1188'),
 ('7314', '1188'),
 ('7567', '1188'),
 ('7756', '1188'),
 ('7774', '1188'),
 ('7777', '1188'),
 ('7782', '1188'),
 ('7786', '1188'),
 ('7798', '1188'),
 ('7948', '1188'),
 ('8213', '1188'),
 ('854', '1188'),
 ('8836', '1188'),
 ('9269', '1188'),
 ('9567', '1188'),
 ('9578', '1188'),
 ('963', '1188'),
 ('9756', '1188'),
 ('9760', '1188'),
 ('9849', '1188'),
 ('1', '1377'),
 ('1062', '1377'),
 ('1188', '1377'),
 ('1712', '1377'),
 ('1831', '1377'),
 ('213', '1377'),
 ('2257', '1377'),
 ('2536', '1377'),
 ('280', '1377'),
 ('3117', '1377'),
 ('3595', '1377'),
 ('3781', '1377'),
 ('417', '1377'),
 ('4687', '1377'),
 ('474', '1377'),
 ('5081', '1377'),
 ('518', '1377'),
 ('5611', '1377'),
 ('5690', '1377'),
 ('570', '1377'),
 ('5726', '1377'),
 ('6073', '1377'),
 ('6247', '1377'),
 ('6538', '1377'),
 ('6683', '1377'),
 ('6686', '1377'),
 ('688', '1377'),
 ('7062', '1377'),
 ('7091', '1377'),
 ('7202', '1377'),
 ('7205', '1377'),
 ('7206', '1377'),
 ('7207', '1377'),
 ('7217', '1377'),
 ('7218', '1377'),
 ('7220', '1377'),
 ('7222', '1377'),
 ('7567', '1377'),
 ('7756', '1377'),
 ('7774', '1377'),
 ('7777', '1377'),
 ('7782', '1377'),
 ('7786', '1377'),
 ('7798', '1377'),
 ('854', '1377'),
 ('8836', '1377'),
 ('9567', '1377'),
 ('9578', '1377'),
 ('963', '1377'),
 ('9756', '1377'),
 ('1', '1831'),
 ('1062', '1831'),
 ('1188', '1831'),
 ('1377', '1831'),
 ('213', '1831'),
 ('2257', '1831'),
 ('2536', '1831'),
 ('280', '1831'),
 ('3117', '1831'),
 ('3595', '1831'),
 ('3738', '1831'),
 ('3781', '1831'),
 ('417', '1831'),
 ('4687', '1831'),
 ('474', '1831'),
 ('5081', '1831'),
 ('518', '1831'),
 ('5611', '1831'),
 ('5690', '1831'),
 ('570', '1831'),
 ('5726', '1831'),
 ('6073', '1831'),
 ('6247', '1831'),
 ('6538', '1831'),
 ('6683', '1831'),
 ('6686', '1831'),
 ('688', '1831'),
 ('7062', '1831'),
 ('7091', '1831'),
 ('7202', '1831'),
 ('7205', '1831'),
 ('7206', '1831'),
 ('7207', '1831'),
 ('7217', '1831'),
 ('7218', '1831'),
 ('7220', '1831'),
 ('7222', '1831'),
 ('7416', '1831'),
 ('7567', '1831'),
 ('7756', '1831'),
 ('7774', '1831'),
 ('7777', '1831'),
 ('7782', '1831'),
 ('7786', '1831'),
 ('7798', '1831'),
 ('854', '1831'),
 ('8750', '1831'),
 ('8836', '1831'),
 ('9567', '1831'),
 ('9578', '1831'),
 ('963', '1831'),
 ('9756', '1831'),
 ('1', '213'),
 ('1062', '213'),
 ('1188', '213'),
 ('1377', '213'),
 ('1831', '213'),
 ('2257', '213'),
 ('2536', '213'),
 ('280', '213'),
 ('3117', '213'),
 ('3209', '213'),
 ('3595', '213'),
 ('3781', '213'),
 ('417', '213'),
 ('4687', '213'),
 ('474', '213'),
 ('5081', '213'),
 ('518', '213'),
 ('5230', '213'),
 ('538', '213'),
 ('5611', '213'),
 ('5690', '213'),
 ('570', '213'),
 ('5726', '213'),
 ('6073', '213'),
 ('6247', '213'),
 ('6538', '213'),
 ('6683', '213'),
 ('6686', '213'),
 ('6711', '213'),
 ('688', '213'),
 ('7062', '213'),
 ('7091', '213'),
 ('7202', '213'),
 ('7205', '213'),
 ('7206', '213'),
 ('7207', '213'),
 ('7217', '213'),
 ('7218', '213'),
 ('7220', '213'),
 ('7222', '213'),
 ('7567', '213'),
 ('7756', '213'),
 ('7774', '213'),
 ('7777', '213'),
 ('7782', '213'),
 ('7786', '213'),
 ('7798', '213'),
 ('7911', '213'),
 ('854', '213'),
 ('8836', '213'),
 ('9567', '213'),
 ('9578', '213'),
 ('963', '213'),
 ('9756', '213'),
 ('1', '2257'),
 ('1062', '2257'),
 ('1188', '2257'),
 ('1377', '2257'),
 ('1831', '2257'),
 ('213', '2257'),
 ('2536', '2257'),
 ('280', '2257'),
 ('3117', '2257'),
 ('3595', '2257'),
 ('3781', '2257'),
 ('417', '2257'),
 ('4687', '2257'),
 ('474', '2257'),
 ('5081', '2257'),
 ('518', '2257'),
 ('5611', '2257'),
 ('5690', '2257'),
 ('570', '2257'),
 ('5726', '2257'),
 ('6073', '2257'),
 ('6247', '2257'),
 ('6538', '2257'),
 ('6683', '2257'),
 ('6686', '2257'),
 ('688', '2257'),
 ('7062', '2257'),
 ('7091', '2257'),
 ('7202', '2257'),
 ('7205', '2257'),
 ('7206', '2257'),
 ('7207', '2257'),
 ('7217', '2257'),
 ('7218', '2257'),
 ('7220', '2257'),
 ('7222', '2257'),
 ('7567', '2257'),
 ('7756', '2257'),
 ('7774', '2257'),
 ('7777', '2257'),
 ('7782', '2257'),
 ('7786', '2257'),
 ('7798', '2257'),
 ('854', '2257'),
 ('8836', '2257'),
 ('9567', '2257'),
 ('9578', '2257'),
 ('963', '2257'),
 ('9756', '2257'),
 ('1', '2536'),
 ('1062', '2536'),
 ('1152', '2536'),
 ('1188', '2536'),
 ('1265', '2536'),
 ('1286', '2536'),
 ('1355', '2536'),
 ('1377', '2536'),
 ('1419', '2536'),
 ('1456', '2536'),
 ('1715', '2536'),
 ('1789', '2536'),
 ('1831', '2536'),
 ('1988', '2536'),
 ('210', '2536'),
 ('211', '2536'),
 ('213', '2536'),
 ('2134', '2536'),
 ('2163', '2536'),
 ('2169', '2536'),
 ('2220', '2536'),
 ('2240', '2536'),
 ('2257', '2536'),
 ('2263', '2536'),
 ('2280', '2536'),
 ('2400', '2536'),
 ('2408', '2536'),
 ('2415', '2536'),
 ('242', '2536'),
 ('246', '2536'),
 ('2526', '2536'),
 ('2723', '2536'),
 ('2731', '2536'),
 ('2732', '2536'),
 ('2769', '2536'),
 ('280', '2536'),
 ('2857', '2536'),
 ('2874', '2536'),
 ('2881', '2536'),
 ('2975', '2536'),
 ('3010', '2536'),
 ('3041', '2536'),
 ('3044', '2536'),
 ('3064', '2536'),
 ('3108', '2536'),
 ('3117', '2536'),
 ('3346', '2536'),
 ('341', '2536'),
 ('3438', '2536'),
 ('3486', '2536'),
 ('3534', '2536'),
 ('3595', '2536'),
 ('362', '2536'),
 ('3624', '2536'),
 ('3738', '2536'),
 ('3741', '2536'),
 ('376', '2536'),
 ('3774', '2536'),
 ('3775', '2536'),
 ('3776', '2536'),
 ('3781', '2536'),
 ('386', '2536'),
 ('387', '2536'),
 ('390', '2536'),
 ('3940', '2536'),
 ('406', '2536'),
 ('4103', '2536'),
 ('417', '2536'),
 ('4299', '2536'),
 ('4385', '2536'),
 ('4437', '2536'),
 ('4618', '2536'),
 ('4646', '2536'),
 ('4664', '2536'),
 ('4683', '2536'),
 ('4687', '2536'),
 ('474', '2536'),
 ('4743', '2536'),
 ('4893', '2536'),
 ('4926', '2536'),
 ('5040', '2536'),
 ('5074', '2536'),
 ('5081', '2536'),
 ('5085', '2536'),
 ('5086', '2536'),
 ('518', '2536'),
 ('5196', '2536'),
 ('5210', '2536'),
 ('5444', '2536'),
 ('5499', '2536'),
 ('5555', '2536'),
 ('5608', '2536'),
 ('5611', '2536'),
 ('5690', '2536'),
 ('570', '2536'),
 ('5726', '2536'),
 ('5744', '2536'),
 ('6073', '2536'),
 ('6074', '2536'),
 ('6075', '2536'),
 ('6076', '2536'),
 ('615', '2536'),
 ('62', '2536'),
 ('6211', '2536'),
 ('6247', '2536'),
 ('6333', '2536'),
 ('643', '2536'),
 ('645', '2536'),
 ('6538', '2536'),
 ('6572', '2536'),
 ('6618', '2536'),
 ('6683', '2536'),
 ('6686', '2536'),
 ('6691', '2536'),
 ('6713', '2536'),
 ('6798', '2536'),
 ('6848', '2536'),
 ('6858', '2536'),
 ('688', '2536'),
 ('6905', '2536'),
 ('6926', '2536'),
 ('6928', '2536'),
 ('6933', '2536'),
 ('6935', '2536'),
 ('6936', '2536'),
 ('6938', '2536'),
 ('6942', '2536'),
 ('7005', '2536'),
 ('7062', '2536'),
 ('7064', '2536'),
 ('7086', '2536'),
 ('709', '2536'),
 ('7090', '2536'),
 ('7091', '2536'),
 ('7200', '2536'),
 ('7202', '2536'),
 ('7205', '2536'),
 ('7206', '2536'),
 ('7207', '2536'),
 ('7208', '2536'),
 ('7215', '2536'),
 ('7216', '2536'),
 ('7217', '2536'),
 ('7218', '2536'),
 ('7220', '2536'),
 ('7222', '2536'),
 ('7247', '2536'),
 ('7258', '2536'),
 ('728', '2536'),
 ('7316', '2536'),
 ('7327', '2536'),
 ('7403', '2536'),
 ('744', '2536'),
 ('7516', '2536'),
 ('7519', '2536'),
 ('7567', '2536'),
 ('7756', '2536'),
 ('7767', '2536'),
 ('7768', '2536'),
 ('7769', '2536'),
 ('7770', '2536'),
 ('7771', '2536'),
 ('7773', '2536'),
 ('7774', '2536'),
 ('7775', '2536'),
 ('7776', '2536'),
 ('7777', '2536'),
 ('7782', '2536'),
 ('7783', '2536'),
 ('7786', '2536'),
 ('7788', '2536'),
 ('7789', '2536'),
 ('7791', '2536'),
 ('7792', '2536'),
 ('7793', '2536'),
 ('7797', '2536'),
 ('7798', '2536'),
 ('7799', '2536'),
 ('7801', '2536'),
 ('7852', '2536'),
 ('7974', '2536'),
 ('7985', '2536'),
 ('7993', '2536'),
 ('8255', '2536'),
 ('8342', '2536'),
 ('8427', '2536'),
 ('8457', '2536'),
 ('854', '2536'),
 ('8576', '2536'),
 ('8609', '2536'),
 ('8639', '2536'),
 ('8658', '2536'),
 ('8669', '2536'),
 ('8699', '2536'),
 ('8714', '2536'),
 ('8745', '2536'),
 ('8746', '2536'),
 ('8749', '2536'),
 ('8750', '2536'),
 ('8836', '2536'),
 ('8885', '2536'),
 ('8912', '2536'),
 ('8927', '2536'),
 ('9066', '2536'),
 ('9082', '2536'),
 ('9197', '2536'),
 ('9277', '2536'),
 ('9315', '2536'),
 ('9336', '2536'),
 ('9375', '2536'),
 ('9428', '2536'),
 ('9452', '2536'),
 ('9467', '2536'),
 ('9499', '2536'),
 ('9567', '2536'),
 ('9578', '2536'),
 ('960', '2536'),
 ('963', '2536'),
 ('9641', '2536'),
 ('9699', '2536'),
 ('9726', '2536'),
 ('9750', '2536'),
 ('9756', '2536'),
 ('9779', '2536'),
 ('9961', '2536'),
 ('9974', '2536'),
 ('9993', '2536'),
 ('1', '280'),
 ('1062', '280'),
 ('1188', '280'),
 ('1377', '280'),
 ('1831', '280'),
 ('213', '280'),
 ('2257', '280'),
 ('2536', '280'),
 ('3117', '280'),
 ('3595', '280'),
 ('3781', '280'),
 ('417', '280'),
 ('4687', '280'),
 ('474', '280'),
 ('5081', '280'),
 ('518', '280'),
 ('5611', '280'),
 ('5690', '280'),
 ('570', '280'),
 ('5726', '280'),
 ('6073', '280'),
 ('6247', '280'),
 ('6538', '280'),
 ('6683', '280'),
 ('6686', '280'),
 ('688', '280'),
 ('7062', '280'),
 ('7091', '280'),
 ('7202', '280'),
 ('7205', '280'),
 ('7206', '280'),
 ('7207', '280'),
 ('7217', '280'),
 ('7218', '280'),
 ('7220', '280'),
 ('7222', '280'),
 ('7567', '280'),
 ('7756', '280'),
 ('7774', '280'),
 ('7777', '280'),
 ('7782', '280'),
 ('7786', '280'),
 ('7798', '280'),
 ('854', '280'),
 ('8836', '280'),
 ('9567', '280'),
 ('9578', '280'),
 ('963', '280'),
 ('9756', '280'),
 ('1', '3117'),
 ('1062', '3117'),
 ('1188', '3117'),
 ('1377', '3117'),
 ('1831', '3117'),
 ('213', '3117'),
 ('2257', '3117'),
 ('2536', '3117'),
 ('280', '3117'),
 ('3015', '3117'),
 ('3595', '3117'),
 ('3781', '3117'),
 ('417', '3117'),
 ('4687', '3117'),
 ('474', '3117'),
 ('5081', '3117'),
 ('518', '3117'),
 ('5611', '3117'),
 ('5690', '3117'),
 ('570', '3117'),
 ('5726', '3117'),
 ('6073', '3117'),
 ('6247', '3117'),
 ('6538', '3117'),
 ('6683', '3117'),
 ('6686', '3117'),
 ('688', '3117'),
 ('7062', '3117'),
 ('7091', '3117'),
 ('7202', '3117'),
 ('7205', '3117'),
 ('7206', '3117'),
 ('7207', '3117'),
 ('7217', '3117'),
 ('7218', '3117'),
 ('7220', '3117'),
 ('7222', '3117'),
 ('7567', '3117'),
 ('7756', '3117'),
 ('7774', '3117'),
 ('7777', '3117'),
 ('7782', '3117'),
 ('7786', '3117'),
 ('7798', '3117'),
 ('854', '3117'),
 ('8836', '3117'),
 ('9567', '3117'),
 ('9578', '3117'),
 ('963', '3117'),
 ('9756', '3117'),
 ('1', '3595'),
 ('1062', '3595'),
 ('1188', '3595'),
 ('1377', '3595'),
 ('1831', '3595'),
 ('213', '3595'),
 ('2257', '3595'),
 ('2536', '3595'),
 ('280', '3595'),
 ('3117', '3595'),
 ('3781', '3595'),
 ('417', '3595'),
 ('4687', '3595'),
 ('474', '3595'),
 ('5081', '3595'),
 ('518', '3595'),
 ('5611', '3595'),
 ('5690', '3595'),
 ('570', '3595'),
 ('5726', '3595'),
 ('6073', '3595'),
 ('6247', '3595'),
 ('6538', '3595'),
 ('6683', '3595'),
 ('6686', '3595'),
 ('688', '3595'),
 ('7062', '3595'),
 ('7091', '3595'),
 ('7202', '3595'),
 ('7205', '3595'),
 ('7206', '3595'),
 ('7207', '3595'),
 ('7217', '3595'),
 ('7218', '3595'),
 ('7220', '3595'),
 ('7222', '3595'),
 ('7567', '3595'),
 ('7756', '3595'),
 ('7774', '3595'),
 ('7777', '3595'),
 ('7782', '3595'),
 ('7786', '3595'),
 ('7798', '3595'),
 ('854', '3595'),
 ('8836', '3595'),
 ('9567', '3595'),
 ('9578', '3595'),
 ('963', '3595'),
 ('9756', '3595'),
 ('1', '3781'),
 ('1062', '3781'),
 ('1188', '3781'),
 ('1377', '3781'),
 ('1831', '3781'),
 ('213', '3781'),
 ('2257', '3781'),
 ('2536', '3781'),
 ('280', '3781'),
 ('2821', '3781'),
 ('3117', '3781'),
 ('3595', '3781'),
 ('417', '3781'),
 ('4687', '3781'),
 ('474', '3781'),
 ('5081', '3781'),
 ('518', '3781'),
 ('5611', '3781'),
 ('5690', '3781'),
 ('570', '3781'),
 ('5726', '3781'),
 ('6073', '3781'),
 ('6247', '3781'),
 ('6538', '3781'),
 ('6683', '3781'),
 ('6686', '3781'),
 ('688', '3781'),
 ('7062', '3781'),
 ('7091', '3781'),
 ('7202', '3781'),
 ('7205', '3781'),
 ('7206', '3781'),
 ('7207', '3781'),
 ('7217', '3781'),
 ('7218', '3781'),
 ('7220', '3781'),
 ('7222', '3781'),
 ('7567', '3781'),
 ('7756', '3781'),
 ('7774', '3781'),
 ('7777', '3781'),
 ('7782', '3781'),
 ('7786', '3781'),
 ('7798', '3781'),
 ('854', '3781'),
 ('8836', '3781'),
 ('9567', '3781'),
 ('9578', '3781'),
 ('963', '3781'),
 ('9756', '3781'),
 ('1', '417'),
 ('1062', '417'),
 ('1188', '417'),
 ('1377', '417'),
 ('1831', '417'),
 ('213', '417'),
 ('2257', '417'),
 ('2536', '417'),
 ('280', '417'),
 ('3117', '417'),
 ('3595', '417'),
 ('3781', '417'),
 ('4687', '417'),
 ('474', '417'),
 ('5081', '417'),
 ('518', '417'),
 ('5611', '417'),
 ('5690', '417'),
 ('570', '417'),
 ('5726', '417'),
 ('6073', '417'),
 ('6247', '417'),
 ('6538', '417'),
 ('6683', '417'),
 ('6686', '417'),
 ('688', '417'),
 ('7062', '417'),
 ('7091', '417'),
 ('7202', '417'),
 ('7205', '417'),
 ('7206', '417'),
 ('7207', '417'),
 ('7217', '417'),
 ('7218', '417'),
 ('7220', '417'),
 ('7222', '417'),
 ('7567', '417'),
 ('7756', '417'),
 ('7774', '417'),
 ('7777', '417'),
 ('7782', '417'),
 ('7786', '417'),
 ('7798', '417'),
 ('854', '417'),
 ('8836', '417'),
 ('9567', '417'),
 ('9578', '417'),
 ('963', '417'),
 ('9756', '417'),
 ('1', '4687'),
 ('1062', '4687'),
 ('1188', '4687'),
 ('1377', '4687'),
 ('1831', '4687'),
 ('213', '4687'),
 ('2257', '4687'),
 ('2536', '4687'),
 ('280', '4687'),
 ('3117', '4687'),
 ('3595', '4687'),
 ('3781', '4687'),
 ('417', '4687'),
 ('474', '4687'),
 ('5081', '4687'),
 ('518', '4687'),
 ('5611', '4687'),
 ('5690', '4687'),
 ('570', '4687'),
 ('5726', '4687'),
 ('6073', '4687'),
 ('6247', '4687'),
 ('6538', '4687'),
 ('6683', '4687'),
 ('6686', '4687'),
 ('688', '4687'),
 ('7062', '4687'),
 ('7091', '4687'),
 ('7202', '4687'),
 ('7205', '4687'),
 ('7206', '4687'),
 ('7207', '4687'),
 ('7217', '4687'),
 ('7218', '4687'),
 ('7220', '4687'),
 ('7222', '4687'),
 ('7567', '4687'),
 ('7756', '4687'),
 ('7774', '4687'),
 ('7777', '4687'),
 ('7782', '4687'),
 ('7786', '4687'),
 ('7798', '4687'),
 ('854', '4687'),
 ('8836', '4687'),
 ('9567', '4687'),
 ('9578', '4687'),
 ('963', '4687'),
 ('9756', '4687'),
 ('1', '474'),
 ('1062', '474'),
 ('1188', '474'),
 ('1377', '474'),
 ('1712', '474'),
 ('1831', '474'),
 ('213', '474'),
 ('2257', '474'),
 ('2536', '474'),
 ('280', '474'),
 ('3117', '474'),
 ('3595', '474'),
 ('3781', '474'),
 ('414', '474'),
 ('417', '474'),
 ('4687', '474'),
 ('5081', '474'),
 ('518', '474'),
 ('5611', '474'),
 ('5690', '474'),
 ('570', '474'),
 ('5726', '474'),
 ('6073', '474'),
 ('6247', '474'),
 ('6538', '474'),
 ('6683', '474'),
 ('6686', '474'),
 ('688', '474'),
 ('7062', '474'),
 ('7091', '474'),
 ('7202', '474'),
 ('7205', '474'),
 ('7206', '474'),
 ('7207', '474'),
 ('7217', '474'),
 ('7218', '474'),
 ('7220', '474'),
 ('7222', '474'),
 ('7567', '474'),
 ('7756', '474'),
 ('7774', '474'),
 ('7777', '474'),
 ('7782', '474'),
 ('7786', '474'),
 ('7798', '474'),
 ('854', '474'),
 ('8836', '474'),
 ('8940', '474'),
 ('9567', '474'),
 ('9578', '474'),
 ('963', '474'),
 ('9756', '474'),
 ('1', '5081'),
 ('1062', '5081'),
 ('1188', '5081'),
 ('1377', '5081'),
 ('1831', '5081'),
 ('213', '5081'),
 ('2257', '5081'),
 ('2536', '5081'),
 ('280', '5081'),
 ('3117', '5081'),
 ('3595', '5081'),
 ('3781', '5081'),
 ('417', '5081'),
 ('4687', '5081'),
 ('474', '5081'),
 ('518', '5081'),
 ('5611', '5081'),
 ('5690', '5081'),
 ('570', '5081'),
 ('5726', '5081'),
 ('6073', '5081'),
 ('6247', '5081'),
 ('6538', '5081'),
 ('6683', '5081'),
 ('6686', '5081'),
 ('688', '5081'),
 ('7062', '5081'),
 ('7091', '5081'),
 ('7202', '5081'),
 ('7205', '5081'),
 ('7206', '5081'),
 ('7207', '5081'),
 ('7217', '5081'),
 ('7218', '5081'),
 ('7220', '5081'),
 ('7222', '5081'),
 ('7567', '5081'),
 ('7756', '5081'),
 ('7774', '5081'),
 ('7777', '5081'),
 ('7782', '5081'),
 ('7786', '5081'),
 ('7798', '5081'),
 ('854', '5081'),
 ('8836', '5081'),
 ('9567', '5081'),
 ('9578', '5081'),
 ('963', '5081'),
 ('9756', '5081'),
 ('1', '518'),
 ('1062', '518'),
 ('1188', '518'),
 ('1377', '518'),
 ('1831', '518'),
 ('213', '518'),
 ('2257', '518'),
 ('2536', '518'),
 ('280', '518'),
 ('3117', '518'),
 ('3595', '518'),
 ('3781', '518'),
 ('417', '518'),
 ('4687', '518'),
 ('474', '518'),
 ('5081', '518'),
 ('5611', '518'),
 ('5690', '518'),
 ('570', '518'),
 ('5726', '518'),
 ('6073', '518'),
 ('6247', '518'),
 ('6538', '518'),
 ('6683', '518'),
 ('6686', '518'),
 ('688', '518'),
 ('7062', '518'),
 ('7091', '518'),
 ('7202', '518'),
 ('7205', '518'),
 ('7206', '518'),
 ('7207', '518'),
 ('7217', '518'),
 ('7218', '518'),
 ('7220', '518'),
 ('7222', '518'),
 ('7567', '518'),
 ('7756', '518'),
 ('7774', '518'),
 ('7777', '518'),
 ('7782', '518'),
 ('7786', '518'),
 ('7798', '518'),
 ('854', '518'),
 ('8836', '518'),
 ('9567', '518'),
 ...]

In [9]:
len(unique_flag)

578412

In [10]:
full_conc.shape

(4292670, 13)

In [27]:
dup_dfs.tail()

          id_l    id_r  id_l count
392645  237891  237867           2
392646  237891  237876           2
392647  237891  237886           2
392648  237891  237888           2
392649  237891  237890           2

In [46]:
dup_dfs = pd.concat(dfs_list)

match_tuples = list(zip(dup_dfs['id_l'], dup_dfs['id_r']))

sorted_match_tuples = []
for tup in match_tuples:
    s = tuple(sorted(tup))
    sorted_match_tuples.append(s)

dup_dfs.drop(['id_l','id_r'],axis=1,inplace=True)
dup_dfs['id_tuples'] = sorted_match_tuples

new_col_list = ['id_l','id_r']
for n,col in enumerate(new_col_list):
    dup_dfs[col] = dup_dfs['id_tuples'].apply(lambda location: location[n])
    
dup_dfs.drop('id_tuples',axis=1,inplace=True)
dup_dfs.drop_duplicates(inplace=True)

In [47]:
len(sorted_match_tuples)

4292670

In [52]:
dup_dfs.shape

(2146335, 3)

In [51]:
dup_dfs.drop_duplicates(inplace=True)

In [43]:
dup_dfs[(dup_dfs.id_l <> dup_dfs.id_l_new)]

,id_l,id_r,id_l count,"(id_l_new, id_r_new)",id tuples,id_l_new,id_r_new
171,1004,1003,2,<enumerate object at 0x00000000D8258BD0>,"(1003, 1004)",1003,1004
229,1007,1006,2,<enumerate object at 0x00000000D8258BD0>,"(1006, 1007)",1006,1007
245,1008,1006,2,<enumerate object at 0x00000000D8258BD0>,"(1006, 1008)",1006,1008
246,1008,1007,2,<enumerate object at 0x00000000D8258BD0>,"(1007, 1008)",1007,1008
263,1009,1006,2,<enumerate object at 0x00000000D8258BD0>,"(1006, 1009)",1006,1009
264,1009,1007,2,<enumerate object at 0x00000000D8258BD0>,"(1007, 1009)",1007,1009
265,1009,1008,2,<enumerate object at 0x00000000D8258BD0>,"(1008, 1009)",1008,1009
318,1010,1006,2,<enumerate object at 0x00000000D8258BD0>,"(1006, 1010)",1006,1010
319,1010,1007,2,<enumerate object at 0x00000000D8258BD0>,"(1007, 1010)",1007,1010
320,1010,1008,2,<enumerate object at 0x00000000D8258BD0>,"(1008, 1010)",1008,1010
321,1010,1009,2,<enumerate object at 0x00000000D8258BD0>,"(1009, 1010)",1009,1010
332,1011,1006,2,<enumerate object at 0x00000000D8258BD0>,"(1006, 1011)",1006,1011
333,1011,1007,2,<enumerate object at 0x00000000D8258BD0>,"(1007, 1011)",1007,1011
334,1011,1008,2,<enumerate object at 0x00000000D8258BD0>,"(1008, 1011)",1008,1011
335,1011,1009,3,<enumerate object at 0x00000000D8258BD0>,"(1009, 1011)",1009,1011
336,1011,1010,2,<enumerate object at 0x00000000D8258BD0>,"(1010, 1011)",1010,1011
385,1012,1009,2,<enumerate object at 0x00000000D8258BD0>,"(1009, 1012)",1009,1012
386,1012,1011,2,<enumerate object at 0x00000000D8258BD0>,"(1011, 1012)",1011,1012
472,1016,1015,2,<enumerate object at 0x00000000D8258BD0>,"(1015, 1016)",1015,1016
552,1022,10,2,<enumerate object at 0x00000000D8258BD0>,"(10, 1022)",10,1022
574,1023,1009,2,<enumerate object at 0x00000000D8258BD0>,"(1009, 1023)",1009,1023
575,1023,1011,2,<enumerate object at 0x00000000D8258BD0>,"(1011, 1023)",1011,1023
576,1023,1012,2,<enumerate object at 0x00000000D8258BD0>,"(1012, 1023)",1012,1023
699,1029,1000,2,<enumerate object at 0x00000000D8258BD0>,"(1000, 1029)",1000,1029
700,1029,1028,2,<enumerate object at 0x00000000D8258BD0>,"(1028, 1029)",1028,1029
750,1030,1029,2,<enumerate object at 0x00000000D8258BD0>,"(1029, 1030)",1029,1030
777,1031,1029,2,<enumerate object at 0x00000000D8258BD0>,"(1029, 1031)",1029,1031
788,1032,1029,2,<enumerate object at 0x00000000D8258BD0>,"(1029, 1032)",1029,1032
796,1033,1029,2,<enumerate object at 0x00000000D8258BD0>,"(1029, 1033)",1029,1033
797,1033,1030,3,<enumerate object at 0x00000000D8258BD0>,"(1030, 1033)",1030,1033
...,...,...,...,...,...,...,...
392620,237891,237695,2,<enumerate object at 0x00000000D8258BD0>,"(237695, 237891)",237695,237891
392621,237891,237718,2,<enumerate object at 0x00000000D8258BD0>,"(237718, 237891)",237718,237891
392622,237891,237720,2,<enumerate object at 0x00000000D8258BD0>,"(237720, 237891)",237720,237891
392623,237891,237722,2,<enumerate object at 0x00000000D8258BD0>,"(237722, 237891)",237722,237891
392624,237891,237734,2,<enumerate object at 0x00000000D8258BD0>,"(237734, 237891)",237734,237891
392625,237891,237737,2,<enumerate object at 0x00000000D8258BD0>,"(237737, 237891)",237737,237891
392626,237891,237741,2,<enumerate object at 0x00000000D8258BD0>,"(237741, 237891)",237741,237891
392627,237891,237742,2,<enumerate object at 0x00000000D8258BD0>,"(237742, 237891)",237742,237891
392628,237891,237745,2,<enumerate object at 0x00000000D8258BD0>,"(237745, 237891)",237745,237891
392629,237891,237750,2,<enumerate object at 0x00000000D8258BD0>,"(237750, 237891)",237750,237891
392630,237891,237751,2,<enumerate object at 0x00000000D8258BD0>,"(237751, 237891)",237751,237891
392631,237891,237754,2,<enumerate object at 0x00000000D8258BD0>,"(237754, 237891)",237754,237891
392632,237891,237763,2,<enumerate object at 0x00000000D8258BD0>,"(237763, 237891)",237763,237891
392633,237891,237772,2,<enumerate object at 0x00000000D8258BD0>,"(237772, 237891)",237772,237891
392634,237891,237781,2,<enumerate object at 0x00000000D8258BD0>,"(237781, 237891)",237781,237891
392635,237891,237802,2,<enumerate object at 0x00000000D8258BD0>,"(237802, 237891)",237802,237891
392636,237891,237807,2,<enumerate object at 0x00000000D8258BD0>,"(237807, 237891)",237807,237891
392637,237891,237811,2,<enumerate object at 0x00000000D8258BD0>,"(237811, 237891)",237811,237891
392638,237891,237817,2,<enumerate object at 0x00000000D8258BD0>,"(237817, 237891)",237817,237891
392639,237891,237822,2,<enumerate object at 0x00000000D8258BD0>,"(237822, 237891)",237822,237891
392640,237891,237828,2,<enumerate object at 0x00000000D8258BD0>,"(237828, 237891)",237828,237891
392641,237891,237830,2,<enumerate object at 0x00000000D8258BD0>,"(237830, 237891)",237830,237891
392642,237891,237840,2,<enumerate object at 0x00000000D8258BD0>,"(237840, 237891)",237840,237891
392643,237891,237859,2,<enumerate object at 0x00000000D8258BD0>,"(237859, 237891)",237859,237891
392644,237891,237862,2,<enumerate object at 0x00000000D8258BD0>,"(237862, 237891)",237862,237891
392645,237891,237867,2,<enumerate object at 0x00000000D8258BD0>,"(237867, 237891)",237867,237891
392646,237891,237876,2,<enumerate object at 0x00000000D8258BD0>,"(237876, 237891)",237876,237891
392647,237891,237886,2,<enumerate object at 0x00000000D8258BD0>,"(237886, 237891)",237886,237891
392648,237891,237888,2,<enumerate object at 0x00000000D8258BD0>,"(237888, 237891)",237888,237891
392649,237891,237890,2,<enumerate object at 0x00000000D8258BD0>,"(237890, 237891)",237890,237891

In [39]:
new_col_list = ['id_l_new','id_r_new']
for n,col in enumerate(new_col_list):
    dup_dfs[col] = dup_dfs['id tuples'].apply(lambda location: location[n])

In [28]:
test_df = pd.DataFrame(sorted_match_tuples)

In [29]:
test_df.tail()

              0       1
4292665  237867  237891
4292666  237876  237891
4292667  237886  237891
4292668  237888  237891
4292669  237890  237891

In [25]:
test_df.drop_duplicates(inplace=True)

In [26]:
test_df.shape

(2146335, 2)

In [26]:
full_conc[full_conc.id_l == '2733']

Empty DataFrame
Columns: [id_l, id_r, id_l count, l_org_name, l_city, l_state, l_postal_code, l_web, r_org_name, r_city, r_state, r_postal_code, r_web, jaro_score, fuzz_partial_score, fuzz_sort_score, fuzz_set_score, state_match, zip_match, composite_match_score]
Index: []

In [32]:
l_conc[l_conc.id_l=='2734']

Empty DataFrame
Columns: [id_l, id_r, id_l count, l_org_name, l_city, l_state, l_postal_code, l_web]
Index: []

In [27]:
dfs[(dfs.id_l=='2733') & (dfs.id_r=='2734')]

        id_l  id_r  id_l count
248406  2733  2734           9

In [30]:
l_conc[(l_conc.id_r=='2733') & (l_conc.id_l=='2734')]

Empty DataFrame
Columns: [id_l, id_r, id_l count, l_org_name, l_city, l_state, l_postal_code, l_web]
Index: []

In [38]:
l_conc.head()

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web
0,230001,230002,2,LEARN TO READ OF ST JOHNS COUNTY INC,Saint Augustine,fl,#N/A,#N/A
1,230001,230004,2,LEARN TO READ OF ST JOHNS COUNTY INC,Saint Augustine,fl,#N/A,#N/A
2,230001,230005,2,LEARN TO READ OF ST JOHNS COUNTY INC,Saint Augustine,fl,#N/A,#N/A
3,230001,230008,3,LEARN TO READ OF ST JOHNS COUNTY INC,Saint Augustine,fl,#N/A,#N/A
4,230001,230012,2,LEARN TO READ OF ST JOHNS COUNTY INC,Saint Augustine,fl,#N/A,#N/A

In [34]:
dfs.shape

(61678462, 3)

In [35]:
left_match_data[left_match_data.id_l=='2733']

Empty DataFrame
Columns: [id_l, l_org_name, l_city, l_state, l_postal_code, l_web]
Index: []

In [37]:
#define column names
org_id = 'Recipient_ID'
org_name = 'RecipientName'
org_address1 = 'AddressLine1Txt'
org_city = 'CityNm'
org_state = 'StateAbbreviationCd'
org_zip = 'Zip'
org_web = 'WebsiteAddressTxt'

#set parameters
token_match_min = 2 # minimum number of matched tokens to be considered a match
token_limiter = .99 # percent of non-single tokens to tokenize, where rare tokens are at the bottom and common at the top
name_weight = .75 #note that this is really .75 * 4 because there are 4 org name simularity metrics
state_weight = 1
zip_weight = 1
phone_weight = 1
composite_score_min = 3.5 #minimum composite match score to be considered a match

start_time = time.time()
print "LOADING INITIAL DATAFRAME..."

df = pd.read_csv('RecipientTableUpdated_1.30.19_utf.csv',keep_default_na=False)

df.rename(columns={org_id:'id',org_name:'org_name',org_address1:'address1',org_city:'city',org_state:'state',org_zip:'postal_code',org_web:'web'}, inplace=True)

print("Dataframe loaded --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "PRE-PROCESSING: NORMALIZE STATES..."
#normalize state codes
state_lkup = pd.read_csv('state_lkup.csv',keep_default_na=False)

from collections import defaultdict
state_dict = defaultdict(list)
for state, acronym in zip(state_lkup.state.values,state_lkup.acronym.values):
    state_dict[state].append(acronym)

df.state = df.state.str.lower()
df.state = df.state.replace(state_dict)
df.to_csv('org_dup_df.csv')

print("states normalized --- %s seconds ---" % (time.time() - start_time))
print ""

chunking_time = time.time()
print "TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS..."

n=0
dfs_list = []
for df in pd.read_csv('org_dup_df.csv',keep_default_na=False,chunksize=10000):
    
n=n+1
start_time = time.time()
print n

left_df_chunk = df.copy()
left_df_chunk.rename(columns={'org_name':'l_org_name','address1':'l_address1','city':'l_city','state':'l_state','postal_code':'l_postal_code','web':'l_web'}, inplace=True)

    # for the left dataset
left_tokenized_columns = [
    'l_org_name',
    #'l_acronym',
    #'l_alt_name',
    #'l_address1',
    #'l_address2',
    'l_city', 
    'l_state', 
    'l_postal_code',
    'l_web' 
    #'l_phone'
]

# lowercase the name and split on spaces, remove non-alphanumeric chars
def tokenize_name(name):
    if isinstance(name, basestring) is True:
        clean_name = ''.join(c if c.isalnum() else ' ' for c in name)
        return clean_name.lower().split()
    else:
        return name

unique_tokens = [] #we treat state and zips differently because we want to include ALl state and zip tokens as these are unique

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< add chosen unique columns here from each df
for word in left_df_chunk['l_state']:
    if isinstance(word, float) is False:
        unique_tokens.append(tokenize_name(str(word)))

for word in left_df_chunk['l_postal_code']:
    if isinstance(word, float) is False:
        unique_tokens.append(tokenize_name(str(word)))

#for word in left_df_chunk['l_acronym']:
#    if isinstance(word, float) is False:
#        unique_tokens.append(tokenize_name(str(word)))

#for word in left_df_chunk['l_phone']:
#    if isinstance(word, float) is False:
#        unique_tokens.append(tokenize_name(str(word)))
#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

unique_flat_list = [item for sublist in unique_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
u_cnt = Counter()
for token in unique_flat_list:
    u_cnt[token] += 1

u_cnt_dict = dict(u_cnt) #convert to dictionary

unique_tokens_df = pd.DataFrame(u_cnt_dict.items(), columns=['token', 'count'])
unique_tokens_df = unique_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

unique_token_flag = []
for index, value in enumerate(unique_tokens_df['count']):
    if value == 1:
        unique_token_flag.append(0)  #for any tokens occuring only once, we exclude
    else:
        unique_token_flag.append(1)

unique_tokens_df['flag'] = unique_token_flag        

all_other_words = [] #creating a list of all words used in just ONE of the dfs in selected columns, for counting to determine rarity

for word in left_df_chunk['l_org_name']:
    if isinstance(word, float) is False:
        all_other_words.append(tokenize_name(str(word)))

#for word in left_df_chunk['l_alt_name']:
#    if isinstance(word, float) is False:
#        all_other_words.append(tokenize_name(str(word)))

#for word in left_df_chunk['l_address1']:
#    if isinstance(word, float) is False:
#        all_other_words.append(tokenize_name(str(word)))

for word in left_df_chunk['l_city']:
    if isinstance(word, float) is False:
        all_other_words.append(tokenize_name(str(word)))

for word in left_df_chunk['l_web']:
    if isinstance(word, float) is False:
        all_other_words.append(tokenize_name(str(word)))

flat_list = [item for sublist in all_other_words for item in sublist] #flatten list so it can be counted

#instantiate counter and use to count word frequencies in flat list
cnt = Counter()
for token in flat_list:
    cnt[token] += 1

cnt_dict = dict(cnt) #convert to dictionary

main_tokens_df = pd.DataFrame(cnt_dict.items(), columns=['token', 'count'])
main_tokens_df = main_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

main_token_flag = []
for index, value in enumerate(main_tokens_df['count']):
    if value == 1:
        main_token_flag.append(0)  #for any tokens occuring only once, we exclude
    elif index < int(main_tokens_df.shape[0] * token_limiter): #important line, we are cutting the top x% of frequently occuring tokens
        main_token_flag.append(1)
    else:
        main_token_flag.append(0)  #for the most common tokens, we exclude

main_tokens_df['flag'] = main_token_flag

all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

all_tokens.drop('count',axis=1,inplace=True)
all_tokens['flag'] = all_tokens.flag.astype(int) #converting flags to int
tokens_dct = all_tokens.to_dict('split') #converting tokens_df to dictionary
tokens_dct=dict(tokens_dct['data']) #honestly can't remember why this works, something to do with conversion to dictionary

#preparing token_ids which will be used for joining left and right dfs
all_tokens.sort_values(by='flag',ascending=False,inplace=True)
all_tokens.drop_duplicates(subset='token',keep='first',inplace=True)
token_ids = all_tokens.index.get_level_values(0)
all_tokens['token_id'] = token_ids

all_tokens.drop('flag',axis=1,inplace=True)
all_tokens['token_id'] = all_tokens.token_id.astype(int)
token_id_dct = all_tokens.to_dict('split')
tokens_id_dct=dict(token_id_dct['data'])

vocabulary = np.array([w for w, c in tokens_dct.items() if c ==1]) #this works even without the ==1 and I don't know why
cv = CountVectorizer( vocabulary=vocabulary)

frame_list = []
for colname in left_tokenized_columns:
    tokenmapping = cv.fit_transform(left_df_chunk[colname])
    df_row, token_id = tokenmapping.nonzero()

    frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df_chunk['id'].values[df_row]]).T, columns = ['token', 'id']))

left_keyed = pd.concat(frame_list)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)
left_keyed.drop('token',axis=1,inplace=True)

aggregations = {
    'id_l': 'count'
}

right_keyed = left_keyed.copy()
joined = left_keyed.join(right_keyed, how='inner',lsuffix='_l',rsuffix='_r')
keys_grouped = joined.groupby(by=['id_l', 'id_r']).agg(aggregations)
keys_grouped.rename(columns={'id_l':'id_l count'}, inplace=True)
matched_records = keys_grouped[keys_grouped['id_l count'] >= token_match_min]
matched_records.reset_index(inplace=True)
duplicate_candidates = matched_records[matched_records['id_l'] <> matched_records['id_r']]

#add chunk duplicate candidates to df list
dfs_list.append(duplicate_candidates)

print("chunk loaded --- %s seconds ---" % (time.time() - start_time))
    
dup_dfs = pd.concat(dfs_list)
print("All chunks loaded --- %s seconds ---" % (time.time() - chunking_time))
print ""

start_time = time.time()
print "REMOVING REDUNDANT DUPLICATE ID PAIRS..."

match_tuples = list(zip(dup_dfs['id_l'], dup_dfs['id_r']))

sorted_match_tuples = []
for tup in match_tuples:
    s = tuple(sorted(tup))
    sorted_match_tuples.append(s)

dup_dfs.drop(['id_l','id_r'],axis=1,inplace=True)
dup_dfs['id_tuples'] = sorted_match_tuples

new_col_list = ['id_l','id_r']
for n,col in enumerate(new_col_list):
    dup_dfs[col] = dup_dfs['id_tuples'].apply(lambda location: location[n])
    
dup_dfs.drop('id_tuples',axis=1,inplace=True)
dup_dfs.drop_duplicates(inplace=True)

print("redundant id pairs removed --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "APPENDING ORIGINAL DATA TO MATCH CANDIDATES..."

left_df = pd.read_csv('org_dup_df.csv')
right_df = left_df.copy()
left_df.rename(columns={'id':'id_l','org_name':'l_org_name','address1':'l_address1','city':'l_city','state':'l_state','postal_code':'l_postal_code','web':'l_web'}, inplace=True)
right_df.rename(columns={'id':'id_r','org_name':'r_org_name','address1':'r_address1','city':'r_city','state':'r_state','postal_code':'r_postal_code','web':'r_web'}, inplace=True)

#creating left/right dataframes which contain only the most relevant details for reviewing the match strengths
left_match_data = left_df[['id_l','l_org_name','l_city','l_state','l_postal_code','l_web']].copy()
right_match_data = right_df[['id_r','r_org_name','r_city','r_state','r_postal_code','r_web']].copy()

#making sure keys are str, results in blank df otherwise
left_match_data.id_l = left_match_data.id_l.astype('str')
right_match_data.id_r = right_match_data.id_r.astype('str')
dup_dfs.id_l = dup_dfs.id_l.astype('str')
dup_dfs.id_r = dup_dfs.id_r.astype('str')

#merging matched_records df with original record data for ease of review
l_conc = pd.merge(dup_dfs, left_match_data, on='id_l')
full_conc = pd.merge(l_conc, right_match_data, on='id_r')

print("original data concatenated with matches --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "SCORING ORG NAME SIMULARITY..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on edit distance of org names
def jaro_simularity(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return jaro_winkler(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '')
def fuzz_partial(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return fuzz.partial_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_sort(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return fuzz.token_sort_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_set(left_record, right_record):
    if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
        return fuzz.token_set_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)

full_conc['l_org_name'] = full_conc['l_org_name'].astype('str')
full_conc['r_org_name'] = full_conc['r_org_name'].astype('str')

jaro_time = time.time()
full_conc['jaro_score'] = full_conc.apply(lambda x: jaro_simularity(x.l_org_name, x.r_org_name), axis=1)
print("jaro scores done --- %s seconds ---" % (time.time() - jaro_time))
partial_time = time.time()
full_conc['fuzz_partial_score'] = full_conc.apply(lambda x: fuzz_partial(x.l_org_name, x.r_org_name), axis=1)
print("fuzz partial scores done --- %s seconds ---" % (time.time() - partial_time))
sort_time = time.time()
full_conc['fuzz_sort_score'] = full_conc.apply(lambda x: fuzz_sort(x.l_org_name, x.r_org_name), axis=1)
print("fuzz sort scores done --- %s seconds ---" % (time.time() - sort_time))
set_time = time.time()
full_conc['fuzz_set_score'] = full_conc.apply(lambda x: fuzz_set(x.l_org_name, x.r_org_name), axis=1)
print("fuzz set scores done --- %s seconds ---" % (time.time() - set_time))
print ""

print("name simularity scored --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR STATE CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

def sanitize_state(state):
    if isinstance(state,basestring) is True:
        return ''.join(c for c in (state or '') if c in 'abcdefghijklmnopqrstuvwxyz')
    else:
        return ''
    
def state_match(state_a, state_b):
    sanitized_state_a = str(sanitize_state(state_a))
    sanitized_state_b = str(sanitize_state(state_b))

    # if the value is too short, means it's fubar
    if len(sanitized_state_a) < 2 or len(sanitized_state_b) < 2:
        return 0
    if state_a == state_b:
        return 1
    else:
        return 0    

full_conc['state_match'] = full_conc.apply(lambda x: state_match(x.l_state, x.r_state), axis=1)

print("state codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR POSTAL CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching postal code

def sanitize_postal(postal):
    if isinstance(postal, basestring) is True:
        return ''.join(c for c in (postal or '') if c in '1234567890')
    if isinstance(postal, float) is False:
        return postal

def postal_simularity(postal_a, postal_b):
    sanitized_postal_a = str(sanitize_postal(postal_a))
    sanitized_postal_b = str(sanitize_postal(postal_b))

    # if the number is too short, means it's fubar
    if len(sanitized_postal_a) < 5 or len(sanitized_postal_b) < 5:
        return 0
    if float(max(len(sub) for sub in find_common_subsequences(sanitized_postal_a, sanitized_postal_b))) / 5 >= 1:
        return 1
    else:
        return 0
    
full_conc['zip_match'] = full_conc.apply(lambda x: postal_simularity(x.l_postal_code, x.r_postal_code), axis=1)
    
print("postal codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

#start_time = time.time()
#print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching postal code

#def sanitize_phone(phone):
#    if isinstance(phone, basestring) is True:
#        return ''.join(c for c in (phone or '') if c in '1234567890')
#    if isinstance(phone, float) is False:
#        return phone

#def postal_simularity(phone_a, phone_b):
#    sanitized_phone_a = str(sanitize_phone(phone_a))
#    sanitized_phone_b = str(sanitize_phone(phone_b))

    # if the number is too short, means it's fubar
#    if len(sanitized_phone_a) < 10 or len(sanitized_phone_b) < 10:
#        return 0
#    if float(max(len(sub) for sub in find_common_subsequences(sanitized_phone_a, sanitized_phone_b))) / 10 >= 1:
#        return 1
#    else:
#        return 0
    
#full_conc['phone_match'] = full_conc.apply(lambda x: phone_simularity(x.l_phone, x.r_phone), axis=1)
    
#print("phones checked --- %s seconds ---" % (time.time() - start_time))
#print ""

#test this.  may need to make more efficient but I think it should work
start_time = time.time()
print "DISTILLING STRONG ORG DUPLICATES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#calculate composite match score based on component scores and weights
full_conc['composite_match_score'] = full_conc.jaro_score * name_weight \
+ full_conc.fuzz_partial_score * name_weight \
+ full_conc.fuzz_sort_score * name_weight \
+ full_conc.fuzz_set_score * name_weight \
+ full_conc.zip_match * zip_weight \
+ full_conc.state_match * state_weight \
#+ full_conc.phone_match * phone_weight

org_duplicates = full_conc[full_conc.composite_match_score >= composite_score_min]

print("final duplicates isolated --- %s seconds ---" % (time.time() - start_time))
print ""

#full_conc[full_conc.composite_match_score < 3].sort_values(by='composite_match_score', ascending=False)
org_duplicates.sort_values(by='composite_match_score', ascending=False)

(7891, 16)