In [1]:
import pandas as pd
import numpy as np
import math
from jellyfish import jaro_winkler
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from py_common_subseq import find_common_subsequences
import numbers
import time
from collections import Counter 
from fuzzywuzzy import fuzz
import re

In [ ]:
#NOTES
#removing duplicate token-ID keys inplace caused some strange ID issue, so I am not removing duplicates anymore.  could be improved.

In [2]:
asae = pd.read_table('asae.txt')

In [189]:
import io
import shutil

with io.open('all cupola orgs w phone_db.csv', encoding='utf-8', errors='ignore') as source:
    with io.open('all cupola orgs w phone_db_utf.csv', mode='w', encoding='utf-8') as target:
        shutil.copyfileobj(source,target)
        
with io.open('ASAE neighborworks test.txt', encoding='utf-8', errors='ignore') as source:
    with io.open('asae_utf.txt', mode='w', encoding='utf-8') as target:
        shutil.copyfileobj(source,target)

In [98]:
#define column names
l_id = 'organization_id'
l_name = 'org_name'
l_address1 = 'address1'
l_city = 'city'
l_state = 'state'
l_zip = 'postal_code'
l_phone = 'phone'
l_web = 'website'
l_acronym = 'acronym'
l_alt_name = 'alt_name'

r_id = 'CompanyID'
r_name = 'Name'
r_address1 = 'Address Line 1'
r_city = 'City'
r_state = 'State'
r_zip = 'Zip Code'
#r_phone = 'PHONE'
r_web = 'WebSite'
#r_acronym = 'CBI_Acronym'

#set parameters
token_match_min = 2 # minimum number of matched tokens to be considered a match
token_limiter = .999 # percent of non-single tokens to tokenize, where rare tokens are at the bottom and common at the top
unique_token_freq_max = 5 #threshold <= to a token is considered "unique" and links to these tokens are counted double
name_weight = .75 #note that this is really .75 * 4 because there are 4 org name simularity metrics
name_uniqueness_weight = 1.5
state_weight = 1
zip_weight = 1
phone_weight = 2
domain_weight = 2
name_score_min = 3
composite_score_min = 4 #minimum composite match score to be considered a match

start_time = time.time()
print "LOADING INITIAL DATAFRAMES..."

left_df = pd.read_csv('all cupola orgs w phone_db_utf.csv',keep_default_na=False)
right_df = pd.read_table('asae_utf.txt',keep_default_na=False,error_bad_lines=False)

left_df.rename(columns={l_id:'id',l_name:'l_org_name',l_address1:'l_address1',l_city:'l_city',l_state:'l_state',l_zip:'l_postal_code',l_web:'l_web',l_phone:'l_phone',l_acronym:'l_acronym',l_alt_name:'l_alt_name'}, inplace=True)
right_df.rename(columns={r_id:'id',r_name:'r_org_name',r_address1:'r_address1',r_city:'r_city',r_state:'r_state',r_zip:'r_postal_code',r_web:'r_web'}, inplace=True)

print("Dataframes loaded --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "PRE-PROCESSING..."
#normalize state codes
state_lkup = pd.read_csv('state_lkup.csv',keep_default_na=False)

from collections import defaultdict
state_dict = defaultdict(list)
for state, acronym in zip(state_lkup.state.values,state_lkup.acronym.values):
    state_dict[state].append(acronym)

left_df.l_state = left_df.l_state.str.lower()
left_df.l_state = left_df.l_state.replace(state_dict)
right_df.r_state = right_df.r_state.str.lower()
right_df.r_state = right_df.r_state.replace(state_dict)

#clean up non numeric characters in phones
l_clean_phones = []
for phone in left_df.l_phone:
    l_clean_phones.append(re.sub('[^0-9]','', phone))
    
left_df['l_clean_phone'] = l_clean_phones

#r_clean_phones = []
#for phone in right_df.r_phone:
#    r_clean_phones.append(re.sub('[^0-9]','', phone))

#right_df['r_clean_phone'] = r_clean_phones

#isolate domains from web URLs
l_domains = []
for web in left_df.l_web:
    l_domains.append(web.split('//')[-1].split('/')[0].strip('www.'))
left_df['l_domain'] = l_domains
    
r_domains = []
for web in right_df.r_web:
    r_domains.append(web.split('//')[-1].split('/')[0].strip('www.'))
right_df['r_domain'] = r_domains

print("states, phones, domains normalized --- %s seconds ---" % (time.time() - start_time))
print ""


start_time = time.time()
print "TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS..."

left_unique_token_columns = [ #tokens here circumvent the token_limiter which is cutting off the most commonly occuring tokens
    'l_state', 
    'l_postal_code',
    #'l_clean_phone'

]

left_delta_token_columns = [
    'l_acronym',
    'l_org_name',
    'l_alt_name',
    #'l_address1',
    #'l_address2',
    'l_city',
    'l_domain'
]

right_unique_token_columns = [
    'r_state', 
    'r_postal_code',
    #'r_clean_phone'
]

right_delta_token_columns = [
    #'r_acronym',
    'r_org_name',
    #'r_alt_name',
    #'r_address1',
    #'r_address2',
    'r_city',
    'r_domain'
]

# lowercase the name and split on spaces, remove non-alphanumeric chars
def tokenize_name(name):
    if isinstance(name, basestring) is True:
        clean_name = ''.join(c if c.isalnum() else ' ' for c in name)
        return clean_name.lower().split()
    else:
        return name
    
unique_tokens = []    
for col in left_unique_token_columns:
    for word in left_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
for col in right_unique_token_columns:
    for word in right_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
unique_flat_list = [item for sublist in unique_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
u_cnt = Counter()
for token in unique_flat_list:
    u_cnt[token] += 1

u_cnt_dict = dict(u_cnt) #convert to dictionary

unique_tokens_df = pd.DataFrame(u_cnt_dict.items(), columns=['token', 'count'])
unique_tokens_df = unique_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

#consider waiting to do the count flag thing later, instead use some type of "token type" code
unique_token_flag = []
for index, value in enumerate(unique_tokens_df['count']):
    if value == 1:
        unique_token_flag.append(0)  #for any tokens occuring only once, we exclude
    else:
        unique_token_flag.append(1)

unique_tokens_df['flag'] = unique_token_flag        

all_other_words = []
for col in left_delta_token_columns:
    for word in left_df[col]:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))
            
for col in right_delta_token_columns:
    for word in right_df[col]:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))
            
flat_list = [item for sublist in all_other_words for item in sublist] #flatten list so it can be counted

#instantiate counter and use to count word frequencies in flat list
cnt = Counter()
for token in flat_list:
    cnt[token] += 1

cnt_dict = dict(cnt) #convert to dictionary

main_tokens_df = pd.DataFrame(cnt_dict.items(), columns=['token', 'count'])
main_tokens_df = main_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

#wait to do count until joined with unique tokens?
main_token_flag = []
for index, value in enumerate(main_tokens_df['count']):
    if value == 1:
        main_token_flag.append(0)  #for any tokens occuring only once, we exclude
    elif index < int(main_tokens_df.shape[0] * token_limiter): #important line, we are cutting the top x% of frequently occuring tokens
        main_token_flag.append(1)
    else:
        main_token_flag.append(0)  #for the most common tokens, we exclude

main_tokens_df['flag'] = main_token_flag

all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

all_tokens.drop('count',axis=1,inplace=True)
all_tokens['flag'] = all_tokens.flag.astype(int) #converting flags to int
tokens_dct = all_tokens.to_dict('split') #converting tokens_df to dictionary
tokens_dct=dict(tokens_dct['data']) #honestly can't remember why this works, something to do with conversion to dictionary

#preparing token_ids which will be used for joining left and right dfs
all_tokens.sort_values(by='flag',ascending=False,inplace=True)
all_tokens.sort_values(by='token',inplace=True)
all_tokens.drop_duplicates(subset='token',keep='first',inplace=True)
token_ids = all_tokens.index.get_level_values(0)
all_tokens['token_id'] = token_ids

all_tokens.drop('flag',axis=1,inplace=True)
all_tokens['token_id'] = all_tokens.token_id.astype(int)
token_id_dct = all_tokens.to_dict('split')
tokens_id_dct=dict(token_id_dct['data'])

vocabulary = np.array([w for w, c in tokens_dct.items() if c ==1]) #this works even without the ==1 and I don't know why
cv = CountVectorizer( vocabulary=vocabulary)

#now we are ready to tokenize left and right dataframes
all_left_cols = left_unique_token_columns + left_delta_token_columns

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates()#inplace=True)
#removing duplicates inplace was giving me a very strange issue where a small percentage of token_ids would be excluded from the left_keyed index

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)
left_keyed.drop('token',axis=1,inplace=True)

all_right_cols = right_unique_token_columns + right_delta_token_columns

right_frame_list = []
for colname in all_right_cols:
    tokenmapping = cv.fit_transform(right_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    right_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], right_df['id'].values[df_row]]).T, columns = ['token', 'id_r']))

right_keyed = pd.concat(right_frame_list)
right_keyed.drop_duplicates()#inplace=True)

#append token_id to token as this will be more efficient to join with
right_token_ids = []
for token in right_keyed.token:
    right_token_ids.append(tokens_id_dct[token])

right_keyed['token_id'] = right_token_ids
right_keyed.sort_values(by='token_id',inplace=True)
right_keyed.set_index('token_id',inplace=True)
right_keyed.drop('token',axis=1,inplace=True)

aggregations = {
    'id_l': 'count'
}

joined = left_keyed.join(right_keyed, how='inner',lsuffix='_l',rsuffix='_r')
#double-counting unique token matches
bonus_point_tokens = []
for token in main_tokens_df[(main_tokens_df['count'] > 1) & (main_tokens_df['count']<=unique_token_freq_max)].token:
    bonus_point_tokens.append(tokens_id_dct[token])

intersection_bonus_tokens = set(bonus_point_tokens).intersection(set(list(joined.index)))    
    
bonus_token_joins = []
for token_id in intersection_bonus_tokens:
    bonus_token_joins.append(joined.loc[token_id])
    
bonus_joins = pd.concat(bonus_token_joins)
bonus_joins_cols = bonus_joins[['id_l','id_r']].copy()
bonus_joins_cols.dropna(inplace=True)
joined_bonus = pd.concat([joined,bonus_joins_cols])

keys_grouped = joined_bonus.groupby(by=['id_l', 'id_r']).agg(aggregations)
keys_grouped.rename(columns={'id_l':'id_l count'}, inplace=True)
matched_records = keys_grouped[keys_grouped['id_l count'] >= token_match_min]
matched_records.reset_index(inplace=True)

print("match candidates identified --- %s seconds ---" % (time.time() - start_time))

left_df.rename(columns={'id':'id_l'},inplace=True)
right_df.rename(columns={'id':'id_r'},inplace=True)

left_match_data = left_df[['id_l','l_org_name','l_city','l_state','l_postal_code','l_domain','l_clean_phone']].copy()
right_match_data = right_df[['id_r','r_org_name','r_city','r_state','r_postal_code','r_domain']].copy()

#making sure keys are str, results in blank df otherwise
left_match_data.id_l = left_match_data.id_l.astype('str')
right_match_data.id_r = right_match_data.id_r.astype('str')
matched_records.id_l = matched_records.id_l.astype('str')
matched_records.id_r = matched_records.id_r.astype('str')

#merging matched_records df with original record data for ease of review
l_conc = pd.merge(matched_records, left_match_data, on='id_l')
full_conc = pd.merge(l_conc, right_match_data, on='id_r')

print("original data concatenated with matches --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "SCORING ORG NAME SIMULARITY..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on edit distance of org names
def jaro_simularity(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return jaro_winkler(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '')
def fuzz_partial(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return fuzz.partial_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_sort(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return fuzz.token_sort_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_set(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return fuzz.token_set_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)

full_conc['l_org_name'] = full_conc['l_org_name'].astype('str')
full_conc['r_org_name'] = full_conc['r_org_name'].astype('str')

jaro_time = time.time()
full_conc['jaro_score'] = full_conc.apply(lambda x: jaro_simularity(x.l_org_name, x.r_org_name), axis=1)
print("jaro scores done --- %s seconds ---" % (time.time() - jaro_time))
partial_time = time.time()
full_conc['fuzz_partial_score'] = full_conc.apply(lambda x: fuzz_partial(x.l_org_name, x.r_org_name), axis=1)
print("fuzz partial scores done --- %s seconds ---" % (time.time() - partial_time))
sort_time = time.time()
full_conc['fuzz_sort_score'] = full_conc.apply(lambda x: fuzz_sort(x.l_org_name, x.r_org_name), axis=1)
print("fuzz sort scores done --- %s seconds ---" % (time.time() - sort_time))
set_time = time.time()
full_conc['fuzz_set_score'] = full_conc.apply(lambda x: fuzz_set(x.l_org_name, x.r_org_name), axis=1)
print("fuzz set scores done --- %s seconds ---" % (time.time() - set_time))
print ""

print("name simularity scored --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "SCORING NAME SEQUENCE UNIQUENESS..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

org_tokens = []    
for word in left_df['l_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))

for word in right_df['r_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))
            
org_flat_list = [item for sublist in org_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
org_cnt = Counter()
for token in org_flat_list:
    org_cnt[token] += 1

org_cnt_dict = dict(org_cnt) #convert to dictionary

def sequence_uniqueness(seq):
    return sum(1/org_cnt_dict[str.lower(t)]**0.5 for t in seq)

def name_similarity(a, b):
    a_tokens = set(tokenize_name(a))
    b_tokens = set(tokenize_name(b))
    a_uniq = sequence_uniqueness(a_tokens)
    b_uniq = sequence_uniqueness(b_tokens)

    return sequence_uniqueness(a_tokens.intersection(b_tokens))/(a_uniq * b_uniq) ** 0.5

full_conc['uniq'] = full_conc.apply(lambda x: name_similarity(x.l_org_name, x.r_org_name), axis=1)

print("name uniqueness scored --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR STATE CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

def sanitize_state(state):
    if isinstance(state,basestring) is True:
        return ''.join(c for c in (state or '') if c in 'abcdefghijklmnopqrstuvwxyz')
    else:
        return ''
    
def state_match(state_a, state_b):
    sanitized_state_a = str(sanitize_state(state_a))
    sanitized_state_b = str(sanitize_state(state_b))

    # if the value is too short, means it's fubar
    if len(sanitized_state_a) < 2 or len(sanitized_state_b) < 2:
        return 0
    if state_a == state_b:
        return 1
    else:
        return 0    

full_conc['state_match'] = full_conc.apply(lambda x: state_match(x.l_state, x.r_state), axis=1)

print("state codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR POSTAL CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching postal code

def sanitize_postal(postal):
    if isinstance(postal, basestring) is True:
        return ''.join(c for c in (postal or '') if c in '1234567890')
    if isinstance(postal, float) is False:
        return postal

def postal_simularity(postal_a, postal_b):
    sanitized_postal_a = str(sanitize_postal(postal_a))
    sanitized_postal_b = str(sanitize_postal(postal_b))

    # if the number is too short, means it's fubar
    if len(sanitized_postal_a) < 5 or len(sanitized_postal_b) < 5:
        return 0
    if float(max(len(sub) for sub in find_common_subsequences(sanitized_postal_a, sanitized_postal_b))) / 5 >= 1:
        return 1
    else:
        return 0
    
full_conc['zip_match'] = full_conc.apply(lambda x: postal_simularity(x.l_postal_code, x.r_postal_code), axis=1)
    
print("postal codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR WEB DOMAIN MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

def domain_match(domain_a, domain_b):
    if isinstance(domain_a, basestring) is True and isinstance(domain_b, basestring) is True:
        if domain_a == domain_b:
            return 1
        else:
            return 0

full_conc['domain_match'] = full_conc.apply(lambda x: domain_match(x.l_domain, x.r_domain), axis=1)

print("web domains checked --- %s seconds ---" % (time.time() - start_time))
print ""

#start_time = time.time()
#print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching phone
#def phone_simularity(phone_a, phone_b):

#if the number is too short, means it's fubar
#    if len(phone_a) < 10 or len(phone_b) < 10:
#        return 0
#    if float(max(len(sub) for sub in find_common_subsequences(phone_a, phone_b))) / 10 >= 1:
#        return 1
#    else:
#        return 0
    
#full_conc['phone_match'] = full_conc.apply(lambda x: phone_simularity(x.l_clean_phone, x.r_clean_phone), axis=1)
    
#print("phones checked --- %s seconds ---" % (time.time() - start_time))
#print ""

#test this.  may need to make more efficient but I think it should work
start_time = time.time()
print "DISTILLING STRONG ORG MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

full_conc['overall_name_score'] = full_conc.jaro_score * name_weight \
+ full_conc.fuzz_partial_score * name_weight \
+ full_conc.fuzz_sort_score * name_weight \
+ full_conc.fuzz_set_score * name_weight \
+ full_conc.uniq * name_uniqueness_weight

#calculate composite match score based on component scores and weights
full_conc['composite_match_score'] = full_conc.overall_name_score \
+ full_conc.zip_match * zip_weight \
+ full_conc.state_match * state_weight \
+ full_conc.domain_match * domain_weight \
#+ full_conc.phone_match * phone_weight

org_matches = full_conc[(full_conc.overall_name_score >= name_score_min) | (full_conc.composite_match_score >= composite_score_min)]

print("final matches isolated --- %s seconds ---" % (time.time() - start_time))
print ""

#full_conc[full_conc.composite_match_score < 3].sort_values(by='composite_match_score', ascending=False)
org_matches.sort_values(by='composite_match_score', ascending=False)

LOADING INITIAL DATAFRAMES...
Dataframes loaded --- 0.488999843597 seconds ---

PRE-PROCESSING...
states, phones, domains normalized --- 1.05800008774 seconds ---

TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS...
match candidates identified --- 18.1650002003 seconds ---
original data concatenated with matches --- 20.7710001469 seconds ---

SCORING ORG NAME SIMULARITY...
jaro scores done --- 46.6349999905 seconds ---
fuzz partial scores done --- 102.887000084 seconds ---
fuzz sort scores done --- 93.3869998455 seconds ---
fuzz set scores done --- 89.0720000267 seconds ---

name simularity scored --- 332.265000105 seconds ---

SCORING NAME SEQUENCE UNIQUENESS...
name uniqueness scored --- 66.2699999809 seconds ---

CHECKING FOR STATE CODE MATCHES...
state codes checked --- 52.5429999828 seconds ---

CHECKING FOR POSTAL CODE MATCHES...
postal codes checked --- 97.7690000534 seconds ---

CHECKING FOR WEB DOMAIN MATCHES...
web domains checked --- 33.2909998894 seconds ---

DISTILLING STRONG ORG MATCHES...
final matches isolated --- 0.220999956131 seconds ---

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_domain,l_clean_phone,r_org_name,...,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,uniq,state_match,zip_match,domain_match,overall_name_score,composite_match_score
453277,20765,514700,9,National Institute of Building Sciences,Washington,dc,20005-4950,nibs.org,2022897800,National Institute of Building Sciences,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
839633,23173,35274900,11,Commercial Vehicle Safety Alliance,Greenbelt,md,20770-6319,cvsa.org,3018306143,Commercial Vehicle Safety Alliance,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
606752,22456,8048200,8,National Oilseed Processors Association,Washington,dc,20005,nopa.org,2028420463,National Oilseed Processors Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
823903,56111,768300,5,Washington State Veterinary Medical Association,Snoqualmie,wa,98065,svma.org,4253963191,Washington State Veterinary Medical Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
822689,15838,6612300,7,American College of Healthcare Executives,Chicago,il,60606-6698,ache.org,3124242800,American College of Healthcare Executives,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
819616,60202,41002500,7,LeadingAge Oklahoma,El Reno,ok,73036,leadingageok.org,4056408040,LeadingAge Oklahoma,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
619590,22689,8239800,12,National Association of Clean Water Agencies,Washington,dc,20036-2505,nacwa.org,2028332672,National Association of Clean Water Agencies,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
790016,52786,100013458,7,National Academy of Neuropsychology,Denver,co,80231,nanonline.org,3036913694,National Academy of Neuropsychology,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
791378,69562,24570800,9,Professional Association of Therapeutic Horsem...,Denver,co,80233,pathintl.org,3034521212,Professional Association of Therapeutic Horsem...,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
848534,58515,14965700,5,Nevada Justice Association,Carson City,nv,89701-5080,nevadajustice.org,7758833577,Nevada Justice Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
301414,22514,2345000,8,American Land Title Association,Washington,dc,20036-5828,alta.org,2022963671,American Land Title Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
865814,60772,8195800,9,Home Builders Association of Iowa,Des Moines,ia,50309,hbaiowa.org,5152780255,Home Builders Association of Iowa,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
857377,60877,6117400,8,Virginia Recreation and Park Society,Mechanicsville,va,23111,vrps.com,8047309447,Virginia Recreation and Park Society,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
630656,16834,8279700,5,Pharmaceutical Care Management Association,Washington,dc,20004,pcmanet.org,2027565700,Pharmaceutical Care Management Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
402353,20794,475300,7,National Association of Conservation Districts,Washington,dc,20002-4937,nacdnet.org,2025476223,National Association of Conservation Districts,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
817917,49844,100052999,12,American Society of Regional Anesthesia and Pa...,Pittsburgh,pa,15276,asra.com,4124712718,American Society of Regional Anesthesia and Pa...,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
817529,55098,9696100,8,California Water Environment Association,Oakland,ca,94621,cwea.org,5103827800,California Water Environment Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
817259,91955,484100,10,Plumbing-Heating-Cooling Contractors Association,Falls Church,va,22046,phccweb.org,7032378100,Plumbing-Heating-Cooling Contractors Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
815998,14731,2694800,8,American Industrial Hygiene Association,Falls Church,va,22042,aiha.org,7038498888,American Industrial Hygiene Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
866120,50542,100007605,9,International Association for Healthcare Secur...,Chicago,il,60631,iahss.org,6305293913,International Association for Healthcare Secur...,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
748451,71327,100049742,7,Mechanical Contractors Association of Kansas City,Overland Park,ks,66210,mcakc.org,9139489200,Mechanical Contractors Association of Kansas City,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
815725,61229,100022457,7,Washington Metropolitan Chapter Community Asso...,Falls Church,va,22043,caidc.org,7037503644,Washington Metropolitan Chapter Community Asso...,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
814805,14142,35024100,5,American Association for Geriatric Psychiatry,McLean,va,22101,aagponline.org,7035569222,American Association for Geriatric Psychiatry,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
814433,23119,45188500,9,North American Society for Trenchless Technology,Cleveland,oh,44111,nastt.org,2165708711,North American Society for Trenchless Technology,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
856323,52840,41856000,8,Graduate Management Admission Council,Reston,va,20195,gmac.com,7036689600,Graduate Management Admission Council,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
855376,13459,40109900,8,American Society of Civil Engineers,Reston,va,20191-4400,asce.org,7032956300,American Society of Civil Engineers,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
854941,13973,344900,10,Industrial Designers Society of America,Herndon,va,20170,idsa.org,7037076000,Industrial Designers Society of America,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
847927,62842,6413800,10,Cable and Telecommunications Association for M...,National Harbor,md,20745,ctam.com,3014858900,Cable and Telecommunications Association for M...,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
788880,58037,3085100,7,Virginia Association of Museums,Richmond,va,23221-3504,vamuseums.org,8043583170,Virginia Association of Museums,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
824323,59743,28065100,7,Minnesota Chiefs of Police Association,New Brighton,mn,55112,mnchiefs.org,,Minnesota Chiefs of Police Association,...,1.000000,1.00,1.00,1.00,1.000000,1,1,1,4.500000,8.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599620,62952,6898900,2,National ALEC Association/ Prepaid Communicati...,Washington,dc,20006-1851,nala-pca.org,2028623773,National Association of Independent Schools,...,0.820402,0.60,0.50,0.63,0.058882,1,1,0,2.001124,4.001124
378073,22982,43300,2,Specialty Equipment Market Association,Washington,dc,20004,sema.org,9096102030,American Health Care Association,...,0.695825,0.62,0.57,0.69,0.046142,1,1,0,2.001082,4.001082
731939,16456,21900,2,American Association of Nurse Practitioners,Alexandria,va,22314,aanp.org,5124424262,American Academy of PAs,...,0.822011,0.65,0.45,0.65,0.048047,1,1,0,2.001078,4.001078
864228,58188,1687700,2,Iowa Nurses Association,Urbandale,ia,50322,iowanurses.org,5152250495,Iowa State Education Association,...,0.820809,0.61,0.69,0.82,0.530312,1,0,0,3.001075,4.001075
850375,57786,309500,3,Delaware Retail Council,Wilmington,de,19899-0671,dscc.com,3026557221,Home Builders Association of Delaware,...,0.530304,0.35,0.53,0.53,0.363897,1,1,0,2.001074,4.001074
496733,45905,59600,3,American Crossroads,Washington,dc,20005,americancrossroads.org,2025596428,American Public Transportation Association,...,0.848135,0.58,0.46,0.59,0.094971,1,1,0,2.001058,4.001058
359046,72504,42100,4,American Lithuanian Business Council,Washington,dc,20001,NULL,,American Gas Association,...,0.843677,0.56,0.57,0.57,0.062179,1,1,0,2.001026,4.001026
765860,95246,94200,3,Visit California,Sacramento,ca,95814,visitcalifornia.com,8772254367,Association of California School Administrators,...,0.596661,0.69,0.38,0.77,0.115678,1,1,0,2.001012,4.001012
584687,3833,68000,2,American Heart Association,Washington,dc,20036,heart.org,2145705935,American Society of Landscape Architects,...,0.846282,0.58,0.55,0.55,0.070842,1,1,0,2.000974,4.000974
872313,48189,744100,2,Travis County Emergency Services District #6,Austin,tx,NULL,NULL,,Travis County Medical Society,...,0.849608,0.66,0.58,0.62,0.645826,1,0,0,3.000945,4.000945
751156,57397,12195400,2,Arizona Association of Chiropractic,Chandler,az,85226,azchiropractic.org,6022460664,Arizona Education Association,...,0.852674,0.67,0.78,0.79,0.454290,1,0,0,3.000940,4.000940
839044,55655,10370400,2,Nevada State Medical Association,Reno,nv,89511-4002,nvdoctors.org,7758256788,Nevada Bankers Association,...,0.836827,0.59,0.69,0.82,0.532212,1,0,0,3.000939,4.000939
809468,76498,38450300,2,Health Republic Insurance of New York,New York,ny,10004,NULL,,Commercial Real Estate Financial Council - New...,...,0.688571,0.51,0.53,0.53,0.204664,1,1,0,2.000924,4.000924
841708,78015,10056800,4,American Traffic Safety Services Association- ...,Fredericksburg,va,22406-1077,atssa.com,5403681701,American Association of Pharmaceutical Scientists,...,0.822298,0.45,0.62,0.62,0.077792,1,1,0,2.000912,4.000912
797520,89977,14661700,3,"Mississippi Association for Health, Physical E...",Madison,ms,39110,"msahperd.org, msahperd.com",8643771178,Texas Association for Health Physical Educatio...,...,0.792344,0.93,0.87,0.95,0.896076,0,0,0,4.000871,4.000871
852383,14263,340500,3,"Indianapolis, Indiana, City of",Indianapolis,in,46204,NULL,,Indiana Credit Union League,...,0.662963,0.48,0.58,0.58,0.182375,1,1,0,2.000785,4.000785
765861,96360,94200,3,The Arc California,Sacramento,ca,95814,thearcca.org,9165526619,Association of California School Administrators,...,0.525217,0.67,0.49,0.71,0.136192,1,1,0,2.000701,4.000701
859054,93207,628600,3,Southern Business Education Association,Reston,va,20191-1596,sbea.us,7038608300,Recreation Vehicle Industry Association,...,0.679487,0.57,0.67,0.67,0.038945,1,1,0,2.000532,4.000532
279649,39970,18065100,3,International Housing Coalition,Washington,dc,20002,intlhc.org,2024088506,International Premium Cigar & Pipe Retailers A...,...,0.837788,0.58,0.54,0.59,0.059758,1,1,0,2.000478,4.000478
768827,49408,26300,2,American Academy of Periodontology,Chicago,il,60611-6660,perio.org,3127875518,American Association of Endodontists,...,0.837948,0.62,0.51,0.63,0.034628,1,1,0,2.000403,4.000403
610737,42285,8048200,2,National Association of Professional Surplus L...,Washington,dc,20001,napslo.org,,National Oilseed Processors Association,...,0.823545,0.51,0.61,0.68,0.021822,1,1,0,2.000392,4.000392
347133,81011,37330600,3,National Association of Government Contractors,Washington,dc,20036,governmentcontractors.org,2024653750,National Organization of Nurse Practitioner Fa...,...,0.853482,0.61,0.46,0.61,0.066849,1,1,0,2.000384,4.000384
852649,61928,340500,2,Indiana State Teachers Association,Indianapolis,in,46204,ista-in.org,3172633400,Indiana Credit Union League,...,0.676325,0.48,0.49,0.49,0.265410,1,1,0,2.000359,4.000359
402813,21533,475300,2,National Hispanic Council on Aging,Washington,dc,20009-4458,nhcoa.org,2023479733,National Association of Conservation Districts,...,0.824363,0.53,0.60,0.60,0.056370,1,1,0,2.000327,4.000327
622646,36755,8239800,2,National Hispanic Coalition of Federal Aviatio...,Washington,dc,20026-3276,nhcfae.org,3102207246,National Association of Clean Water Agencies,...,0.852576,0.59,0.53,0.55,0.072255,1,1,0,2.000315,4.000315
631287,20721,8279700,3,National Cattlemen's Beef Association,Washington,dc,20004,beefusa.org,3036940305,Pharmaceutical Care Management Association,...,0.698317,0.65,0.63,0.63,0.029367,1,1,0,2.000288,4.000288
611721,51646,8048200,3,Sugar Association,Washington,dc,20005,sugar.org,2027851122,National Oilseed Processors Association,...,0.571141,0.76,0.50,0.79,0.022904,1,1,0,2.000212,4.000212
313582,21313,2807700,2,The Financial Services Roundtable,Washington,dc,20005,fsroundtable.org,2024578765,State Services Organization,...,0.636724,0.49,0.60,0.63,0.155019,1,1,0,2.000071,4.000071
256163,63633,14979800,2,World Federation of Public Health Associations,Washington,dc,20001-3710,fpha.org,2027772490,Public Welfare Foundation,...,0.701672,0.62,0.51,0.56,0.137535,1,1,0,2.000057,4.000057
843287,90670,9037901,3,National Federation of the Blind of Virginia,Arlington,va,22201,WWW.NFBV.ORG,2022854595,National Sleep Foundation,...,0.829295,0.65,0.52,0.55,0.058718,1,1,0,2.000048,4.000048

In [71]:
org_matches2= full_conc[(full_conc.composite_match_score >= composite_score_min) | (full_conc.overall_name_score >= name_score_min)]

In [99]:
org_matches = full_conc[(full_conc.overall_name_score >= name_score_min) | (full_conc.composite_match_score >= composite_score_min)]

In [100]:
full_conc.to_csv('full_conc w uniq scores2.csv')

In [101]:
#fuck yeah
full_conc[(full_conc.id_l == '90981') & (full_conc.id_r =='6165700')]

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_domain,l_clean_phone,r_org_name,...,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,uniq,state_match,zip_match,domain_match,overall_name_score,composite_match_score
846862,90981,6165700,4,NeighborWorks America,Washington,dc,20002,neighborworks.org,2027604000,neighborworks America,...,0.936508,0.9,1.0,1.0,1.0,0,0,0,4.377381,4.377381

In [102]:
full_conc.shape

(874461, 24)

In [39]:
bonus_point_tokens

[1052,
 7269,
 9824,
 76473,
 14044,
 81153,
 76591,
 86609,
 7268,
 64908,
 86589,
 86757,
 72160,
 86590,
 78867,
 64914,
 86608,
 64915,
 1063,
 64899,
 73303,
 86755,
 72155,
 86584,
 1064,
 86615,
 64957,
 86799,
 14207,
 64956,
 86748,
 5838,
 81875,
 9206,
 81860,
 14181,
 73297,
 76570,
 64951,
 86593,
 78877,
 64894,
 9875,
 65188,
 65211,
 7203,
 5839,
 76573,
 73307,
 86753,
 64900,
 76594,
 65233,
 9831,
 1053,
 1073,
 64945,
 86768,
 1071,
 76478,
 7196,
 4021,
 1067,
 81862,
 64937,
 1163,
 65203,
 64936,
 76577,
 64934,
 14037,
 1166,
 14195,
 65223,
 78870,
 78861,
 72158,
 14201,
 7208,
 65221,
 81186,
 5799,
 64923,
 65220,
 5798,
 76476,
 5850,
 7206,
 64909,
 86763,
 86595,
 86765,
 86792,
 86789,
 4020,
 73305,
 81857,
 7199,
 86606,
 76487,
 5847,
 3997,
 14189,
 76579,
 1058,
 65208,
 64906,
 5802,
 81870,
 14210,
 73260,
 9209,
 76482,
 9835,
 64917,
 76480,
 76485,
 14211,
 4019,
 14038,
 86624,
 73293,
 14124,
 86654,
 65115,
 76520,
 4423,
 76542,
 14123,
 86659,
 86701,
 4424,
 86653,
 5824,
 7229,
 76521,
 65114,
 4026,
 1127,
 1109,
 7230,
 65111,
 86667,
 65058,
 81887,
 4425,
 65116,
 65119,
 1093,
 86723,
 76546,
 1096,
 86715,
 1138,
 14130,
 9197,
 1136,
 1135,
 7242,
 1098,
 86713,
 81180,
 86710,
 1134,
 81160,
 86708,
 14128,
 86651,
 14126,
 1133,
 9858,
 9189,
 5823,
 65062,
 86672,
 76531,
 14090,
 72199,
 72198,
 1117,
 7236,
 9191,
 1123,
 78913,
 14104,
 14092,
 1118,
 78912,
 76528,
 65097,
 81165,
 1121,
 4431,
 9855,
 14097,
 86676,
 1122,
 72205,
 14107,
 65081,
 14116,
 86691,
 7231,
 5822,
 72209,
 76535,
 78900,
 5821,
 65071,
 14111,
 4427,
 86688,
 65108,
 65077,
 14108,
 65079,
 65107,
 78904,
 78915,
 86685,
 81891,
 4428,
 65080,
 14077,
 73262,
 72189,
 72211,
 7253,
 86740,
 86739,
 64973,
 81184,
 14057,
 81905,
 14169,
 4000,
 76561,
 7217,
 9187,
 64981,
 76560,
 64982,
 5834,
 81158,
 64984,
 65153,
 76508,
 5833,
 76559,
 73268,
 64987,
 64971,
 64969,
 86746,
 1154,
 73263,
 76567,
 65184,
 73264,
 4419,
 81154,
 64962,
 14050,
 14054,
 9871,
 86620,
 1082,
 64964,
 64965,
 78923,
 72167,
 14172,
 76498,
 64967,
 65172,
 7216,
 64990,
 73271,
 1086,
 76513,
 14149,
 73273,
 86730,
 5830,
 86637,
 14145,
 65026,
 81885,
 65029,
 65017,
 1142,
 14140,
 65136,
 76550,
 76549,
 65135,
 7244,
 65132,
 65036,
 9860,
 76548,
 86727,
 7222,
 65015,
 65012,
 78920,
 78919,
 73287,
 72170,
 76510,
 86736,
 5832,
 76557,
 9198,
 72174,
 86733,
 86628,
 14157,
 65002,
 7221,
 65005,
 86629,
 72213,
 65008,
 7248,
 65009,
 7247,
 65010,
 7225,
 70908,
 14295,
 14221,
 87029,
 9769,
 87026,
 64499,
 87025,
 78739,
 14466,
 87021,
 64503,
 5925,
 14461,
 87019,
 87018,
 9238,
 14459,
 64509,
 87016,
 64511,
 4069,
 64512,
 81228,
 14457,
 78743,
 87014,
 76782,
 78745,
 9772,
 64522,
 5921,
 14471,
 81786,
 14473,
 87034,
 64461,
 72356,
 87053,
 64466,
 81781,
 87050,
 87049,
 14490,
 87048,
 87047,
 87045,
 64472,
 899,
 5931,
 87011,
 9764,
 14486,
 72351,
 72350,
 7075,
 14482,
 87040,
 9241,
 87038,
 87037,
 7077,
 73207,
 78735,
 64487,
 87035,
 7073,
 72338,
 87009,
 73211,
 5913,
 7099,
 78765,
 86974,
 78766,
 64551,
 64552,
 86969,
 9778,
 78768,
 72323,
 5909,
 938,
 78770,
 5916,
 76738,
 941,
 64563,
 78772,
 76735,
 76734,
 72322,
 73217,
 14418,
 7109,
 64568,
 72319,
 81797,
 949,
 4063,
 78771,
 87055,
 81227,
 86982,
 916,
 7081,
 64525,
 78748,
 86999,
 72335,
 9773,
 64528,
 920,
 64529,
 14446,
 64531,
 64533,
 81791,
 76758,
 72332,
 86992,
 76766,
 5918,
 73214,
 924,
 14442,
 925,
 14439,
 7092,
 5917,
 7093,
 86984,
 76759,
 86983,
 9237,
 81801,
 87056,
 7065,
 72378,
 14560,
 87118,
 76843,
 78681,
 72375,
 64344,
 5958,
 72373,
 76835,
 14556,
 64350,
 864,
 87110,
 64354,
 5956,
 87108,
 64359,
 76831,
 76830,
 87105,
 9750,
 14545,
 64369,
 64370,
 64371,
 76828,
 76826,
 14544,
 64342,
 78677,
 64340,
 87119,
 64317,
 73190,
 848,
 76865,
 87133,
 72390,
 87132,
 76863,
 853,
 78672,
 78673,
 64323,
 856,
 76861,
 87103,
 9250,
 64327,
 14570,
 7029,
 14569,
 76856,
 5963,
 87125,
 72383,
 7032,
 76851,
 72381,
 72380,
 78676,
 76847,
 73193,
 81773,
 78691,
 14541,
 64422,
 882,
 87075,
 78709,
 883,
 73201,
 78711,
 87072,
 9758,
 78715,
 14508,
 64435,
 64436,
 72361,
 72364,
 64438,
 14506,
 14505,
 7064,
 14503,
 9243,
 87066,
 64449,
 64451,
 87062,
 81779,
 14499,
 73205,
 64454,
 64455,
 14507,
 78728,
 87078,
 81777,
 14540,
 4391,
 87101,
 5954,
 9244,
 78696,
 87099,
 7050,
 64384,
 87098,
 64387,
 4074,
 868,
 64393,
 76808,
 7053,
 14530,
 76815,
 869,
 87093,
 14528,
 87092,
 72369,
 9753,
 76814,
 81776,
 14523,
 78705,
 5944,
 880,
 64396,
 76728,
 64571,
 72317,
 4035,
 4407,
 64777,
 14280,
 72259,
 4408,
 64782,
 76648,
 76647,
 86868,
 86866,
 64786,
 64787,
 72258,
 64794,
 76644,
 1010,
 1011,
 86859,
 86858,
 76642,
 64804,
 64809,
 86853,
 64810,
 76638,
 86852,
 81842,
 86849,
 64771,
 64770,
 1005,
 78827,
 64711,
 4041,
 64712,
 78821,
 76666,
 81215,
 86882,
 7152,
 14317,
 76662,
 72263,
 64724,
 78824,
 7153,
 64817,
 7154,
 64727,
 64730,
 64732,
 5870,
 14301,
 64751,
 73241,
 81912,
 64753,
 14292,
 76655,
 64760,
 64761,
 64763,
 7155,
 7169,
 76634,
 78834,
 4031,
 86817,
 1037,
 86815,
 14237,
 1038,
 73251,
 78849,
 64866,
 4029,
 64870,
 4028,
 9820,
 86813,
 64857,
 4412,
 14230,
 64873,
 7191,
 64876,
 64877,
 14226,
 1044,
 1045,
 72243,
 64882,
 86804,
 14224,
 78857,
 86802,
 72244,
 64709,
 86819,
 64854,
 5863,
 81208,
 76625,
 7176,
 86840,
 86839,
 76621,
 64835,
 72254,
 86835,
 86832,
 76619,
 14251,
 81202,
 81201,
 14250,
 14247,
 64849,
 7182,
 1031,
 7183,
 7184,
 78840,
 78842,
 86823,
 76609,
 86822,
 7185,
 78843,
 1035,
 14249,
 14325,
 76668,
 86886,
 64605,
 86940,
 86939,
 9787,
 64607,
 14389,
 64609,
 64610,
 72297,
 86935,
 64613,
 14386,
 86934,
 81814,
 14391,
 14380,
 64623,
 5892,
 72291,
 81818,
 965,
 86930,
 14373,
 14372,
 9792,
 9793,
 64635,
 64636,
 7131,
 73225,
 4401,
 14369,
 64602,
 5897,
 64574,
 81225,
 14410,
 7113,
 64581,
 5903,
 14408,
 9782,
 953,
 4057,
 14403,
 4400,
 9230,
 14401,
 76713,
 81812,
 14400,
 5900,
 72302,
 14399,
 72301,
 76718,
 86946,
 86943,
 7120,
 14394,
 14393,
 5899,
 9229,
 7123,
 64591,
 9822,
 64639,
 4049,
 4047,
 78815,
 64669,
 64670,
 5873,
 81826,
 14344,
 81827,
 73235,
 64676,
 64677,
 7147,
 73237,
 4046,
 7141,
 64683,
 14340,
 64686,
 72265,
 14338,
 64690,
 76672,
 76671,
 64696,
 9221,
 64697,
 64700,
 996,
 76669,
 86889,
 64684,
 73228,
 9802,
 9224,
 86921,
 81220,
 78797,
 64642,
 78799,
 72281,
 14365,
 14364,
 76698,
 76696,
 78801,
 64647,
 76694,
 76693,
 64663,
 64650,
 9225,
 5883,
 5881,
 14358,
 86912,
 14356,
 76688,
 14355,
 981,
 5880,
 86910,
 86908,
 64660,
 81821,
 9799,
 9179,
 65393,
 72151,
 7471,
 86075,
 86074,
 65953,
 7472,
 13570,
 3921,
 76125,
 86071,
 79188,
 82033,
 86070,
 65960,
 65962,
 1483,
 79189,
 86065,
 65969,
 65971,
 65973,
 86064,
 76120,
 71989,
 65984,
 13560,
 65988,
 65989,
 1491,
 65993,
 79192,
 1488,
 79193,
 65948,
 65944,
 86106,
 86105,
 76143,
 7462,
 1465,
 13593,
 1466,
 13592,
 65915,
 13591,
 9965,
 65917,
 65919,
 1468,
 65946,
 71998,
 86098,
 76134,
 1473,
 65929,
 13585,
 86091,
 86090,
 65934,
 3923,
 13582,
 1475,
 7469,
 73413,
 86084,
 9966,
 65996,
 5641,
 65997,
 7493,
 86038,
 79211,
 9976,
 66030,
 66032,
 66033,
 66034,
 66035,
 86035,
 66038,
 86034,
 71968,
 1510,
 7492,
 3915,
 9981,
 71965,
 79217,
 1513,
 5625,
 86026,
 82044,
 13522,
 1515,
 71958,
 13521,
 66054,
 66055,
 79221,
 7498,
 66023,
 76098,
 7491,
 71988,
 71987,
 13556,
 71986,
 76113,
 76112,
 71979,
 1496,
 86051,
 13552,
 66004,
 13551,
 7483,
 1498,
 66007,
 82035,
 9112,
 5631,
 1502,
 81089,
 86045,
 13542,
 13543,
 65909,
 76100,
 ...]

In [5]:
list(intersection_bonus_tokens).count(38702)

1

In [4]:
joined.loc[37]

           id_l     id_r
token_id
37        57454  6377400
37        28051  6377400
37        21001  6377400

In [15]:
left_keyed.loc[37]

           token   id_l
token_id
37         19977  21001
37         19977  57454
37        wooden  28051

In [51]:
left_keyed.loc[38702]

token    neighborworks
id_l             90981
Name: 38702, dtype: object

In [24]:
left_keyed.shape

(456010, 2)

In [26]:
left_keyed.shape

(496912, 2)

In [28]:
left_keyed.head()

          token   id_l
token_id
0          fawl  64174
0          fawl  64174
5         fjata  40544
5         fjata  40544
6         11549  78388

In [30]:
left_df.head()

,id_l,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone,l_clean_phone
0,3640,Zyvex Performance,NULL,NULL,NULL,Columbus,oh,NULL,NULL,www.zyvexpro.com,#N/A,
1,95526,Zytron,,20 Lexington Ave.,NULL,Trenton,nj,8618,NULL,www.zytron.com,609-771-0101,6097710101
2,70481,"Zynga, Inc.",NULL,699 Eighth St.,NULL,San Francisco,ca,94103,NULL,NULL,#N/A,
3,70482,Zynga (a client of Bay Bridge Strategies),NULL,1300 Connecticut Ave. NW,Suite 600,Washington,dc,20036,NULL,NULL,#N/A,
4,81106,Zynerba Pharmaceuticals Inc,NULL,80 W. Lancaster Ave.,Suite 300,Devon,pa,19333,NULL,NULL,#N/A,

In [31]:
left_df[left_df.id_l ==40544]

,id_l,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone,l_clean_phone
58935,40544,Fashion Jewelry and Accessories Trade Association,FJATA,25 Sea Grass Way,NULL,Wickford,ri,2852,NULL,fjata.org,401-667-0520,4016670520

In [49]:
left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(subset=['token','id_l'],inplace=True)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)

In [50]:
left_keyed.head()

            token   id_l
token_id
0            fawl  64174
5           fjata  40544
6           11549    737
6           11549  78388
7         degussa  39222

In [6]:
joined.loc[38702].index

Index([u'id_l', u'id_r'], dtype='object')

In [62]:
joined = left_keyed.join(right_keyed, how='inner',lsuffix='_l',rsuffix='_r')

In [43]:
if '38702' in bonus_point_tokens :
    print("Yes, found in List : " , bonus_point_tokens)

In [5]:
bonus_point_tokens.count(38702)

1

In [4]:
joined_bonus.loc['38702']

KeyError: u'the label [38702] is not in the [index]'

In [82]:
tokens_id_dct['woods']

8

In [12]:
tokens_id_dct['neighborworks']

38702

In [71]:
left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)
left_keyed.loc[37]

           token   id_l
token_id
37        wooden  28051
37         19977  57454
37         19977  21001

In [75]:
left_keyed

                 token    id_l
token_id
0                 fawl   64174
5                fjata   40544
6                11549   78388
6                11549     737
7              degussa   67617
7              degussa   39222
7              degussa   16131
8                woods   44506
8                woods    5564
8                woods    7819
8                woods   45346
8                woods   14590
8                woods   17064
8                woods  101383
8                woods   37771
8                woods   37429
8                woods    5601
8                woods   41636
8                woods    9092
8                97210  101463
8                97210   60066
8                woods   52131
8                woods   92330
8                woods   23611
8                97210   74189
8                woods   45022
10               woody   49308
11               74014   93031
11               74014   59124
12              kalmar   48993
...                ...     ...
88543           branch   17336
88544         tredegar   31237
88544         tredegar   24767
88546             sica   54486
88546             sica   31862
88547             sicb   36076
88548            lance   44525
88548            lance   44524
88548            lance   44168
88548            lance   67582
88548            lance   70298
88551         hdsupply   45386
88551         hdsupply   45239
88554         lions22a   89219
88558          gahanna   73721
88558          gahanna   55322
88558          gahanna   29489
88558          gahanna   73275
88558          gahanna   56248
88558          gahanna   50087
88558          gahanna   73905
88558          gahanna   98206
88558          gahanna   58203
88558          gahanna   59221
88558          gahanna   19617
88560             cfuf   85989
88562      delamerican   31093
88563            agios   41790
88564     glycobiology   92858
88566           minact   89881

[456010 rows x 2 columns]

In [74]:
left_keyed.to_csv('left_keyed testing weird ID thing.csv')

In [86]:
joined[(joined.id_l =='90981') & (joined.id_r == '6165700')]

           id_l     id_r
token_id
38702     90981  6165700

In [87]:
bonus_joins_cols = bonus_joins[['id_l','id_r']].copy()
bonus_joins_cols

         id_l       id_r
12292   88912   21720000
12292   67655   21720000
12292   83815   21720000
id_l      NaN        NaN
id_r      NaN        NaN
8210    71076  100053910
8210   100038  100053910
8210    44321  100053910
8210    44322  100053910
id_l      NaN        NaN
id_r      NaN        NaN
id_l      NaN        NaN
id_r      NaN        NaN
8217    40327  100039147
8217    30054  100039147
8217    44869  100039147
18460   24602    6717700
18460   45144    6717700
18460   74269    6717700
18460   76000    6717700
18460   74161    6717700
18460   24836    6717700
18460   49479    6717700
18460   22474    6717700
18460  101542    6717700
18460   71803    6717700
18460   53628    6717700
18460   69356    6717700
18460   16608    6717700
18460   39657    6717700
...       ...        ...
8135    19653  100080674
8135   103062  100080674
8135    69044  100080674
id_l      NaN        NaN
id_r      NaN        NaN
14299   90833    9425100
14299   24672    9425100
14299   23591    9425100
14299   98724    9425100
14299   90639    9425100
14299   45080    9425100
14299   30188    9425100
18409   15337     803600
18409   99254     803600
18409   57799     803600
18409   62470     803600
18409   49915     803600
18409   83520     803600
18409   57821     803600
id_l      NaN        NaN
id_r      NaN        NaN
12284   88552   45188500
12284   95509   45188500
12284   51322   45188500
12284   23119   45188500
12284   53412   45188500
12284   92975   45188500
10237   57648   28329700
10237   44028   28329700
10237   37179   28329700

[32773 rows x 2 columns]

In [51]:
bonus_joins_cols[(bonus_joins_cols.id_l=='90981') & (bonus_joins_cols.id_r =='6165700')]

Empty DataFrame
Columns: [id_l, id_r]
Index: []

In [85]:
joined_bonus[(joined_bonus.id_l=='90981') & (joined_bonus.id_r=='6165700')]

        id_l     id_r
38702  90981  6165700

In [29]:
left_keyed[left_keyed.id_l == '90981']

           id_l
token_id
17581     90981
38702     90981
57755     90981

In [34]:
right_keyed[right_keyed.id_r == '6165700']

             id_r
token_id
13255     6165700
18402     6165700
23402     6165700
31164     6165700
38702     6165700
53813     6165700

In [50]:
right_df[right_df.id_r=='6165700']

,Source,id_r,Cup Org ID,r_org_name,r_address1,r_city,r_state,r_postal_code,Zip Code 5 Numeric,CompanyType,r_web,MemberType,#ASAEMembers,Industry,Budget,EIN,#Staff
225,"IndividualMember, Not OrgMember",6165700,90981,neighborworks America,1684 Brownswood Road,Johns Island,sc,29455,29455,Philanthropic/Non-Profit/Charitable/Foundation...,www.nw.org,Non Member - Company Prospect,1,HOU - Housing,F - $10 million but less than $25 million,364194807,255

In [16]:
bonus_joins.loc[38702]

KeyError: u'the label [38702] is not in the [index]'

In [84]:
full_conc.shape

(202493, 21)

In [142]:
joined_bonus.to_csv('joined_bonus.csv')

In [109]:
joined.shape

(2161496, 2)

In [117]:
joined_bonus.shape

(2193335, 2)

In [111]:
joined

           id_l       id_r
token_id
37        28051    6377400
37        57454    6377400
37        21001    6377400
45        88807     688700
45        85101     688700
45        11639     688700
45        91997     688700
45        57939     688700
45        22332     688700
45        98628     688700
45        42431     688700
45        48921     688700
45        68450     688700
105       50275    8302600
105       97861    8302600
105       78723    8302600
114       51391    6371800
119       60492  100042594
119       94265  100042594
120       80646   29592100
120       13464   29592100
120       25328   29592100
120       63839   29592100
120       87952   29592100
120       84664   29592100
120       64160   29592100
121       47664     556900
121       70747     556900
121       91215     556900
121       56569     556900
...         ...        ...
88538     79221   44932200
88538     79221     688700
88538     62629   12582600
88538     62629  100065150
88538     62629  100038780
88538     62629  100035753
88538     62629  100009376
88538     62629   44932200
88538     62629     688700
88538     40694   12582600
88538     40694  100065150
88538     40694  100038780
88538     40694  100035753
88538     40694  100009376
88538     40694   44932200
88538     40694     688700
88538     24842   12582600
88538     24842  100065150
88538     24842  100038780
88538     24842  100035753
88538     24842  100009376
88538     24842   44932200
88538     24842     688700
88538     41125   12582600
88538     41125  100065150
88538     41125  100038780
88538     41125  100035753
88538     41125  100009376
88538     41125   44932200
88538     41125     688700

[2161496 rows x 2 columns]

In [3]:
set(joined[(joined.id_l =='64220') & (joined.id_r == '6656100')].index).intersection(intersection_bonus_tokens)

{26020L}

In [67]:
int(joined.index)

TypeError: int() argument must be a string or a number, not 'Int64Index'

In [112]:
#this is an attempt to isolate tokens which are unique and should be double-counted to circumvent the token_match_min count
#needs to be tweaked to fine tune the output.  Intention is to concat this to joined prior to aggregation
bonus_point_tokens = []
for token in main_tokens_df[(main_tokens_df['count'] > 1) & (main_tokens_df['count']<=5)].token:
    bonus_point_tokens.append(tokens_id_dct[token])

intersection_bonus_tokens = set(bonus_point_tokens).intersection(set(list(joined.index)))    
    
bonus_token_joins = []
for token_id in intersection_bonus_tokens:
    bonus_token_joins.append(joined.loc[token_id])
    
bonus_joins = pd.concat(bonus_token_joins)
bonus_joins_cols = bonus_joins[['id_l','id_r']].copy()
bonus_joins_cols.dropna(inplace=True)
joined_bonus = pd.concat([joined,bonus_joins_cols])

In [12]:
bonus_joins_cols.loc['38702']

KeyError: u'the label [38702] is not in the [index]'

In [4]:
tokens_id_dct['neighborworks']

38702

In [6]:
main_tokens_df[(main_tokens_df['count'] > 1) & (main_tokens_df['count']<=5) & (main_tokens_df['token'] == 'neighborworks')].token

38702    neighborworks
Name: token, dtype: object

In [133]:
main_tokens_df

                       token   count  flag
44283              jaclyninc       1     0
51416                 lamoni       1     0
51417              alchemygs       1     0
51418                  faasa       1     0
51419         alabamajustice       1     0
51420                  foams       1     0
51421                knowles       1     0
51423                nebspra       1     0
51425                   kttm       1     0
51426            reservoircg       1     0
51427  informationbirmingham       1     0
51428             multigrain       1     0
51429      chicagoemmyonline       1     0
51431           worldteaexpo       1     0
51410                  cahcc       1     0
51432                 ceamag       1     0
51434           akerpartners       1     0
51436      centennialairport       1     0
51437                bardill       1     0
51438         paramountfarms       1     0
51440            commisimpex       1     0
51441                 cavern       1     0
51442                  ftidc       1     0
51444              ncacadsci       1     0
51445             tnaptassoc       1     0
51446                 misawa       1     0
51447    texasbuildingtrades       1     0
51448            ussnicholas       1     0
51449              mobilehca       1     0
51433                bruster       1     0
...                      ...     ...   ...
36823                      a    2004     0
64589                 health    2042     0
47290                america    2058     0
78012                    san    2083     0
74754                chapter    2101     0
27944                council    2192     0
83936                    pac    2258     0
21941             foundation    2261     0
1438                 company    2278     0
66695                   city    3139     0
49943                  group    3212     0
49813          international    3245     0
35322                society    3352     0
51786            corporation    3569     0
43076                   york    3687     0
18693               national    4255     0
55177                    for    4402     0
4285                american    4485     0
57924                    the    4678     0
30562                    llc    4883     0
60218                    new    5440     0
42233                    and    6192     0
47455                    inc   12006     0
27022             washington   12060     0
72893            association   18100     0
20283                     of   19683     0
57831                    com   27955     0
28065                    org   29018     0
16778                    www   37827     0
47988                   null  164544     0

[88568 rows x 3 columns]

In [129]:
main_tokens_df[main_tokens_df.token=='neighborworks']

               token  count  flag
38702  neighborworks      3     1

In [131]:
bonus_joins_cols.loc['38702']

KeyError: u'the label [38702] is not in the [index]'

In [135]:
bpt = pd.DataFrame(bonus_point_tokens).to_csv('bonus_point_tokens.csv')

In [115]:
bonus_joins_cols.dropna(inplace=True)
bonus_joins_cols.shape

(31839, 2)

In [101]:
bonus_joins_cols.shape

(325383, 2)

In [116]:
joined_bonus = pd.concat([joined,bonus_joins_cols])

In [97]:
bonus_joins.loc['id_l']

          0 id_l id_r
id_l  64220  NaN  NaN
id_l  54976  NaN  NaN
id_l  86698  NaN  NaN
id_l  53550  NaN  NaN
id_l  53227  NaN  NaN
id_l  28051  NaN  NaN
id_l  47950  NaN  NaN
id_l  56548  NaN  NaN
id_l  16834  NaN  NaN
id_l  55502  NaN  NaN
id_l  52671  NaN  NaN
id_l  25176  NaN  NaN
id_l  10856  NaN  NaN
id_l  64079  NaN  NaN
id_l  60649  NaN  NaN
id_l  56111  NaN  NaN
id_l  56809  NaN  NaN
id_l  49401  NaN  NaN
id_l  52786  NaN  NaN
id_l  20827  NaN  NaN
id_l  28051  NaN  NaN
id_l  22689  NaN  NaN
id_l  54321  NaN  NaN
id_l  54952  NaN  NaN
id_l  20886  NaN  NaN
id_l  49796  NaN  NaN
id_l  55018  NaN  NaN
id_l  49564  NaN  NaN
id_l  57676  NaN  NaN
id_l  58162  NaN  NaN
...     ...  ...  ...
id_l  61507  NaN  NaN
id_l  49364  NaN  NaN
id_l  44990  NaN  NaN
id_l  50275  NaN  NaN
id_l  65556  NaN  NaN
id_l  51545  NaN  NaN
id_l  20934  NaN  NaN
id_l  62716  NaN  NaN
id_l  15903  NaN  NaN
id_l  51211  NaN  NaN
id_l  53999  NaN  NaN
id_l  60733  NaN  NaN
id_l  23298  NaN  NaN
id_l  57664  NaN  NaN
id_l  53227  NaN  NaN
id_l  59743  NaN  NaN
id_l  95887  NaN  NaN
id_l  53422  NaN  NaN
id_l  53341  NaN  NaN
id_l  67712  NaN  NaN
id_l  60552  NaN  NaN
id_l  55417  NaN  NaN
id_l   3910  NaN  NaN
id_l  90981  NaN  NaN
id_l   9983  NaN  NaN
id_l  50886  NaN  NaN
id_l  53961  NaN  NaN
id_l  31187  NaN  NaN
id_l  50843  NaN  NaN
id_l  61229  NaN  NaN

[198 rows x 3 columns]

In [92]:
bonus_joins.shape

(325779, 3)

In [96]:
merged.shape

(2492334, 3)

In [94]:
merged = pd.concat([joined,bonus_joins])

C:\Users\dbell\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [73]:
list(intersection_bonus_tokens)

[24578L,
 2051L,
 44717L,
 20496L,
 24597L,
 26652L,
 71709L,
 29701L,
 65568L,
 4129L,
 35L,
 4132L,
 6186L,
 20525L,
 71728L,
 57401L,
 32831L,
 10308L,
 75845L,
 30800L,
 12375L,
 10334L,
 24671L,
 77920L,
 98L,
 75875L,
 65640L,
 82861L,
 67693L,
 73841L,
 2166L,
 73853L,
 12430L,
 82070L,
 71834L,
 8349L,
 23806L,
 22710L,
 30906L,
 10427L,
 32958L,
 196L,
 4294L,
 22561L,
 16585L,
 80075L,
 20685L,
 2254L,
 16591L,
 35192L,
 28891L,
 22748L,
 22750L,
 63712L,
 20705L,
 73425L,
 20712L,
 20715L,
 12526L,
 78066L,
 2294L,
 10488L,
 16636L,
 49405L,
 4350L,
 37127L,
 24840L,
 20745L,
 41230L,
 4141L,
 78097L,
 8475L,
 26908L,
 10532L,
 2346L,
 64903L,
 59701L,
 6537L,
 22842L,
 51517L,
 51524L,
 37191L,
 6472L,
 76105L,
 59724L,
 68322L,
 18774L,
 349L,
 69985L,
 82274L,
 82280L,
 22896L,
 6514L,
 376L,
 39999L,
 8573L,
 31125L,
 51584L,
 14060L,
 82316L,
 53651L,
 16789L,
 27031L,
 18840L,
 11332L,
 35226L,
 31179L,
 35232L,
 10665L,
 20912L,
 68026L,
 21239L,
 462L,
 55759L,
 74196L,
 22997L,
 29148L,
 6622L,
 37344L,
 78306L,
 6635L,
 49647L,
 10738L,
 6643L,
 8692L,
 61941L,
 12792L,
 505L,
 49659L,
 27136L,
 25090L,
 515L,
 57862L,
 55820L,
 18958L,
 74259L,
 21022L,
 2591L,
 6688L,
 51745L,
 21030L,
 41520L,
 41521L,
 37434L,
 57916L,
 22624L,
 41541L,
 10828L,
 43598L,
 21071L,
 6243L,
 2646L,
 2647L,
 82526L,
 66155L,
 39532L,
 27247L,
 39543L,
 6933L,
 32192L,
 10890L,
 47897L,
 25241L,
 2714L,
 19100L,
 2721L,
 31395L,
 19108L,
 33446L,
 113L,
 27313L,
 45746L,
 19129L,
 17083L,
 49857L,
 61899L,
 25299L,
 21206L,
 15063L,
 56030L,
 13026L,
 41700L,
 23893L,
 64977L,
 45800L,
 21225L,
 17131L,
 6893L,
 25329L,
 51959L,
 72450L,
 29443L,
 45831L,
 21269L,
 25366L,
 27417L,
 29472L,
 8997L,
 4913L,
 37687L,
 13113L,
 15174L,
 843L,
 10722L,
 62291L,
 37718L,
 4954L,
 17252L,
 15208L,
 50025L,
 72554L,
 23405L,
 879L,
 37745L,
 9075L,
 25460L,
 62331L,
 507L,
 72579L,
 12438L,
 25478L,
 68490L,
 9105L,
 9108L,
 13206L,
 17312L,
 11170L,
 37799L,
 9129L,
 5034L,
 74669L,
 80029L,
 66482L,
 72180L,
 72636L,
 35773L,
 31679L,
 13249L,
 21443L,
 68548L,
 19397L,
 19398L,
 7113L,
 82896L,
 24056L,
 17363L,
 13271L,
 15323L,
 9182L,
 66530L,
 29667L,
 23526L,
 7143L,
 7147L,
 62451L,
 1012L,
 23549L,
 3071L,
 33797L,
 5128L,
 7180L,
 29186L,
 44048L,
 29720L,
 15390L,
 7201L,
 56354L,
 82979L,
 62500L,
 29736L,
 23596L,
 3128L,
 23610L,
 21564L,
 35903L,
 15424L,
 17476L,
 52294L,
 72786L,
 33876L,
 21597L,
 3176L,
 47294L,
 17531L,
 68735L,
 7300L,
 29832L,
 7319L,
 3224L,
 35996L,
 66717L,
 23712L,
 33954L,
 13482L,
 58541L,
 31923L,
 13496L,
 72223L,
 13501L,
 27841L,
 3271L,
 77001L,
 36043L,
 3276L,
 23760L,
 29907L,
 13525L,
 29911L,
 60632L,
 15582L,
 7392L,
 4987L,
 25828L,
 52454L,
 17640L,
 3306L,
 25836L,
 34030L,
 36079L,
 36082L,
 44280L,
 15613L,
 25854L,
 7439L,
 17680L,
 19729L,
 56602L,
 70944L,
 11555L,
 62757L,
 29990L,
 11559L,
 42280L,
 36144L,
 27954L,
 77107L,
 7390L,
 42294L,
 13624L,
 30021L,
 27986L,
 25939L,
 9557L,
 42553L,
 23896L,
 15594L,
 34138L,
 31211L,
 46438L,
 3433L,
 17770L,
 21870L,
 13683L,
 3450L,
 17789L,
 15742L,
 19841L,
 5509L,
 23105L,
 44426L,
 26004L,
 11502L,
 7575L,
 56559L,
 5536L,
 19874L,
 60843L,
 5362L,
 71090L,
 54708L,
 5560L,
 3517L,
 54720L,
 40394L,
 7629L,
 67025L,
 21977L,
 6735L,
 21988L,
 38378L,
 71157L,
 36344L,
 15868L,
 36352L,
 13826L,
 73220L,
 77320L,
 21079L,
 34319L,
 28177L,
 65046L,
 7704L,
 7707L,
 7711L,
 11815L,
 34344L,
 24106L,
 3627L,
 77369L,
 24123L,
 11861L,
 22116L,
 36444L,
 20064L,
 5732L,
 15633L,
 22121L,
 58989L,
 13950L,
 35777L,
 7789L,
 5781L,
 20125L,
 42654L,
 22177L,
 82886L,
 20137L,
 11946L,
 34477L,
 59054L,
 20144L,
 18101L,
 20151L,
 5816L,
 3769L,
 77501L,
 11980L,
 57037L,
 18129L,
 75474L,
 26324L,
 14038L,
 22239L,
 9955L,
 50924L,
 5871L,
 56275L,
 5878L,
 79607L,
 20218L,
 9986L,
 28424L,
 22285L,
 18192L,
 50961L,
 42770L,
 71446L,
 1820L,
 20256L,
 10022L,
 18216L,
 10033L,
 30519L,
 30525L,
 32576L,
 30006L,
 30539L,
 1868L,
 79693L,
 36692L,
 80186L,
 42846L,
 36709L,
 3945L,
 73580L,
 32637L,
 18310L,
 20366L,
 65423L,
 12182L,
 53144L,
 32668L,
 67488L,
 4005L,
 69543L,
 4011L,
 79789L,
 30644L,
 75422L,
 30650L,
 36806L,
 28616L,
 16330L,
 32715L,
 8143L,
 16338L,
 14291L,
 49713L,
 16345L,
 12252L,
 32733L,
 8161L,
 28643L,
 73704L,
 26601L,
 2026L,
 22509L,
 8174L,
 63473L,
 27987L,
 69620L,
 10229L,
 14327L,
 32766L,
 11605L]

In [79]:
joined.shape

(2166555, 2)

In [83]:
bonus_joins.drop('0',axis=1,inplace=True)

KeyError: "['0'] not found in axis"

In [54]:
bonus_token_joins

[id_l      64220
 id_r    6656100
 Name: 24578, dtype: object,            id_l       id_r
 token_id
 2051      57853  100015545
 2051      79529  100015545
 2051      92400  100015545
 2051      39927  100015545
 2051      19411  100015545
 2051      51652  100015545
 2051      38749  100015545
 2051      32719  100015545, id_l       54976
 id_r    10298300
 Name: 44717, dtype: object,            id_l    id_r
 token_id
 20496     71366  477900
 20496     50870  477900
 20496     18226  477900
 20496     59621  477900
 20496     13188  477900
 20496     78612  477900,            id_l     id_r
 token_id
 24597     33697  6633400
 24597     91215  6633400
 24597     16218  6633400
 24597     94975  6633400
 24597     50731  6633400,             id_l       id_r
 token_id
 26652      90072  100071403
 26652      90072  100081427
 26652      76565  100071403
 26652      76565  100081427
 26652      98557  100071403
 26652      98557  100081427
 26652     100331  100071403
 26652     100331  100081427
 26652      90073  100071403
 26652      90073  100081427, id_l      86698
 id_r    6143900
 Name: 71709, dtype: object, id_l        53550
 id_r    100064321
 Name: 29701, dtype: object, id_l       53227
 id_r    13166300
 Name: 65568, dtype: object,            id_l    id_r
 token_id
 4129      14844  514700
 4129      76742  514700
 4129      84243  514700
 4129      92967  514700, id_l      28051
 id_r    6377400
 Name: 35, dtype: object,            id_l    id_r
 token_id
 4132      14760  344900
 4132      13973  344900,            id_l      id_r
 token_id
 6186      62476  30509900
 6186      94230  30509900
 6186      19192  30509900
 6186      56173  30509900
 6186      93558  30509900
 6186      57713  30509900
 6186      53554  30509900
 6186      36097  30509900
 6186      15230  30509900
 6186      60889  30509900
 6186      93710  30509900
 6186      51942  30509900
 6186      62904  30509900
 6186      58962  30509900
 6186      58550  30509900
 6186       6565  30509900
 6186      51897  30509900
 6186      94140  30509900,             id_l       id_r
 token_id
 20525      10856  100072183
 20525       7175  100072183
 20525      53325  100072183
 20525      42652  100072183
 20525     100648  100072183
 20525      80532  100072183
 20525      91996  100072183
 20525      88978  100072183, id_l       47950
 id_r    37330600
 Name: 71728, dtype: object, id_l       56548
 id_r    12164700
 Name: 57401, dtype: object,            id_l     id_r
 token_id
 32831     16831  9037901
 32831     58324  9037901
 32831     58319  9037901,             id_l     id_r
 token_id
 10308      42225  8048200
 10308      49955  8048200
 10308        103  8048200
 10308      22456  8048200
 10308      83981  8048200
 10308      98132  8048200
 10308      91566  8048200
 10308      53724  8048200
 10308     100729  8048200
 10308      94838  8048200
 10308      29913  8048200
 10308      89946  8048200
 10308      20364  8048200
 10308      33617  8048200
 10308      35593  8048200
 10308      92899  8048200
 10308      66115  8048200
 10308      89937  8048200
 10308      31434  8048200
 10308      58294  8048200, id_l      16834
 id_r    8279700
 Name: 75845, dtype: object,            id_l     id_r
 token_id
 30800     42392  6605600
 30800     88035  6605600
 30800     55162  6605600
 30800     53599  6605600
 30800     53645  6605600
 30800     55783  6605600,            id_l       id_r
 token_id
 12375     89221  100003267
 12375     53799  100003267,            id_l      id_r
 token_id
 10334     26051  10056800
 10334     49489  10056800
 10334     55777  10056800
 10334     63922  10056800
 10334     61300  10056800
 10334     49486  10056800
 10334     22009  10056800
 10334     15158  10056800
 10334     50050  10056800, id_l     55502
 id_r    418200
 Name: 24671, dtype: object, id_l       52671
 id_r    44647200
 Name: 77920, dtype: object,            id_l     id_r
 token_id
 98        34842  8302600
 98        50275  8302600
 98        22643  8302600, id_l      25176
 id_r    6822800
 Name: 75875, dtype: object, id_l        10856
 id_r    100072183
 Name: 65640, dtype: object,            id_l       id_r
 token_id
 82861     84237   12987700
 82861     84237  100058822
 82861     13471   12987700
 82861     13471  100058822,            id_l       id_r
 token_id
 67693      9080  100079335
 67693     76519  100079335, id_l        64079
 id_r    100009376
 Name: 73841, dtype: object, id_l        60649
 id_r    100035753
 Name: 2166, dtype: object, id_l     56111
 id_r    768300
 Name: 73853, dtype: object,            id_l       id_r
 token_id
 12430     31776  100056927
 12430     22601  100056927
 12430     64299  100056927
 12430     15715  100056927,             id_l      id_r
 token_id
 82070      17565  44647200
 82070     100371  44647200,            id_l    id_r
 token_id
 71834     91955  484100
 71834     23249  484100
 71834     63991  484100, id_l     56809
 id_r    309500
 Name: 8349, dtype: object,            id_l       id_r
 token_id
 23806     53467  100072402
 23806     51871  100072402
 23806     51928  100072402
 23806     98438  100072402,            id_l      id_r
 token_id
 22710     30728  30189700
 22710     75445  30189700
 22710     56465  30189700
 22710     74370  30189700
 22710     73065  30189700
 22710     91835  30189700
 22710     59070  30189700
 22710     39748  30189700
 22710     40726  30189700
 22710     58165  30189700
 22710     65981  30189700
 22710     37639  30189700,            id_l     id_r
 token_id
 30906     21319  1171900
 30906     89572  1171900
 30906     50683  1171900,            id_l       id_r
 token_id
 10427     49946  100012118
 10427     52583  100012118
 10427     73520  100012118
 10427     44117  100012118
 10427      3335  100012118,            id_l    id_r
 token_id
 32958     71495  459600
 32958      7258  459600
 32958     74905  459600
 32958     55586  459600,            id_l       id_r
 token_id
 196       57489  100063220
 196       57489  100039980
 196       53153  100063220
 196       53153  100039980
 196       92987  100063220
 196       92987  100039980
 196       83320  100063220
 196       83320  100039980
 196       19811  100063220
 196       19811  100039980
 196       81645  100063220
 196       81645  100039980
 196       47709  100063220
 196       47709  100039980
 196       29176  100063220
 196       29176  100039980
 196       94572  100063220
 196       94572  100039980
 196       51735  100063220
 196       51735  100039980
 196       94571  100063220
 196       94571  100039980
 196       53524  100063220
 196       53524  100039980
 196       16269  100063220
 196       16269  100039980,            id_l      id_r
 token_id
 4294      89951  41856000
 4294      88838  41856000
 4294      81787  41856000
 4294      52840  41856000
 4294      56246  41856000,            id_l    id_r
 token_id
 22561     52010  246600
 22561     43890  246600
 22561     53785  246600
 22561     64840  246600
 22561     32963  246600
 22561     43962  246600
 22561     42547  246600
 22561     71511  246600
 22561     51932  246600
 22561     69511  246600,            id_l     id_r
 token_id
 16585     92649  9291700
 16585     39586  9291700
 16585     26662  9291700
 16585     79902  9291700
 16585     56908  9291700
 16585     83203  9291700
 16585       737  9291700
 16585     22639  9291700
 16585     24968  9291700
 16585     24943  9291700
 16585     19846  9291700
 16585     84843  9291700
 16585     74753  9291700
 16585     24949  9291700
 16585     55737  9291700
 16585      8514  9291700
 16585     76710  9291700
 16585     81480  9291700
 16585     58601  9291700
 16585     89571  9291700
 16585     53961  9291700
 16585     60599  9291700
 16585     95122  9291700,            id_l      id_r
 token_id
 80075     53157  22829600
 80075     17200  22829600,             id_l     id_r
 token_id
 20685      26880  9299300
 20685      75576  9299300
 20685     101731  9299300
 20685      85980  9299300
 20685      76427  9299300
 20685      14659  9299300
 20685      84648  9299300
 20685      51765  9299300
 20685      67990  9299300
 20685      94175  9299300
 20685       7906  9299300
 20685      85969  9299300
 20685      64417  9299300
 20685      53861  9299300
 20685       3896  9299300
 20685      44890  9299300
 20685     101732  9299300
 20685      95061  9299300
 20685      45397  9299300
 20685      31256  9299300
 20685      13565  9299300
 20685      82923  9299300
 20685      55916  9299300
 20685      32015  9299300
 20685      97999  9299300
 20685      38847  9299300
 20685     101229  9299300
 20685      55909  9299300
 20685      43396  9299300
 20685     100817  9299300
 20685      95392  9299300
 20685      70507  9299300
 20685      58890  9299300
 20685      95060  9299300
 20685       5319  9299300,            id_l    id_r
 token_id
 2254      89293  489100
 2254      13563  489100
 2254      38352  489100
 2254      38351  489100
 2254      73482  489100,            id_l   id_r
 token_id
 16591     49585  33200
 16591     13467  33200, id_l      49401
 id_r    1575800
 Name: 35192, dtype: object,            id_l   id_r
 token_id
 28891      3853  42100
 28891     14424  42100
 28891     44364  42100
 28891     60538  42100
 28891     39436  42100
 28891     52166  42100
 28891     59739  42100
 28891     76739  42100
 28891     77038  42100
 28891     76736  42100
 28891     19166  42100
 28891     56101  42100
 28891     44376  42100
 28891     16031  42100
 28891     49632  42100
 28891     35556  42100
 28891     58555  42100
 28891     20839  42100
 28891     54437  42100
 28891     79851  42100
 28891     60678  42100
 28891     57779  42100
 28891     84614  42100
 28891     52238  42100
 28891     61303  42100
 28891     26110  42100
 28891     51896  42100
 28891     22126  42100
 28891     14857  42100
 28891     39789  42100
 28891     84394  42100
 28891     60521  42100
 28891     82702  42100
 28891     73101  42100
 28891     85699  42100,            id_l      id_r
 token_id
 22748     84348  51234400
 22748     62662  51234400
 22748     54766  51234400, id_l        52786
 id_r    100013458
 Name: 22750, dtype: object,            id_l       id_r
 token_id
 63712      8266  100068563
 63712     49843  100068563, id_l     20827
 id_r    628600
 Name: 20705, dtype: object, id_l      28051
 id_r    6377400
 Name: 73425, dtype: object,            id_l    id_r
 token_id
 20712     56111  768300
 20712     21772  768300
 20712     91365  768300
 20712     38117  768300
 20712      3568  768300
 20712     34160  768300
 20712     92785  768300,            id_l    id_r
 token_id
 20715     33312  356000
 20715     50550  356000, id_l      22689
 id_r    8239800
 Name: 12526, dtype: object, id_l        54321
 id_r    100058455
 Name: 78066, dtype: object,            id_l    id_r
 token_id
 2294      13660  340500
 2294      45226  340500
 2294      56657  340500
 2294      55289  340500
 2294      61723  340500
 2294      56752  340500
 2294      50443  340500
 2294      88455  340500,             id_l      id_r
 token_id
 10488      60378  41002500
 10488      56778  41002500
 10488      57845  41002500
 10488      34050  41002500
 10488      73244  41002500
 10488      36634  41002500
 10488      12112  41002500
 10488      65281  41002500
 10488       5531  41002500
 10488      89636  41002500
 10488      41565  41002500
 10488     100975  41002500
 10488      58519  41002500
 10488      56784  41002500
 10488      66341  41002500
 10488      56780  41002500
 10488      17459  41002500
 10488      39722  41002500
 10488      63756  41002500
 10488      56767  41002500
 10488      37204  41002500
 10488      89353  41002500
 10488      32616  41002500
 10488      55647  41002500
 10488      55650  41002500
 10488      60370  41002500
 10488      77463  41002500
 10488      62535  41002500
 10488      39355  41002500
 10488      76795  41002500
 ...          ...       ...
 10488      74171  41002500
 10488      85984  41002500
 10488      50065  41002500
 10488      47064  41002500
 10488      97694  41002500
 10488      88474  41002500
 10488      98664  41002500
 10488      68689  41002500
 10488      30802  41002500
 10488      68430  41002500
 10488      17350  41002500
 10488      34124  41002500
 10488      42327  41002500
 10488      48924  41002500
 10488       4226  41002500
 10488      60202  41002500
 10488      88796  41002500
 10488      16910  41002500
 10488      13928  41002500
 10488      97127  41002500
 10488      74158  41002500
 10488      31719  41002500
 10488       8630  41002500
 10488      39804  41002500
 10488      95158  41002500
 10488      98768  41002500
 10488      45546  41002500
 10488     100134  41002500
 10488     103264  41002500
 10488      56779  41002500

 [129 rows x 2 columns],             id_l      id_r
 token_id
 16636      27579  18699200
 16636      66264  18699200
 16636      75884  18699200
 16636      14421  18699200
 16636      14020  18699200
 16636      10187  18699200
 16636      14148  18699200
 16636      32758  18699200
 16636      18763  18699200
 16636      33140  18699200
 16636      28193  18699200
 16636      54975  18699200
 16636      44079  18699200
 16636       7318  18699200
 16636       6022  18699200
 16636      36764  18699200
 16636      25555  18699200
 16636     103655  18699200
 16636      13935  18699200
 16636      53300  18699200
 16636      30507  18699200
 16636      43863  18699200
 16636      16759  18699200
 16636      83803  18699200
 16636      27505  18699200
 16636      36877  18699200
 16636      57409  18699200
 16636      97362  18699200
 16636      19311  18699200
 16636      45118  18699200
 ...          ...       ...
 16636      11438  18699200
 16636      35582  18699200
 16636      59532  18699200
 16636      91099  18699200
 16636      47692  18699200
 16636      83990  18699200
 16636      40269  18699200
 16636      54125  18699200
 16636      28884  18699200
 16636      51365  18699200
 16636      12800  18699200
 16636      57364  18699200
 16636      75800  18699200
 16636      99060  18699200
 16636      61497  18699200
 16636      36177  18699200
 16636      90700  18699200
 16636      68329  18699200
 16636      16483  18699200
 16636      66327  18699200
 16636      15375  18699200
 16636       9554  18699200
 16636      47488  18699200
 16636      12765  18699200
 16636      59881  18699200
 16636       5318  18699200
 16636      54959  18699200
 16636      91703  18699200
 16636      61559  18699200
 16636       6136  18699200

 [86 rows x 2 columns], id_l      54952
 id_r    6513200
 Name: 49405, dtype: object, id_l      20886
 id_r    1485500
 Name: 4350, dtype: object, id_l        49796
 id_r    100009004
 Name: 37127, dtype: object,            id_l      id_r
 token_id
 24840     89693  46092500
 24840     92579  46092500,             id_l       id_r
 token_id
 20745      77112  100079814
 20745      77110  100079814
 20745      13408  100079814
 20745      62910  100079814
 20745      54954  100079814
 20745      56948  100079814
 20745      63970  100079814
 20745      60889  100079814
 20745      62142  100079814
 20745      77111  100079814
 20745      54953  100079814
 20745      49885  100079814
 20745      55152  100079814
 20745      20960  100079814
 20745      49889  100079814
 20745      60730  100079814
 20745      55039  100079814
 20745      49362  100079814
 20745      14620  100079814
 20745      63999  100079814
 20745     103545  100079814
 20745      57577  100079814
 20745      57237  100079814
 20745      57345  100079814
 20745      56441  100079814
 20745      57574  100079814
 20745      64073  100079814
 20745      64074  100079814
 20745      84645  100079814
 20745      54952  100079814
 20745      54951  100079814
 20745      56775  100079814
 20745      23215  100079814
 20745      63927  100079814
 20745      56482  100079814
 20745      52045  100079814
 20745      57576  100079814
 20745      61013  100079814
 20745      61884  100079814
 20745      60428  100079814
 20745      62066  100079814
 20745      62855  100079814
 20745      57572  100079814
 20745      99071  100079814
 20745      55786  100079814
 20745      64075  100079814
 20745      54956  100079814
 20745      60933  100079814
 20745      57440  100079814
 20745      56394  100079814
 20745      54955  100079814
 20745      53284  100079814
 20745      57413  100079814
 20745      61826  100079814
 20745      55947  100079814, id_l     55018
 id_r    103400
 Name: 41230, dtype: object, id_l      49564
 id_r    6826300
 Name: 4141, dtype: object,            id_l     id_r
 token_id
 78097     90190  6768600
 78097     50860  6768600,            id_l    id_r
 token_id
 8475      84236  698100
 8475      17593  698100
 8475      94084  698100
 8475      93399  698100,            id_l      id_r
 token_id
 26908     43628  36888900
 26908     64004  36888900
 26908     64302  36888900
 26908     58664  36888900
 26908     22617  36888900
 26908     64078  36888900
 26908     89475  36888900
 26908     43627  36888900
 26908     36215  36888900
 26908     85839  36888900,            id_l      id_r
 token_id
 10532     42789  30509900
 10532     83494  30509900
 10532     62476  30509900
 10532     96211  30509900, id_l      57676
 id_r    1344300
 Name: 2346, dtype: object, id_l       58162
 id_r    34077500
 Name: 64903, dtype: object, id_l       56565
 id_r    12582600
 Name: 59701, dtype: object,            id_l       id_r
 token_id
 6537      84906  100014700
 6537      67720  100014700
 6537      31547  100014700
 6537      69649  100014700
 6537       8484  100014700
 6537      71280  100014700
 6537      16949  100014700
 6537      86038  100014700
 6537      36242  100014700
 6537      50176  100014700
 6537      67873  100014700
 6537      25275  100014700
 6537      93249  100014700,             id_l       id_r
 token_id
 22842      44975  100005613
 22842      95892  100005613
 22842     103624  100005613
 22842      89863  100005613
 22842      88991  100005613,            id_l       id_r
 token_id
 51517     33318  100014706
 51517     61445  100014706, id_l       60202
 id_r    41002500
 Name: 51524, dtype: object, id_l       16513
 id_r    25782900
 Name: 37191, dtype: object,            id_l      id_r
 token_id
 6472      90464  24570800
 6472      73079  24570800
 6472      54690  24570800
 6472      37389  24570800
 6472      60502  24570800
 6472      32949  24570800
 6472      94723  24570800
 6472      69562  24570800,            id_l         id_r
 token_id
 76105     89919  WAKE FOREST
 76105     67644  WAKE FOREST, id_l      49542
 id_r    1865800
 Name: 59724, dtype: object, id_l     55500
 id_r    417900
 Name: 68322, dtype: object, id_l        33760
 id_r    100056550
 Name: 18774, dtype: object,             id_l       id_r
 token_id
 349        24025   16429500
 349        24025  100043839
 349       100401   16429500
 349       100401  100043839
 349        42365   16429500
 349        42365  100043839
 349        80582   16429500
 349        80582  100043839
 349        98332   16429500
 349        98332  100043839
 349        47162   16429500
 349        47162  100043839
 349        12525   16429500
 349        12525  100043839
 349        73522   16429500
 349        73522  100043839
 349        24695   16429500
 349        24695  100043839
 349       103651   16429500
 349       103651  100043839
 349        33904   16429500
 349        33904  100043839
 349        97572   16429500
 349        97572  100043839
 349        54879   16429500
 349        54879  100043839
 349        98410   16429500
 349        98410  100043839
 349        74124   16429500
 349        74124  100043839
 349         5339   16429500
 349         5339  100043839
 349        10313   16429500
 349        10313  100043839
 349        98571   16429500
 349        98571  100043839
 349        47464   16429500

In [50]:
bonus_joins = pd.concat(bonus_token_joins)

In [51]:
bonus_joins

              0    id_l       id_r
id_l      64220     NaN        NaN
id_r    6656100     NaN        NaN
2051        NaN   57853  100015545
2051        NaN   79529  100015545
2051        NaN   92400  100015545
2051        NaN   39927  100015545
2051        NaN   19411  100015545
2051        NaN   51652  100015545
2051        NaN   38749  100015545
2051        NaN   32719  100015545
id_l      54976     NaN        NaN
id_r   10298300     NaN        NaN
20496       NaN   71366     477900
20496       NaN   50870     477900
20496       NaN   18226     477900
20496       NaN   59621     477900
20496       NaN   13188     477900
20496       NaN   78612     477900
24597       NaN   33697    6633400
24597       NaN   91215    6633400
24597       NaN   16218    6633400
24597       NaN   94975    6633400
24597       NaN   50731    6633400
26652       NaN   90072  100071403
26652       NaN   90072  100081427
26652       NaN   76565  100071403
26652       NaN   76565  100081427
26652       NaN   98557  100071403
26652       NaN   98557  100081427
26652       NaN  100331  100071403
...         ...     ...        ...
10229       NaN   16591  100009793
10229       NaN   16591   38450300
10229       NaN   70014  100009793
10229       NaN   70014   38450300
10229       NaN   33790  100009793
10229       NaN   33790   38450300
10229       NaN   84372  100009793
10229       NaN   84372   38450300
14327       NaN   89157  100052999
14327       NaN    6808  100052999
14327       NaN   21004  100052999
14327       NaN   51932  100052999
14327       NaN   49844  100052999
14327       NaN   89156  100052999
14327       NaN   24855  100052999
14327       NaN   89158  100052999
14327       NaN    5033  100052999
14327       NaN   13063  100052999
14327       NaN    4601  100052999
14327       NaN   11577  100052999
14327       NaN   20710  100052999
14327       NaN   12946  100052999
14327       NaN   88976  100052999
32766       NaN   51860      21900
32766       NaN   91870      21900
32766       NaN   51296      21900
32766       NaN    5443      21900
32766       NaN   97644      21900
11605       NaN   23119   45188500
11605       NaN   52450   45188500

[325779 rows x 3 columns]

In [28]:
bonus_point_tokens = []
for token in main_tokens_df[(main_tokens_df['count'] > 1) & (main_tokens_df['count']<=5)].token:
    bonus_point_tokens.append(tokens_id_dct[token])

In [30]:
len(bonus_point_tokens)

18600

In [40]:
type(set(list(joined.index)))

set

In [45]:
intersection_bonus_tokens = set(bonus_point_tokens).intersection(set(list(joined.index)))

In [46]:
type(intersection_bonus_tokens)

set

In [35]:
len(set(joined.index))

1754

In [55]:
org_tokens = []    
for word in left_df['l_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))

for word in right_df['r_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))
            
org_flat_list = [item for sublist in org_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
org_cnt = Counter()
for token in org_flat_list:
    org_cnt[token] += 1

org_cnt_dict = dict(org_cnt) #convert to dictionary

def sequence_uniqueness(seq):
    return sum(1/org_cnt_dict[str.lower(t)]**0.5 for t in seq)

def name_similarity(a, b):
    a_tokens = set(tokenize_name(a))
    b_tokens = set(tokenize_name(b))
    a_uniq = sequence_uniqueness(a_tokens)
    b_uniq = sequence_uniqueness(b_tokens)

    return sequence_uniqueness(a_tokens.intersection(b_tokens))/(a_uniq * b_uniq) ** 0.5

full_conc['uniq'] = full_conc.apply(lambda x: name_similarity(x.l_org_name, x.r_org_name), axis=1)

In [56]:
full_conc.head()

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score,uniq
0,1000,100045308,2,Miami University of Ohio,Oxford,oh,45056,www.muohio.edu,5135291809,Ohio Association of County Boards,...,43085,,0.573954,0.42,0.39,0.56,1,0,2.457965,0.239763
1,100745,100045308,2,Ohio Department of Transportation,Columbus,oh,43223,http://,,Ohio Association of County Boards,...,43085,,0.594365,0.45,0.36,0.48,1,0,2.413274,0.292671
2,100758,100045308,2,Ohio Bursars Association,Novelty,oh,44072,www.ohiobursars.org,,Ohio Association of County Boards,...,43085,,0.654040,0.67,0.74,0.80,1,0,3.148030,0.109954
3,101794,100045308,2,School Employees Retirement System of Ohio,Columbus,oh,43215,NULL,,Ohio Association of County Boards,...,43085,,0.544084,0.30,0.32,0.45,1,0,2.210563,0.191766
4,10525,100045308,2,Northeast Ohio Arts Education Collaborative,Canton,oh,NULL,NULL,,Ohio Association of County Boards,...,43085,,0.643664,0.55,0.50,0.50,1,0,2.645248,0.150320

In [232]:
org_tokens = []    
for word in left_df['l_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))

for word in right_df['r_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))
            
org_flat_list = [item for sublist in org_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
org_cnt = Counter()
for token in org_flat_list:
    org_cnt[token] += 1

org_cnt_dict = dict(org_cnt) #convert to dictionary

In [246]:
org_cnt_dict['hmm']

2

In [231]:
left_df.shape

(88517, 12)

In [295]:
start_time = time.time()
set('this is a name name hmm-161'.split())
print("finished --- %s seconds ---" % (time.time() - start_time))

finished --- 0.0019998550415 seconds ---

In [288]:
start_time = time.time()
set(tokenize_name('this is a name name hmm-161'))
print("finished --- %s seconds ---" % (time.time() - start_time))

finished --- 0.00200009346008 seconds ---

In [235]:
str.lower('Limited')

'limited'

In [234]:
cnt_dict['limited']

114

In [54]:
full_conc['uniq'] = full_conc.apply(lambda x: name_similarity(x.l_org_name, x.r_org_name), axis=1)

NameError: ("global name 'org_cnt_dict' is not defined", u'occurred at index 0')

In [261]:
full_conc[full_conc.composite_match_score < 5].sort_values(by='uniq',ascending=False).head()

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score,uniq
1546542,55224,6209500,5,"Florida Transportation Builders Association, Inc.",Tallahassee,fl,32301,ftba.com,8509421404,Florida Transportation Builders Association Inc,...,32302-1208,www.ftba.com,0.991837,0.98,1.0,1.0,1,1,4.978878,1.0
1793265,62716,7059000,8,Professional Insurance Agents of Louisiana,Baton Rouge,la,70816,piaoflouisiana.com,2257667770,Professional Insurance Agents of Louisiana,...,70809-3423,www.piaoflouisiana.com,1.000000,1.00,1.0,1.0,1,0,4.000000,1.0
1167772,20818,6443900,5,NTCA The Rural Broadband Association,Arlington,va,22203,ntca.org,7033512000,NTCA - The Rural Broadband Association,...,22203-1801,www.ntca.org,0.933918,0.94,1.0,1.0,1,1,4.905439,1.0
2033604,64078,36888900,9,American Water Works Association - California/...,Rancho Cucamonga,ca,91730,ca-nv-awwa.org,9094817200,American Water Works Association California Ne...,...,91730,www.ca-nv-awwa.org,0.976092,0.95,1.0,1.0,1,1,4.944569,1.0
2050481,60552,100054118,7,Utah Highway Patrol Association,Salt Lake City,ut,84157,utahtrooper.com,8015543711,UTAH Highway Patrol Association,...,84157,www.utahtrooper.com,0.813364,0.90,1.0,1.0,1,1,4.785023,1.0

In [263]:
full_conc[full_conc.id_l=='90981']

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score,uniq
53050,90981,100007379,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Industrial Minerals Association - North America,...,20036,www.ima-na.org,0.478035,0.57,0.39,0.50,1,0,2.453526,0.047244
66183,90981,100009793,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Financial Services Institute Inc,...,20004,www.financialservices.org,0.458829,0.29,0.30,0.30,1,0,2.011622,0.000000
79294,90981,100015009,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Ironworker Management Progressive Action Coope...,...,20006,www.impact-net.org,0.563621,0.38,0.30,0.30,1,0,2.157716,0.000000
92258,90981,100024433,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Magnet Schools of America,...,20006,www.magnet.edu,0.623175,0.62,0.61,0.61,1,0,2.847381,0.035682
105146,90981,100044292,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Cancer Support Community,...,20036,www.cancersupportcommunity.org,0.529762,0.33,0.36,0.36,1,0,2.184821,0.000000
117926,90981,100053867,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,IT Alliance for Public Sector,...,20005,www.itic.org,0.522852,0.29,0.36,0.36,1,0,2.149639,0.000000
131186,90981,100056550,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Certified Professional...,...,20005,www.nacpm.org,0.521356,0.33,0.29,0.29,1,0,2.073517,0.000000
143984,90981,100057977,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,New Leaders Council,...,20036,,0.560011,0.32,0.35,0.35,1,0,2.185008,0.000000
156707,90981,100058477,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association for Fixed Annuities,...,20004,www.nafa.com,0.484921,0.33,0.30,0.30,1,0,2.061190,0.000000
169412,90981,100058650,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,SIFMA,...,20004,www.sifma.org,0.000000,0.20,0.15,0.15,1,0,1.375000,0.000000
182201,90981,100068342,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,United Philanthropy Forum,...,20036,www.givingforum.org,0.458730,0.33,0.30,0.30,1,0,2.041548,0.000000
194987,90981,100070200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Renewable Fuels Association,...,20024,,0.515520,0.33,0.29,0.29,1,0,2.069140,0.000000
207957,90981,100078955,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Alliance for Regenerative Medicine,...,20002,www.alliancerm.org,0.502568,0.33,0.33,0.33,1,1,3.119426,0.000000
220688,90981,100080417,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Diplomacy Center Foundation,...,20006,,0.492224,0.24,0.33,0.33,1,0,2.044168,0.000000
233424,90981,100080832,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,LeadingAge,...,20008,www.leadingage.org,0.579365,0.30,0.26,0.26,1,0,2.049524,0.000000
246439,90981,101800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Association of Schools and Programs of Public ...,...,20036,www.asph.org,0.469170,0.38,0.30,0.31,1,0,2.094377,0.000000
259193,90981,12356300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Armenian Assembly of America,...,20036,www.aaainc.org,0.597427,0.52,0.49,0.50,1,0,2.580571,0.034705
272100,90981,1485500,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Senior Executives Association,...,20002,www.seniorexecs.org,0.573810,0.33,0.32,0.32,1,1,3.157857,0.000000
285368,90981,14931500,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Certification Commission for Acupunct...,...,20036,www.nccaom.org,0.558252,0.43,0.28,0.28,1,0,2.161189,0.000000
298151,90981,14979800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Public Welfare Foundation,...,20009-4443,www.publicwelfare.org,0.486935,0.24,0.26,0.26,1,0,1.935201,0.000000
310878,90981,1506300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,The ESOP Association,...,20036,www.esopassociation.org,0.517460,0.24,0.29,0.29,1,0,2.003095,0.000000
323686,90981,18065100,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,International Premium Cigar & Pipe Retailers A...,...,20002,www.rtda.org,0.456349,0.38,0.32,0.32,1,1,3.107262,0.000000
336950,90981,19193200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Health Care Anti-Fraud Association,...,20005,www.nhcaa.org,0.512253,0.33,0.25,0.25,1,0,2.006689,0.000000
349898,90981,2345000,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Land Title Association,...,20036-5828,www.alta.org,0.486175,0.29,0.38,0.38,1,0,2.152131,0.000000
362838,90981,2807700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,State Services Organization,...,20001-1512,www.sso.org,0.477778,0.33,0.29,0.29,1,1,3.040833,0.000000
375576,90981,30800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Bakers Association,...,20004,www.americanbakers.org,0.566239,0.38,0.50,0.50,1,0,2.459679,0.000000
388570,90981,37330600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Organization of Nurse Practitioner Fa...,...,20036,www.nonpf.com,0.500749,0.38,0.32,0.32,1,0,2.140562,0.000000
401534,90981,42100,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Gas Association,...,20001,www.aga.org,0.525397,0.33,0.49,0.49,1,0,2.376548,0.000000
414901,90981,432200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Greater Washington Board of Trade,...,20006,www.bot.org,0.530303,0.38,0.30,0.30,1,0,2.132727,0.000000
428221,90981,43300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Health Care Association,...,20005-4024,www.ahca.org,0.554113,0.33,0.42,0.42,1,1,3.293084,0.000000
441190,90981,43826800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Automobile Dealers Association,...,20003,www.nada.org,0.566300,0.33,0.27,0.27,1,0,2.077225,0.000000
454055,90981,475300,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Conservation Districts,...,20002-4937,www.nacdnet.org,0.471877,0.33,0.30,0.30,1,1,3.051408,0.000000
467241,90981,479300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Home Builders,...,20005,www.nahb.com,0.520807,0.33,0.28,0.28,1,0,2.058105,0.000000
480748,90981,491100,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Water Companies,...,20035-4945,www.nawc.org,0.556166,0.33,0.33,0.33,1,0,2.159625,0.000000
494093,90981,493900,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Business Aviation Association,...,20005,www.nbaa.org,0.483216,0.33,0.27,0.27,1,0,2.014912,0.000000
507204,90981,514700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Institute of Building Sciences,...,20005-4905,www.nibs.org,0.511045,0.29,0.27,0.27,1,0,2.005783,0.000000
519952,90981,520400,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Parking Association,...,20036,www.npapark.org,0.586544,0.38,0.37,0.37,1,0,2.279908,0.000000
532703,90981,578500,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,The Optical Society,...,20036-1023,www.osa.org,0.475668,0.26,0.30,0.30,1,1,3.001751,0.000000
545745,90981,59600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Public Transportation Association,...,20005,www.apta.com,0.534921,0.33,0.41,0.41,1,0,2.263690,0.000000
559116,90981,6242600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Air Transportation Association,...,20006,www.nata.aero,0.522589,0.33,0.37,0.37,1,0,2.194441,0.000000
571892,90981,6411700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,United Fresh Produce Association,...,20006-3412,www.unitedfresh.com,0.558532,0.38,0.30,0.30,1,1,3.153899,0.000000
584603,90981,65601,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,ASAE Foundation,...,20005,www.asaecenter.org,0.402381,0.13,0.33,0.33,1,0,1.894286,0.000000
597426,90981,6630600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Council for Responsible Nutrition,...,20036-5114,www.crnusa.org,0.478355,0.29,0.30,0.30,1,0,2.026266,0.000000
610170,90981,6633400,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Mathematical Association of America,...,20036-1358,www.maa.org,0.546032,0.52,0.43,0.50,1,0,2.497024,0.047447
622887,90981,6717700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Washington Hebrew Congregation,...,20016,www.whctemple.org,0.599386,0.33,0.35,0.35,1,0,2.222039,0.000000
635715,90981,68000,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Society of Landscape Architects,...,20001-3736,www.asla.org,0.529365,0.33,0.39,0.39,1,0,2.229524,0.000000
649054,90981,6898900,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Independent Schools,...,20036-3425,www.nais.org,0.471996,0.33,0.34,0.34,1,0,2.111497,0.000000
661843,90981,8048200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Oilseed Processors Association,...,20005-4168,www.nopa.org,0.532357,0.43,0.37,0.37,1,0,2.276767,0.000000
675167,90981,8239800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Clean Water Agencies,...,20036-2505,www.nacwa.org,0.503608,0.33,0.34,0.34,1,0,2.135206,0.000000
688500,90981,8279700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Pharmaceutical Care Management Association,...,20004,www.pcmanet.org,0.489011,0.29,0.29,0.29,1,0,2.019258,0.000000
701487,90981,8302600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Council of Graduate Schools,...,20036-1173,www.cgsnet.org,0.430556,0.29,0.33,0.33,1,0,2.035417,0.000000
714315,90981,8400300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Workforce Boards,...,20036,www.nawb.org,0.563095,0.43,0.36,0.36,1,0,2.284821,0.000000
727236,90981,9057900,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Pet Food Institute,...,20036-2422,www.petfoodinstitute.org,0.472013,0.26,0.15,0.15,1,0,1.774010,0.000000
1739641,90981,6165700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,neighborworks America,...,29455,www.nw.org,0.936508,0.90,1.00,1.00,0,0,2.877381,1.000000

In [240]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

set([2, 5])
set([2])
set([2, 3])
set([2])

In [241]:
type(A)

set

In [4]:
all_tokens = pd.concat([unique_tokens_df, main_tokens_df])
all_tokens.to_csv('all_tokens.csv')

In [122]:
full_conc[(full_conc.id_l == 90981) & (full_conc.id_r ==6165700)]

Empty DataFrame
Columns: [id_l, id_r, id_l count, l_org_name, l_city, l_state, l_postal_code, l_web, l_clean_phone, r_org_name, r_city, r_state, r_postal_code, r_web, jaro_score, fuzz_partial_score, fuzz_sort_score, fuzz_set_score, state_match, zip_match, composite_match_score]
Index: []

[0 rows x 21 columns]

In [7]:
full_conc[(full_conc.id_l == '90981') & (full_conc.id_r =='6165700')]

Empty DataFrame
Columns: [id_l, id_r, id_l count, l_org_name, l_city, l_state, l_postal_code, l_web, l_clean_phone, r_org_name, r_city, r_state, r_postal_code, r_web, jaro_score, fuzz_partial_score, fuzz_sort_score, fuzz_set_score, state_match, zip_match, composite_match_score]
Index: []

[0 rows x 21 columns]

In [201]:
right_df[right_df.id_r =='6165700']

,Source,id_r,Cup Org ID,r_org_name,r_address1,r_city,r_state,r_postal_code,Zip Code 5 Numeric,CompanyType,r_web,MemberType,#ASAEMembers,Industry,Budget,EIN,#Staff
225,"IndividualMember, Not OrgMember",6165700,90981,neighborworks America,1684 Brownswood Road,Johns Island,sc,29455,29455,Philanthropic/Non-Profit/Charitable/Foundation...,www.nw.org,Non Member - Company Prospect,1,HOU - Housing,F - $10 million but less than $25 million,364194807,255

In [123]:
right_df[right_df.r_org_name == 'neighborworks America']

,Source,id_r,Cup Org ID,r_org_name,r_address1,r_city,r_state,r_postal_code,Zip Code 5 Numeric,CompanyType,r_web,MemberType,#ASAEMembers,Industry,Budget,EIN,#Staff
225,"IndividualMember, Not OrgMember",6165700,90981,neighborworks America,1684 Brownswood Road,Johns Island,sc,29455,29455,Philanthropic/Non-Profit/Charitable/Foundation...,www.nw.org,Non Member - Company Prospect,1,HOU - Housing,F - $10 million but less than $25 million,364194807,255

In [296]:
org_matches = full_conc[full_conc.composite_match_score >= composite_score_min]
org_matches.to_csv('1 token org matches w uniq col.csv')

In [107]:
left_df = pd.read_csv('all cupola orgs w phone_utf.csv',keep_default_na=False)
right_df = pd.read_table('asae_utf.txt',keep_default_na=False,error_bad_lines=False)

left_df.rename(columns={l_id:'id',l_name:'l_org_name',l_address1:'l_address1',l_city:'l_city',l_state:'l_state',l_zip:'l_postal_code',l_web:'l_web',l_phone:'l_phone',l_acronym:'l_acronym',l_alt_name:'l_alt_name'}, inplace=True)
right_df.rename(columns={r_id:'id',r_name:'r_org_name',r_address1:'r_address1',r_city:'r_city',r_state:'r_state',r_zip:'r_postal_code',r_web:'r_web'}, inplace=True)

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(inplace=True)

left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)

In [50]:
all_left_cols = left_unique_token_columns + left_delta_token_columns

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)
left_keyed.drop('token',axis=1,inplace=True)

all_right_cols = right_unique_token_columns + right_delta_token_columns

right_frame_list = []
for colname in all_right_cols:
    tokenmapping = cv.fit_transform(right_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    right_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], right_df['id'].values[df_row]]).T, columns = ['token', 'id_r']))

right_keyed = pd.concat(right_frame_list)
right_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
right_token_ids = []
for token in right_keyed.token:
    right_token_ids.append(tokens_id_dct[token])

right_keyed['token_id'] = right_token_ids
right_keyed.sort_values(by='token_id',inplace=True)
right_keyed.set_index('token_id',inplace=True)
right_keyed.drop('token',axis=1,inplace=True)

In [178]:
all_right_cols = right_unique_token_columns + right_delta_token_columns

right_frame_list = []
for colname in all_right_cols:
    tokenmapping = cv.fit_transform(right_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    right_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], right_df['id'].values[df_row]]).T, columns = ['token', 'id_r']))

right_keyed = pd.concat(right_frame_list)
right_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
right_token_ids = []
for token in right_keyed.token:
    right_token_ids.append(tokens_id_dct[token])

right_keyed['token_id'] = right_token_ids

In [124]:
right_keyed[right_keyed.token == 'neighborworks']

AttributeError: 'DataFrame' object has no attribute 'token'

In [125]:
right_df[right_df.id_r =='6165700'].r_org_name

225    neighborworks America
Name: r_org_name, dtype: object

In [127]:
joined_bonus[(joined_bonus.id_l == '90981') & (joined_bonus.id_r == '6165700')]

        id_l     id_r
38702  90981  6165700

In [111]:
left_keyed.loc[36806]

token    neighborworks
id_l             90981
Name: 36806, dtype: object

In [104]:
left_keyed[left_keyed.token=='neighborworks']

               token   id_l  token_id
68875  neighborworks  90981     36806

In [106]:
left_keyed.to_csv('left_keyed pre token sort.csv')

In [59]:
left_keyed[left_keyed.token=='neighborworks']

               token   id_l  token_id
68875  neighborworks  90981     36806

In [82]:
left_df[left_df.id ==90981]

,id,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone
31695,90981,NeighborWorks America,,999 N. Capitol St. NE,Suite 900,Washington,DC,20002,NULL,www.neighborworks.org,202-760-4000

In [102]:
left_keyed[left_keyed.token=='neighborworks']

AttributeError: 'DataFrame' object has no attribute 'token'

In [167]:
left_keyed.head()

           id_l
token_id
1         50181
7         16131
10        33262
11        49308
13        74073

In [172]:
#this is weird.  Why is this returning the ID-L
left_keyed.loc[45525]

id_l    90981
Name: 45525, dtype: object

In [175]:
right_keyed.loc[45525]

KeyError: u'the label [45525] is not in the [index]'

In [174]:
left_keyed[left_keyed.id_l == 90981]

Empty DataFrame
Columns: [id_l]
Index: []

In [93]:
tokens_dct['america']

0

In [98]:
all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

In [101]:
all_tokens[all_tokens.token == 'neighborworks']

               token  count  flag
36806  neighborworks      3     1

In [94]:
tokens_dct

{'fawl': 0,
 'icparegions': 0,
 'wvtroopers': 0,
 'mdbc': 0,
 'scheuring': 0,
 'fjata': 0,
 'fawd': 0,
 'degussa': 1,
 'woods': 1,
 'gaf': 1,
 'woody': 1,
 'ohiocommunitycolleges': 0,
 'gae': 0,
 'ipfa': 0,
 'kidsfirst': 0,
 'ncuma': 0,
 'sprague': 0,
 'caney': 0,
 '5986': 0,
 'stonewatercontrols': 0,
 'epixpharma': 0,
 'rickman': 0,
 'tenino': 0,
 'bswhealth': 0,
 'osioutsourcing': 0,
 'naturopathic': 1,
 'pages': 1,
 '36601': 0,
 'trojan': 1,
 'pigment': 0,
 'gastars': 0,
 'tourister': 0,
 'segbw': 0,
 'ncbtmb': 0,
 'broward': 1,
 'bringing': 0,
 'lsservices': 0,
 'southernoffshorefishingassociation': 0,
 'rementor': 0,
 'wccfa': 0,
 'tichenorassociates': 0,
 'wooden': 1,
 'weele': 0,
 'intelsatgeneral': 0,
 'raoul': 0,
 'cyberpoint': 0,
 'crossrate': 1,
 'tcba': 0,
 'avenuecapital': 0,
 'schunk': 0,
 'afpminnesota': 0,
 'inkster': 0,
 'paragonsdc': 0,
 'tumeq': 0,
 '0058': 1,
 'stohr': 0,
 '0053': 0,
 '0052': 0,
 '0051': 1,
 '0050': 0,
 '0057': 1,
 '0056': 1,
 '0055': 1,
 '0054': 1,
 'naausa': 0,
 'gannonintl': 0,
 'stonesrivergroup': 0,
 'iceaa': 0,
 'sbcca': 0,
 '16701': 0,
 'illinoispsychology': 0,
 'uccfs': 0,
 'arizonasunrays': 0,
 'altairnano': 0,
 'delawarephcc': 0,
 'wtcphila': 0,
 'powersports': 1,
 'designing': 0,
 'databank': 0,
 'consular': 0,
 'eatrightnh': 0,
 '63025': 0,
 'eatrightnj': 0,
 '10708': 1,
 '63021': 1,
 'sanitasint': 0,
 '95798': 0,
 '10702': 1,
 '10701': 1,
 'eatrightnc': 0,
 'affiliates': 1,
 '10704': 0,
 'eatrightny': 0,
 '21619': 1,
 '509th': 1,
 'shirecanada': 0,
 'affiliated': 1,
 '21617': 1,
 'janyainc': 0,
 '21613': 1,
 'kids': 1,
 'handsurgery': 0,
 'pellet': 1,
 'coordinationplus': 0,
 'osiristx': 0,
 'spotts': 0,
 'riverhawk': 0,
 'kinsley': 1,
 'americanseafoods': 0,
 'redevelopment': 1,
 'kusters': 0,
 'aanfa': 0,
 'lmm': 0,
 '99bombgroup': 1,
 'girlscoutsrv': 0,
 'lence': 0,
 'ruralhealthweb': 1,
 '58078': 1,
 'conradlegal': 0,
 '58074': 1,
 'ergotron': 1,
 '58071': 0,
 'msplanning': 0,
 'dnd': 0,
 'agassi': 1,
 'ivfesa': 0,
 'dnc': 1,
 'dnb': 1,
 'dnn': 1,
 'dni': 1,
 'dnj': 0,
 'dnu': 0,
 'dnv': 1,
 'dnp': 0,
 'nebook': 0,
 'oassp': 0,
 'slocumboddie': 0,
 'fundation': 0,
 'avmr': 0,
 'thermoking': 0,
 'hermana': 0,
 'yahoo': 1,
 'hermann': 1,
 'njforestry': 0,
 'avma': 1,
 'mexel': 0,
 'northernseedtrade': 0,
 'olhiga': 0,
 'capitolcoalitions': 0,
 'lemunyongroup': 0,
 'adventist': 1,
 'reingold': 1,
 'equilateral': 0,
 'californiadriedplums': 0,
 'canem': 0,
 'nabna': 0,
 'interaction': 1,
 '13057': 1,
 'ashleyfurniture': 0,
 'nsafl': 0,
 'wang': 1,
 'wand': 1,
 'wane': 0,
 'crystalgroup': 0,
 'wano': 0,
 'titanium': 1,
 'wanp': 0,
 'sunrays': 0,
 'coapd': 0,
 'pinto': 1,
 'glendaleaz': 0,
 'tasfaatn': 0,
 'wellpinit': 1,
 'travel': 1,
 'cartercopters': 1,
 'brighamcity': 0,
 'keweenaw': 1,
 'periodontology': 1,
 'nazmi': 0,
 'lifewatchinc': 0,
 '5m6': 0,
 'aabd': 0,
 'americanfamiliesunited': 0,
 'stoller': 1,
 'europeforvisitors': 0,
 'balady': 0,
 'medsolutions': 1,
 'seda': 1,
 '27619': 1,
 'sedc': 0,
 '27617': 1,
 '27616': 1,
 '27615': 1,
 '27614': 1,
 '27613': 1,
 '27612': 1,
 '27611': 1,
 '27610': 1,
 'aabe': 1,
 'kreseski': 0,
 'hansonbridgett': 0,
 'southernwholesalers': 0,
 'matatransit': 0,
 'ho': 1,
 'ohiomoose': 0,
 'navalweather': 0,
 'lambdapichi': 0,
 'nmg': 1,
 'lambda': 1,
 'gulfcoastfilters': 0,
 'hattawaycommunications': 0,
 'mluservices': 0,
 'thecampsite': 0,
 'socwomen': 0,
 'intelliject': 0,
 'sapfm': 0,
 'studentpress': 1,
 '8549': 0,
 '8544': 1,
 'claflin': 1,
 '8546': 0,
 '8540': 1,
 'azba': 0,
 '8542': 1,
 'njcm': 0,
 'fis': 0,
 '92260': 1,
 'fiv': 0,
 '92264': 0,
 'uot': 0,
 'lifeline': 1,
 'fix': 1,
 'njca': 0,
 'njcc': 0,
 'cryolife': 1,
 'fib': 0,
 'fic': 0,
 'uoa': 0,
 'fia': 1,
 'fig': 1,
 'cnda': 0,
 '66503': 1,
 'gevo': 1,
 'shinawatra': 0,
 'nutraceuticals': 1,
 '66508': 0,
 'srcld': 0,
 'methode': 1,
 'cimmp': 0,
 'woccu': 1,
 'effects': 1,
 'tippingpointpartners': 0,
 'sova': 1,
 'sove': 0,
 'borail': 0,
 '9w7': 0,
 '60901': 0,
 'lucere': 0,
 '26566': 0,
 'klickitat': 0,
 'plainscotton': 0,
 'barton': 1,
 'lucero': 0,
 'telekom': 1,
 'pomerance': 0,
 'smithsonianstudenttravel': 0,
 'viaticus': 1,
 'ccagw': 0,
 'rctech': 1,
 'buckinstitute': 0,
 '92886': 1,
 '92887': 1,
 'kowa': 0,
 '92883': 0,
 '92880': 1,
 '92881': 0,
 'naniq': 0,
 'ballaerospace': 1,
 'hartmanassociates': 0,
 'getco': 0,
 'enviroment': 0,
 'industrystudies': 0,
 'mazur': 0,
 'voitrax': 0,
 '48911': 1,
 'ahapac': 0,
 'chva': 1,
 'nhsbca': 0,
 '93130': 1,
 'thacher': 1,
 'abbott': 1,
 'mooseintl': 1,
 'sayfie': 0,
 '75287': 1,
 'nataslgl': 0,
 'sandra': 1,
 'sheet': 1,
 'colosewingpros': 0,
 'cololangarts': 0,
 'lawyersforchildrenamerica': 0,
 'silent': 1,
 'mcgeheestrategies': 0,
 'chiari': 0,
 'texasmuseums': 0,
 'syr': 1,
 'alene': 1,
 'cedartown': 0,
 'pfaff': 0,
 'mdschblind': 0,
 'fredrikson': 0,
 'georgialibraries': 0,
 'stoneham': 1,
 'hawaiijewelersassociation': 0,
 'aitaonline': 0,
 'sheboygan': 1,
 'chuden': 0,
 'learningforward': 1,
 'evergreenelectromotive': 0,
 'dlapiper': 1,
 'feldspar': 0,
 'valoggers': 0,
 'chesterwhites': 0,
 'azatsa': 0,
 'ncpropertymappers': 0,
 'comissnetwork': 0,
 'pinkering': 0,
 'forrester': 1,
 'masten': 0,
 'uniformretailers': 0,
 'clearwaterport': 0,
 'olda': 0,
 'ucdmc': 1,
 'oldc': 0,
 'master': 1,
 'lifesciences': 1,
 'institutenorth': 0,
 'polarhusky': 0,
 'genesis': 1,
 '04619': 0,
 'mdgga': 0,
 'californiadialysis': 0,
 'richardattiasassociates': 1,
 'bizapedia': 0,
 'ampi': 0,
 'crwad': 0,
 'winterville': 1,
 'pearsonassessments': 0,
 'imiscloud': 0,
 'kogovsek': 0,
 'capitaledge': 1,
 'iogcc': 0,
 '273': 0,
 'manchester': 1,
 'friend': 0,
 'confrere': 0,
 'warmsprings': 1,
 'parisamericanhighschool': 0,
 'gleanerlife': 0,
 'kalitta': 0,
 'coinstar': 0,
 'psychtechs': 1,
 'cincinnatichamber': 0,
 '6811': 1,
 '15701': 1,
 '6813': 1,
 'myositis': 1,
 '6815': 0,
 '6814': 0,
 'guardianprotection': 0,
 'campapign': 0,
 '9757': 1,
 '9754': 0,
 '9752': 0,
 'skadden': 1,
 'safetyontheweb': 0,
 'hsop': 0,
 '9758': 1,
 'vgm': 0,
 'vgn': 0,
 'earth911': 1,
 'wholesome': 0,
 '24141': 0,
 'wslea': 0,
 'essexseniorliving': 0,
 'vga': 1,
 'electrocardiology': 1,
 'leeondong': 0,
 'affaire': 0,
 'vgt': 0,
 'kremlin': 0,
 'shipments': 1,
 'premiermss': 0,
 '5603': 1,
 'planetfitness': 0,
 'travelcommand': 0,
 'ccsaa': 0,
 'schoolwires': 1,
 'collingswifthynes': 0,
 'sdfbf': 0,
 'africa': 1,
 'tect': 1,
 'maja': 0,
 'nationwideequipment': 0,
 'nysassrs': 0,
 'cares': 1,
 'morden': 0,
 'nfbflorida': 0,
 'tech': 1,
 'circulation': 1,
 'teck': 1,
 '68340': 0,
 'teca': 0,
 'trollers': 0,
 '78248': 0,
 'dicker': 0,
 'apace': 0,
 'apaca': 0,
 'excavator': 0,
 'apangea': 1,
 'cmsolutionsdc': 0,
 'rcaca': 0,
 '30334': 1,
 '30335': 0,
 '30336': 1,
 '30337': 1,
 '30331': 1,
 '30332': 1,
 '30333': 0,
 'usaigc': 0,
 '76164': 1,
 '76163': 0,
 '30339': 1,
 '76161': 1,
 '7566': 0,
 'iati': 0,
 'professionaltransportationinc': 0,
 'plata': 1,
 'iatl': 0,
 'iatm': 0,
 'iatc': 1,
 'iata': 1,
 '7564': 0,
 'iate': 0,
 'platt': 1,
 'baylarian': 1,
 'tficillinois': 0,
 'caribe': 0,
 'iatr': 1,
 'ksoms': 0,
 'iatp': 0,
 'afponline': 0,
 'jaguar': 1,
 'patca': 0,
 'kcca': 0,
 'phototelesis': 0,
 'navasota': 0,
 'fgbci': 0,
 'merrell': 1,
 'ppsapta': 0,
 'shakleecares': 0,
 'artglassassociation': 0,
 'coloradoranger': 0,
 'ncwa': 0,
 'joniandfriends': 0,
 'slaviccenter': 0,
 '35218': 0,
 'ncwe': 0,
 'mccutchen': 1,
 '35214': 0,
 '35216': 1,
 'alaskatel': 0,
 '35210': 1,
 '35211': 0,
 '35212': 1,
 '35213': 1,
 'washingtonports': 0,
 'tyndale': 0,
 'fanncorp': 0,
 'etix': 1,
 '23260': 1,
 '23261': 1,
 'crouch': 1,
 'gatheringofeagles': 0,
 'ticaret': 1,
 '5608': 1,
 'ipcrx': 0,
 'doran': 0,
 'healthnetsreviewservices': 0,
 'irp': 0,
 'exactsciences': 0,
 'irr': 0,
 'irs': 1,
 'cemaonline': 0,
 'lott': 1,
 'iri': 1,
 'gallobusinessmedia': 0,
 'theisraelproject': 0,
 'ira': 1,
 'lota': 0,
 'irc': 0,
 'ird': 0,
 'nawl': 0,
 'irf': 0,
 'receptionists': 1,
 'municipiodebayamon': 0,
 'trauma': 1,
 'alabamamayflowersociety': 0,
 'extend': 1,
 'nature': 1,
 'mckinnonassociates': 0,
 'fsneuro': 0,
 'icfanet': 0,
 'marinaassociation': 0,
 'gcea': 0,
 'gcec': 0,
 'gcee': 0,
 'himonline': 0,
 'alpena': 1,
 'arcommunitybankers': 0,
 'aboriginalhr': 0,
 'airflow': 0,
 'wvtrucking': 0,
 'ieeemagnetics': 0,
 'fifth': 1,
 'zoomlion': 0,
 'engility': 0,
 'carrouseltravel': 0,
 '73447': 0,
 'fishermensfinest': 0,
 'china': 1,
 'greatmindsinstem': 0,
 'searsport': 0,
 'ustwirling': 1,
 'baypointenaplescay': 0,
 'moorpark': 1,
 'wagyu': 1,
 'niyc': 0,
 'otolaryngologists': 1,
 'strawberrywater': 0,
 'nursesinaidscare': 0,
 'frc': 1,
 'fra': 1,
 'noblenational': 0,
 'frf': 0,
 'glmtf': 0,
 'encinitas': 1,
 'fri': 1,
 'frm': 0,
 'rexsystems': 0,
 'dartforms': 0,
 'muca': 0,
 'frx': 0,
 'packardclub': 1,
 'naifa': 1,
 'envizion': 0,
 'wags': 1,
 'hoganlovells': 1,
 'jhsmiami': 0,
 'hepa': 0,
 'amhca': 1,
 'spie': 1,
 'carmeusena': 0,
 'orenco': 1,
 'regus': 1,
 'spin': 0,
 'spim': 1,
 'sundanceservices': 0,
 'homecare': 1,
 'calpeach': 1,
 'ndbpa': 0,
 'vamarinetrades': 0,
 'ydfda': 0,
 '1671': 0,
 'indianapolissymphony': 0,
 'kenyaembassy': 0,
 'nebtrucking': 0,
 'unionists': 1,
 'prnewswire': 0,
 'entrecanales': 0,
 'unos': 1,
 'biometeorology': 1,
 'getagadget': 1,
 'kohn': 0,
 'mayflowerga': 0,
 'kohl': 1,
 'conditioned': 0,
 '5059': 0,
 'waddell': 1,
 '5054': 0,
 '5056': 1,
 '5057': 0,
 '5050': 1,
 'knollsofdover': 0,
 '5052': 0,
 '5053': 0,
 'auanet': 1,
 'wvaflcio': 0,
 'kylehousegroup': 0,
 'whamtech': 1,
 'democracies': 0,
 'equistar': 0,
 'ncpga': 0,
 '70139': 1,
 'provincials': 0,
 'cavanaugh': 1,
 '70130': 1,
 'zeon': 0,
 'kenworthymanagement': 0,
 'pilatesmethodalliance': 0,
 'opticalalchemy': 0,
 'triexceeding': 1,
 'ohiochapter': 0,
 'collegecounseling': 0,
 'greatlakesshrineassociation': 0,
 'qdoba': 1,
 'uslumbercoalition': 0,
 'weinstock': 1,
 'solarbee': 1,
 'wattsandassociates': 0,
 'exitrealty': 0,
 'vacaonline': 0,
 'mentors': 0,
 'woodworkers': 0,
 'mccartonfoundation': 0,
 'academic': 1,
 '02467': 0,
 'academia': 1,
 'njrha': 0,
 'aerbvi': 1,
 'wdpa': 0,
 'bellot': 1,
 'larrison': 0,
 'nacfam': 0,
 'tjh2bas': 0,
 'valleys': 1,
 'loghomes': 0,
 'cowlitzpud': 0,
 'dtag': 1,
 'maloneygr': 0,
 'tavernier': 0,
 'hah': 0,
 'hai': 0,
 'ih': 1,
 '83634': 0,
 'hal': 1,
 'ham': 1,
 'han': 0,
 'hao': 0,
 'haa': 0,
 'hab': 0,
 'hac': 1,
 'investigativeproject': 0,
 'sunrisewindows': 0,
 'hag': 0,
 'cottongwa': 0,
 'mcnamara': 1,
 'ftca': 0,
 'loudoun': 1,
 'hap': 1,
 'har': 0,
 'has': 0,
 'hat': 1,
 'zapworld': 0,
 'platemakers': 0,
 'omegawv': 0,
 'equalfooting': 0,
 'elders': 1,
 'akvma': 0,
 'compaction': 0,
 'cityofwasilla': 0,
 'calruralwater': 0,
 'nasgw': 0,
 'filmpreservation': 0,
 'chicagolandspeedway': 0,
 'aeyc': 0,
 'tacticalassaultgearstore': 0,
 'dunrath': 1,
 '65thdiv': 0,
 'nasga': 0,
 'sirsidynix': 0,
 '8034': 1,
 '8037': 1,
 '8036': 1,
 'aviagen': 1,
 '8033': 1,
 'crowe': 1,
 'wvuh': 0,
 '8y9': 0,
 'stern': 1,
 '8039': 0,
 'homebaking': 0,
 'resperatory': 0,
 'wvup': 0,
 'crows': 1,
 'healthsperien': 1,
 'captiva': 1,
 'shellpoint': 0,
 'fiduciary': 1,
 'bottom': 1,
 'alabamaschoolboards': 0,
 'teksid': 0,
 'cyprusembassy': 0,
 'miskillsusa': 0,
 'tasfaa': 0,
 'truthfullabeling': 0,
 'kindsvatter': 0,
 'osbar': 0,
 'shelteringarms': 0,
 'thesummafoundation': 0,
 'herrin': 0,
 'lswa': 0,
 'knittinguniverse': 0,
 'ology': 1,
 'dna': 1,
 'bamboo': 0,
 'mililani': 1,
 'acoi': 0,
 'idoahomecare': 0,
 'oassa': 0,
 'leominster': 0,
 'acoa': 0,
 'cadbury': 1,
 'acog': 1,
 'perthamboy': 0,
 'americanschoolbuscouncil': 0,
 'vonage': 1,
 'acop': 0,
 'acos': 0,
 'southeastregion': 0,
 'culac': 0,
 'societyns': 0,
 'ribgh': 0,
 'ferrariclubofamerica': 0,
 'marshall': 1,
 'hcapna': 1,
 'whwg': 0,
 'marshals': 1,
 'whwc': 0,
 'districtenergy': 0,
 'crothall': 0,
 'lpba': 0,
 'columbiettes': 1,
 'bombardier': 1,
 'nygap': 0,
 'fabric': 1,
 'afpneworleans': 0,
 'christian': 1,
 '16001': 1,
 'usyouthsoccer': 0,
 'hobokenstrategy': 0,
 'napcosecurity': 0,
 'rheumatology': 1,
 'miiab': 0,
 'neighborhoodhousecharterschool': 0,
 '52349': 0,
 '17356': 1,
 'crewclassic': 0,
 'americanbondholdersfoundation': 0,
 'westmoreland160': 0,
 'ocpgroup': 0,
 'lightreading': 0,
 'univest': 1,
 'apc1002': 0,
 'ecac': 0,
 'americanbrahmousincouncil': 0,
 'corportaion': 0,
 'pricing': 1,
 'duals': 0,
 'navajonationchapters': 0,
 'galvanizersassociation': 0,
 '20866': 0,
 '20861': 0,
 '20860': 0,
 'medimetriks': 0,
 'wacker': 1,
 'cambodia': 1,
 'rspi': 0,
 'rpnys': 0,
 'gennandmurphy': 0,
 'advantec': 0,
 'gpanorthwest': 0,
 'rspa': 0,
 'horseshoepitching': 0,
 'ritts': 1,
 'hipaset': 0,
 'nfdoi': 0,
 'palms': 1,
 'alliedtelesis': 0,
 'icsglobal': 0,
 'ellenwood': 0,
 'sffma': 0,
 'imperialtrading': 0,
 'yellowstone': 1,
 'm35k2gpd': 0,
 'nhbwinc': 0,
 'edow': 0,
 'languagepolicy': 1,
 'btama': 0,
 'source': 1,
 'mediacomcable': 0,
 'homeboxoffice': 0,
 'ctuhsa': 0,
 'leaders4health': 0,
 '97470': 1,
 '97471': 0,
 'interpipe': 1,
 '12208': 1,
 '12209': 0,
 'prosthodontic': 0,
 '97478': 0,
 '97479': 0,
 '12206': 1,
 '12207': 1,
 '12201': 1,
 '12203': 1,
 'corpu': 0,
 'plantsville': 0,
 'aohc': 1,
 'chain': 1,
 's1vzvj8': 0,
 'intltwins': 0,
 'aohp': 0,
 'innerspring': 0,
 'pels': 0,
 'chair': 1,
 '29356': 0,
 '8866': 0,
 '8867': 0,
 'ballet': 1,
 '8862': 0,
 '8863': 0,
 'machs': 0,
 '8869': 0,
 'naawsonline': 0,
 'kfia': 0,
 'inititative': 0,
 'macha': 0,
 'machc': 0,
 'ballen': 0,
 'kidsave': 1,
 'conferencearchives': 0,
 'montreat': 1,
 'afsaonline': 0,
 'npmaonline': 0,
 'accountingtutor': 0,
 'orofino': 0,
 '67576': 1,
 'batesfootwear': 0,
 'lobbycongress': 0,
 'biopharmaceuticals': 1,
 'elkridge': 1,
 'ameribev': 1,
 'materialscience': 1,
 'alliedtube': 0,
 'animalagriculture': 0,
 'twabout': 0,
 'exact': 1,
 'resqline': 0,
 'minute': 1,
 'bentcounty': 0,
 'breakthrubev': 0,
 'reining': 0,
 'pela': 0,
 '68638': 0,
 '28thinfantrydivisionassoc': 0,
 'illustrators': 1,
 'cyclopharma': 0,
 'oregonapa': 0,
 'moravianwomensconference': 0,
 'peterson': 1,
 'procacci': 0,
 '95829': 0,
 'beckerandbecker': 0,
 'wuaa': 0,
 'conradcounsel': 0,
 'breauxlott': 0,
 'uiatf': 0,
 'wordscanheal': 0,
 'nacap': 0,
 'afe': 0,
 '28409': 0,
 'nacas': 1,
 'nacat': 0,
 'msmea': 0,
 '28403': 0,
 '28402': 1,
 '28401': 1,
 'burch': 0,
 'zrz': 0,
 '28405': 1,
 '28404': 0,
 'nacaa': 1,
 'nacac': 0,
 'imcorp': 1,
 'zra': 0,
 'sndproductions': 0,
 'bovis': 0,
 'livanova': 0,
 'splyss': 0,
 'cnoa': 0,
 '95825': 1,
 'vanderbilt': 1,
 'njlm': 0,
 'advinmictg': 0,
 'blacknetworktelevision': 0,
 'njln': 0,
 'address': 0,
 'steelshieldtech': 0,
 'ufg': 0,
 'bioreference': 1,
 'novaha': 0,
 'threebridgesadvisors': 0,
 'gnar': 0,
 'statere': 1,
 'impacted': 1,
 'digitalmedialicensing': 0,
 'snowbirds': 0,
 'mileagematrix': 0,
 'matilda': 1,
 'wavin': 0,
 'icais': 0,
 'bowlwi': 0,
 'mopoa': 0,
 'mysticseaport': 0,
 'topsail': 1,
 'ifgc': 1,
 'cirpa': 0,
 'deltaco': 0,
 'fireworld': 0,
 'darnell': 0,
 'handbags': 0,
 'may': 1,
 'stegmann': 1,
 'optimize': 0,
 '92186': 1,
 'nalp': 0,
 '92182': 1,
 'insurence': 0,
 'lakelandgov': 0,
 'wsparks': 0,
 '74051': 0,
 '74055': 1,
 'breweriana': 1,
 '74056': 1,
 '74058': 0,
 'fareway': 1,
 'wvu': 1,
 'nevada': 1,
 'terman': 0,
 'ushcam': 0,
 'wvc': 1,
 'enproindustries': 0,
 'aquinnah': 1,
 'rutherford': 1,
 'hellenic': 1,
 '35581': 0,
 'alliedcharitiesmn': 0,
 'unitedonline': 0,
 '94544': 1,
 'munroe': 0,
 '27921': 0,
 'liverez': 1,
 'kyhotellodging': 0,
 'orendainternational': 0,
 'employess': 0,
 'stetson': 1,
 'mailboxes': 0,
 'soup': 1,
 'ueunion': 1,
 'patientrak': 0,
 'notaries': 1,
 'aacp123': 0,
 'ineda': 0,
 'americanhellenic': 0,
 'aksys': 0,
 'williamsville': 1,
 '06378': 0,
 'bibliographical': 0,
 'tube': 1,
 'msacroa': 0,
 'jewishpublicaffairs': 1,
 '06372': 0,
 'thealda': 0,
 'lulac': 0,
 'enersysinc': 0,
 '25712': 0,
 'afpflorida': 0,
 'datalabs': 1,
 'sdatat': 0,
 '62924': 0,
 'pennunited': 0,
 'aiche': 1,
 'financialops': 1,
 'epidemiologic': 0,
 'portridgefield': 0,
 'zalicus': 1,
 'vonel': 0,
 'harmon': 1,
 'kaskol': 1,
 'denbury': 1,
 ...}

In [87]:
left_keyed

            id_l
token_id
6            737
6          78388
6          39222
6          67617
6          16131
7           7819
7          37771
7         101383
7          23611
7          41636
7           9092
7          17064
7          14590
7           5564
7          45022
7          44506
7           5601
7          45346
7          52131
7          92330
7          37429
8          33262
9          13425
9          78513
10         49308
12         48993
12         40417
14         53267
14         50344
15         90232
...          ...
83070      17735
83070      30411
83070      18754
83070      55941
83070       9982
83071      31237
83071      24767
83075      67582
83075      44524
83075      44168
83075      70298
83075      44525
83077      45239
83077      45386
83079      89219
83083      58203
83083      50087
83083      29489
83083      73275
83083      56248
83083      19617
83083      73905
83083      73721
83083      59221
83083      55322
83083      98206
83087      89881
83088      41790
83089      92858
83091      31093

[448293 rows x 1 columns]

In [78]:
#but THIS isn't??
left_keyed[left_keyed.id_l == 90981]

Empty DataFrame
Columns: [id_l]
Index: []

In [75]:
right_keyed[right_keyed.token=='neighborworks']

             token     id_r
497  neighborworks  6165700

In [53]:
right_keyed[right_keyed.id_r ==6165700]

Empty DataFrame
Columns: [id_r]
Index: []

In [34]:
left_df[left_df.id == 90981]

,id,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone
31695,90981,NeighborWorks America,,999 N. Capitol St. NE,Suite 900,Washington,DC,20002,NULL,www.neighborworks.org,202-760-4000

In [40]:
print filter(lambda x: '20002' in x, flat_list)

TypeError: 'in <string>' requires string as left operand, not int

In [170]:
tokens_id_dct['neighborworks']

45525

In [25]:
left_keyed[left_keyed.id_l==90981]

Empty DataFrame
Columns: [token, id_l]
Index: []

In [171]:
tokens_dct['neighborworks']

1

In [129]:
type('')

str

In [167]:
full_conc.isnull().sum()

id_l             0
id_r             0
id_l count       0
l_org_name       0
l_city           0
l_state          0
l_postal_code    0
l_web            0
l_clean_phone    0
r_org_name       0
r_city           0
r_state          0
r_postal_code    0
r_web            0
r_clean_phone    0
dtype: int64

In [135]:
left_df.l_phone

0                #N/A
1        609-771-0101
2                #N/A
3                #N/A
4                #N/A
5                #N/A
6                #N/A
7                #N/A
8                #N/A
9        847-605-6000
10       800-987-3373
11       202-585-3100
12               #N/A
13               #N/A
14       978-692-4900
15       702-221-4780
16       202-298-8660
17       202-778-1800
18               #N/A
19               #N/A
20       972-671-8885
21               #N/A
22               #N/A
23               #N/A
24       407-644-6300
25       512-364-0656
26               #N/A
27               #N/A
28               #N/A
29               #N/A
             ...
88487    212-922-1500
88488    443-391-7235
88489    504-522-4850
88490            #N/A
88491    408-536-6000
88492            #N/A
88493    407-581-1560
88494    862-261-7000
88495    319-337-1000
88496    405-737-2676
88497    240-450-0075
88498    410-347-7700
88499    408-400-1900
88500    484-653-3300
88501    917-452-4400
88502    509-457-4611
88503    312-899-0040
88504    952-926-6547
88505            #N/A
88506            #N/A
88507    224-667-6100
88508    919-856-2360
88509    267-351-4310
88510            #N/A
88511            #N/A
88512    651-733-1110
88513            #N/A
88514    651-733-1110
88515    972-235-7502
88516    802-552-4067
Name: l_phone, Length: 88517, dtype: object

In [138]:
left_reduced = left_df.head(1000).copy()

In [153]:
start_time = time.time()
print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#clean up non numeric characters in phones
def sanitize_phone(phone):
    if isinstance(phone, basestring) is True:
        return ''.join(c for c in (phone or '') if c in '1234567890')
    if isinstance(phone, float) is False:
        return phone
    
for phone in left_reduced.l_phone:
    left_reduced.l_phone.replace(sanitize_phone(phone))
    
print("phones checked --- %s seconds ---" % (time.time() - start_time))
print ""

CHECKING FOR PHONE MATCHES...
phones checked --- 0.444000005722 seconds ---

In [160]:
start_time = time.time()
print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#clean up non numeric characters in phones
for phone in left_df.l_phone:
    left_df.l_phone.replace(re.sub('[^0-9]','', phone))
    
print("phones checked --- %s seconds ---" % (time.time() - start_time))
print ""

CHECKING FOR PHONE MATCHES...
phones checked --- 0.408999919891 seconds ---

In [161]:
start_time = time.time()
print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

clean_phones = []
for phone in left_df.l_phone:
    clean_phones.append(re.sub('[^0-9]','', phone))
    
left_df['new_phone'] = clean_phones

print("phones checked --- %s seconds ---" % (time.time() - start_time))
print ""

CHECKING FOR PHONE MATCHES...
phones checked --- 0.319999933243 seconds ---

In [162]:
left_df.head()

,id_l,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone,new_phone
0,3640,Zyvex Performance,NULL,NULL,NULL,Columbus,oh,NULL,NULL,www.zyvexpro.com,#N/A,
1,95526,Zytron,,20 Lexington Ave.,NULL,Trenton,nj,8618,NULL,www.zytron.com,609-771-0101,6097710101
2,70481,"Zynga, Inc.",NULL,699 Eighth St.,NULL,San Francisco,ca,94103,NULL,NULL,#N/A,
3,70482,Zynga (a client of Bay Bridge Strategies),NULL,1300 Connecticut Ave. NW,Suite 600,Washington,dc,20036,NULL,NULL,#N/A,
4,81106,Zynerba Pharmaceuticals Inc,NULL,80 W. Lancaster Ave.,Suite 300,Devon,pa,19333,NULL,NULL,#N/A,

In [95]:
duplicate_candidates.shape

(402544, 3)

In [92]:
duplicate_candidates.drop_duplicates(subset=('id_l','id_r'),inplace=True)

C:\Users\dbell\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [84]:
tokens_dct['corporation']

KeyError: 'corporation'

In [87]:
main_tokens_df

Empty DataFrame
Columns: [token, count, flag]
Index: []

In [41]:
left_keyed.shape

(699341, 1)

In [42]:
right_keyed.shape

(355793, 1)

In [93]:
l_domains = []
for web in left_df.l_web:
    l_domains.append(web.split('//')[-1].split('/')[0].strip('www.'))

In [96]:
l_domains

['zyvexpro.com',
 'zytron.com',
 'NULL',
 'NULL',
 'NULL',
 'zymogenetics.com',
 'NULL',
 'zweiggroup.com',
 'NULL',
 'zurichna.com',
 'zurichna.com',
 'NULL',
 'zurichna.com',
 'NULL',
 'zuken.com',
 'ufc.com',
 'zsrlaw.com',
 'zuckerman.com',
 'NULL',
 'NULL',
 'zte.com.cn',
 'NULL',
 'NULL',
 'NULL',
 'zrsmanagement.com',
 'zpryme.com',
 'NULL',
 'zoran.com',
 'NULL',
 'NULL',
 'zoomtel.com',
 'NULL',
 'NULL',
 'sandiegozoo.org',
 'buffalozoo.org',
 'zooregistrars.org',
 'zaa.org',
 'zonta.org',
 'zones.com',
 'NULL',
 'NULL',
 'zolotech.com',
 'NULL',
 'zoll.com',
 'zolldata.com',
 'zoladz.com',
 'NULL',
 'zoetis.com',
 'zodiac-poolcare.com',
 'zodiacmarineusa.com',
 'NULL',
 'zoskinhealth.com',
 'NULL',
 'zlti.com',
 'zixcorp.com',
 'zixcorp.com',
 'zirmed.com',
 'NULL',
 'NULL',
 'zippo.com',
 'NULL',
 'NULL',
 'zipcar.com',
 'NULL',
 'NULL',
 'ziopharm.com',
 'zcvbs.com',
 'zionsbank.com',
 'NULL',
 'NULL',
 'zionsbancorporation.com',
 'zoa.org',
 'zinzino.com',
 'NULL',
 'zimmerstrategies.com',
 'NULL',
 'NULL',
 'zdclaw.com',
 'WWW.ZIMMERDENTAL.COM',
 'NULL',
 'zimmer.com',
 'zimek.com',
 'zillow.com',
 'zifian.com',
 'NULL',
 'zwpa.com',
 'WWW.ZIEBART.COM',
 'ziebartconsulting.com',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'zgsgroup.com',
 'zettacore.com',
 'NULL',
 'zetataualpha.org',
 'zetapsi.org',
 'zphib1920.org',
 'zetacommunities.com',
 'zbt.org',
 'NULL',
 'NULL',
 'NULL',
 'zerotothree.org',
 'NULL',
 'zeroodor.com',
 'NULL',
 'NULL',
 'NULL',
 'zeroenergyllc.com',
 'zerobalancing.com',
 'zerocancer.org',
 'NULL',
 'NULL',
 'zerco.com',
 'NULL',
 'zephyr-technology.com',
 'zephyradventures.com',
 'NULL',
 'NULL',
 'zeonchemicals.com',
 'NULL',
 'zenogroup.com',
 'zenncars.com',
 'zenithmarketing.com',
 'thezenith.com',
 'zenith.com',
 'zenergypower.com',
 'NULL',
 'NULL',
 'NULL',
 'zendatech.com',
 'NULL',
 'zelmanassociates.com',
 'zelle.com',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'zegato.com',
 'NULL',
 'zebra.com',
 'NULL',
 'zebraimaging.com',
 'zeachem.com',
 'ze-gen.com',
 'NULL',
 'NULL',
 'NULL',
 'zaxbys.com',
 'NULL',
 'zarca.com',
 'NULL',
 'NULL',
 'zantechit.com',
 'zanesville.k12.oh.us',
 'NULL',
 'zanenet.com',
 'NULL',
 'NULL',
 'zalicus.com',
 'zalicus.com',
 'NULL',
 'zakausa.org',
 'zaiocorp.appspot.com',
 'NULL',
 'zai-inc.com',
 'NULL',
 'NULL',
 'zachrygroup.com',
 'NULL',
 'NULL',
 'NULL',
 'zmicro.com',
 'z-medica.com',
 'ze-gen.com',
 'NULL',
 'ztechcoatings.com',
 'zsquaredmedia.com',
 'NULL',
 'znetdevelopment.com',
 'zcca.org',
 'NULL',
 'ywca.org',
 'ywca.org',
 'NULL',
 'ywca.org',
 'ywca.org',
 'ywcaofmissoula.org',
 'ywcamilw.org',
 'ywcagla.org',
 'ywcaofcleveland.org',
 'ywca.org',
 'ywcachicago.org',
 'ywca.org',
 'ywcacolumbus.org',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'yuut.org',
 'yuroktribe.org',
 'NULL',
 'visityuma.com',
 'yum.com',
 'yum.com',
 'yum.com',
 'yum.com',
 'NULL',
 'ykhc.org',
 'gov.yk.ca',
 'aype.net',
 'ydfda.org',
 'cityofyukonok.gov',
 'NULL',
 'NULL',
 'yucca-valley.org',
 'yucaipa.org',
 'co.yuba.ca.us',
 'yubacounty.com',
 'ysletadelsurpueblo.org',
 'yrcw.com',
 'ypo.org',
 'NULL',
 'youthville.org',
 'youthlinkmn.org',
 'NULL',
 'youthcue.org',
 'youthbuild.org',
 'yvc.org',
 'youthvillages.org',
 'youthunlimited.org',
 'youthspecialties.com',
 'ysoc2.publishpath.com',
 'ysa.org',
 'youthscience.ca',
 'NULL',
 'ypiusa.org',
 'NULL',
 'NULL',
 'NULL',
 'yfu-usa.org',
 'youthfortomorrow.org',
 'YFC.net',
 'youthfirstinc.org',
 'youthevangelism.org',
 'NULL',
 'youthdynamics.org',
 'NULL',
 'NULL',
 'yccs.us',
 'WWW.YOUCAN.CA',
 'yapinc.org',
 'NULL',
 'NULL',
 'NULL',
 'teamycc.com',
 'NULL',
 'NULL',
 'youniqueproducts.com',
 'youngstroke.org',
 'NULL',
 'youngstownsymphony.com',
 'NULL',
 'youngevity.com',
 'patyounger.com',
 'ycst.com',
 'WWW.YWCA.ORG',
 'youngsurvival.org',
 'yrnf.com',
 'WWW.YPAL.ORG',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'ypo.org',
 'NULL',
 'ynpn.com',
 'ymiusa.org',
 'ymca.net',
 'NULL',
 'youngliving.com',
 'newcanaan.younglife.org',
 'houstonregion.younglife.org',
 'inlandnorthwest.younglife.org',
 'ylionline.org',
 'WWW.YJA.ORG',
 'yda.org',
 'ybcco.com',
 'yaneo.org',
 'youngaudiences.org',
 'yaf.org',
 'ala.org',
 'NULL',
 'yottamark.com',
 'yottamark.com',
 'yottaa.com',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'yorktownmanagementconsulting.com',
 'ytca.org',
 'NULL',
 'york-county.org',
 'yorku.ca',
 'yorktel.com',
 'yorktech.com',
 'yrscna.org',
 'yrscna.org',
 'york.com',
 'york.com',
 'NULL',
 'yfs.ca',
 'ycswa.com',
 'NULL',
 'NULL',
 'yorkcapitalmanagement.com',
 'ylwd.com',
 'cityofyonkersida.com',
 'yolocounty.org',
 'yogafit.com',
 'NULL',
 'yochadehe.org',
 'ymcatexasyg.org',
 'yretirement.org',
 'ymca.net',
 'ymcawashdc.org',
 'NULL',
 'seattleymca.org',
 'ymcaofpittsburgh.org',
 'ymcanyc.org',
 'kansascityymca.org',
 'glendaleymca.org',
 'ymcacentralflorida.com',
 'ymafsf.org',
 'ymbiosciences.com',
 'ykkamerica.com',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'yinhospitality.com',
 'NULL',
 'ygomi.com',
 'superfood43.com',
 'NULL',
 'yu.edu',
 'NULL',
 'NULL',
 'NULL',
 'yelvertonconsulting.com',
 'NULL',
 'yelp.com',
 'y2y.net',
 'NULL',
 'NULL',
 'yellowstoneassociation.org',
 'NULL',
 'yellowspringsohio.org',
 'yrcw.com',
 'ycstrans.com',
 'yearup.org',
 'yeagerboyd.com',
 'NULL',
 'leveeboard.org',
 'NULL',
 'NULL',
 'yazaki-na.com',
 'ypit.com',
 'yc.edu',
 'NULL',
 'yatespetroleum.com',
 'NULL',
 'yasoo.com',
 'NULL',
 'yardi.com',
 'yardarm.net',
 'NULL',
 'NULL',
 'NULL',
 'yankeecandle.com',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'co.yamhill.or.us',
 'NULL',
 'yamaha-motor.com',
 'yamaha.com',
 'ynhhs.org',
 'yale.edu',
 'yalenewhavenhealth.org',
 'NULL',
 'yalelawoffice.com',
 'NULL',
 'NULL',
 'NULL',
 'yakima-herald.com',
 'yakimacounty.us',
 'ybsa.org',
 'NULL',
 'yakamanation-nsn.gov',
 'NULL',
 'yai.org',
 'yahoo.com',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'ybaa.com',
 'NULL',
 'NULL',
 'y-carbon.us',
 'xytis.com',
 'NULL',
 'xyngular.com',
 'xylem.com',
 'NULL',
 'NULL',
 'xyplanningnetwork.com',
 'xvionics.com',
 'xunlight.com',
 'NULL',
 'xtremespectrum.com',
 'xtremepower.com',
 'NULL',
 'xtremeads.com',
 'xtrastaffing.com',
 'WWW.XTERRAPLANET.COM',
 'xtendwave.com',
 'xtec.cat',
 'xtarllc.com',
 'NULL',
 'xstreamsystems.net',
 'knittinguniverse.com',
 'xradia.com',
 'NULL',
 'NULL',
 'NULL',
 'xpo.com',
 'xplor.org',
 'xst.ca',
 'xpedx.com',
 'NULL',
 'xoma.com',
 'xoftinc.com',
 'NULL',
 'NULL',
 'xo.com',
 'xmi-amc.com',
 'xlpcapital.com',
 'xlhealth.com',
 'xlhatfield.com',
 'xlhybrids.com',
 'NULL',
 'WWW.XIOTECH.COM',
 'xiostrategies.com',
 'NULL',
 'NULL',
 'NULL',
 'xilinx.com',
 'xilinx.com',
 'xipsiphi.org',
 'xhale.com',
 'xgsciences.com',
 'NULL',
 'xerox.com',
 'NULL',
 'xerox.com',
 'NULL',
 'xenos.org',
 'xenoport.com',
 'xenophonstrategies.com',
 'xenonics.com',
 'NULL',
 'xenith.com',
 'NULL',
 'xelas-systems.com',
 'xdx.com',
 'xdsinc.org',
 'xcor.com',
 'xchangetele.com',
 'xcelplus.com',
 'NULL',
 'xcellca.adventistchurch.org',
 'NULL',
 'xcelenergy.com',
 'xcelenergy.com',
 'NULL',
 'NULL',
 'NULL',
 'xbrl.us',
 'NULL',
 'xaxax.org',
 'xaware.com',
 'xula.edu',
 'xavier.ed',
 'xaviergroup.ca',
 'NULL',
 'NULL',
 'corp.xap.com',
 'xantrex.com',
 'xango.com',
 'NULL',
 'xanadoo.com',
 'xactware.com',
 'xos.com',
 'xrayindustries.com',
 'xprize.org',
 'NULL',
 'x-eeto.com',
 'xcomsystems.com',
 'NULL',
 'NULL',
 'ystar.com',
 'yssfoundation.org',
 'ymt.org',
 'yoming.gov',
 'yoming.oh.us',
 'attorneygeneral.state.wy.us',
 'NULL',
 'edu.wyoming.gov',
 'yomingsoccer.com',
 'yowool.com',
 'yomingwildlife.org',
 'amoa.com',
 'yomingwheat.com',
 'ywaterwell.org',
 'yomingwater.org',
 'vhcs.org',
 'ytruck.org',
 'ytla.org',
 'yotelassn.org',
 'ysga.org',
 'yoliquor.org',
 'ygolf.org',
 'yomingbar.org',
 'yoming-archery.org',
 'yomingaflcio.org',
 'yocpa.org',
 'yomingcounselingassociation.com',
 'sba-wy.org',
 'yomingrea.org',
 'yoretail.org',
 'yorpa.com',
 'pta.net',
 'yomingpublicemployees.org',
 'yopress.org',
 'yomingpork.org',
 'yoga.org',
 'yomingoptometricassociation.com',
 'yonurse.org',
 'ynga.org',
 'nena.org',
 'yomingmining.org',
 'yomed.org',
 'ymayflowersociety.org',
 'lra.org',
 'lsb.state.wy.us',
 'ylifega.org',
 'yla.org',
 'NULL',
 'yia.org',
 'yohousing.com',
 'yohospitals.com',
 'yomingstatetrooper.org',
 'ahcancal.org',
 'NULL',
 'yomingfda.org',
 'yfb.org',
 'yoea.org',
 'sites.google.com',
 'yda.org',
 'yo-wcca.org',
 'Wyoming.CRS.com',
 'ca-agc.build',
 'yocattlewomen.org',
 'campwyoming.org',
 'yocable.org',
 'yomingbusinessalliance.com',
 'boilermakers101.com',
 'bowlwyo.com',
 'NULL',
 'ybeef.com',
 'yomingbankers.com',
 'yoautodealers.org',
 'ncte.org',
 'assp.org',
 'asa-wy.org',
 'arws.com',
 'yomingrealtors.org',
 'yomuni.org',
 'amcat.org',
 'countyengineers.org',
 'conservewy.com',
 'yomingbroadcasting.org',
 'yarted.org',
 'yomingarchaeology.org',
 'yomingangus.org',
 'amoa.com',
 'ascassociation.org',
 'aemsa.org',
 'yag.net',
 'yomed.org',
 'NULL',
 'ynnehealth.com',
 'ynnlasvegas.com',
 'NULL',
 'ynfordgroup.com',
 'NULL',
 'yndhamworldwide.com',
 'yndhamworldwide.com',
 'yndhamjade.com',
 'NULL',
 'yndhamworldwide.com',
 'yman-gordon.com',
 'ymanconsulting.com',
 'ymanassociates.net',
 'yle.com',
 'ycliffe.org',
 'NULL',
 'NULL',
 'yandotte-nation.org',
 'NULL',
 'yan.org',
 'xtvonline.org',
 'fight4right.org',
 'NULL',
 'vsadc.org',
 'NULL',
 'NULL',
 'tcfamiliesforproperburial.com',
 'tas.com',
 'tatennis.com',
 '-t-a.org',
 'NULL',
 'stsports.com',
 'NULL',
 'NULL',
 'sos.org',
 'NULL',
 'NULL',
 'sfsbank.com',
 'sfsbank.com',
 'sb.com',
 'sainc.net',
 'spackaging.com',
 'NULL',
 'ima.org',
 'elinske.com',
 'riterspoliceacademy.com',
 'NULL',
 'ga.org',
 'gaeast.org',
 'townofwrightsvillebeach.com',
 'rightco.com',
 'NULL',
 'NULL',
 'right.edu',
 'NULL',
 'mt.com',
 'rightmat.com',
 'NULL',
 'rightexpress.com',
 'NULL',
 'rightlaw.com',
 'NULL',
 'NULL',
 'rsystems.com',
 'NULL',
 'NULL',
 'pxenergy.com',
 'NULL',
 'NULL',
 'NULL',
 'psic.com',
 'isconsinpublicservice.com',
 'pp.com',
 'NULL',
 'NULL',
 'NULL',
 'ovenwire.org',
 'NULL',
 'oundedwarriorproject.org',
 'oundedmarinecareers.org',
 'mgtech.com',
 'WWW.WOUNDHEAL.ORG',
 'otccoalition.com',
 'orthingtonindustries.com',
 'orthingtonindustries.com',
 'orthingtonindustries.com',
 'orthaminsurance.com',
 'orshipleader.com',
 'orrellwater.com',
 'ornick.com',
 'ormserenergy.com',
 'NULL',
 'orleyco.com',
 'NULL',
 'orldwinner.com',
 'cruiseco.com',
 'NULL',
 'NULL',
 'thermographers.org',
 'orldwidepf.com',
 'parking.com',
 'NULL',
 'en.mmmplainfield.org',
 'medtech.com',
 'me.org',
 '-win.com',
 'NULL',
 'NULL',
 'NULL',
 'ideevents.com',
 'orldwideerc.org',
 'teamworldwide.com',
 'WWW.TEAMWORLDWIDE.COM',
 'esofc.com',
 'WWW.WDI-WDI.COM',
 'bresearch.com',
 'awas.com',
 'NULL',
 'acra.com',
 'aerosml.com',
 'orldwater.com',
 'orldwatch.org',
 'NULL',
 'vtcorporateservices.com',
 'orldventures.com',
 'orldtek.com',
 'orldstrides.com',
 'orldspan.com',
 'orld-space.com',
 'scapeinc.com',
 'orld-rights.org',
 'NULL',
 'orldlinkmedical.com',
 'NULL',
 'orldatwork.org',
 'ida.us',
 'psa.com',
 'yps.org',
 'corporate.wwe.com',
 'orldwingsinternational.net',
 'orldwildlife.org',
 'NULL',
 'orldwildlife.org',
 'NULL',
 'NULL',
 'orldwidemeetingpartners.com, www.wwmp.net',
 'NULL',
 'orldwidedreambuilders.com',
 'atusi.org',
 'aterparks.org',
 'h-net.msu.edu',
 '1aeroinc.org',
 'uswarbrides.com',
 'orldvision.org',
 'tca.org',
 'NULL',
 'NULL',
 'tcphila.org',
 'tcdw.com',
 'NULL',
 'orldbowling.org',
 'orldteleport.org',
 'orldteaexpo.com',
 'WWW.WORLDTANGSOODO.COM',
 'orldsystembuilder.com',
 'orldsportchicago.org',
 'src10.net',
 'WWW.WORLD-SOCIETY-VICTIMOLOGY.DE',
 'ssfn.org',
 'sava.org',
 'sanetwork.org',
 'sashow.com',
 'orldshipping.org',
 'orldshipny.com',
 'orldservice.org',
 'sfs.org',
 'NULL',
 'orldsafety.org',
 'ri.org',
 'orldresourcescompany.com',
 'rf.org',
 'orldrelief.org',
 'orldprforum.com',
 'NULL',
 'potatocongress.org',
 'orldpolicy.org',
 'orldpokertour.com',
 'WWW.WPT.COM',
 'orldpetassociation.org',
 'NULL',
 'NULL',
 'orldpdcongress.org',
 'ort.org',
 'ocporg.com',
 'orldomep.org',
 'oga.net',
 'NULL',
 'orldofwrestling-roller.com',
 'orldoftravel.com',
 'orldofconcrete.com',
 'mis.org',
 'orldmillworkalliance.com',
 'ml.com',
 'massociation.com',
 'orldlearning.org',
 'NULL',
 'orldjurist.org',
 'orldjewishcongress.org',
 'NULL',
 'id.org',
 'infantmassagewinc.com',
 'WWW.WITSA.ORG',
 'orldimpact.org',
 'orldigbocongress.com',
 'hwarangdo.com',
 'orldhunger.org',
 'NULL',
 'orldhope.org',
 'thewha.org',
 'thewha.org',
 'NULL',
 'NULL',
 'NULL',
 'NULL',
 'orldgovernment.org',
 'orldgolffoundation.org',
 'gold.org',
 'NULL',
 'fs.org',
 'fscorp.com',
 'orldfootbag.com',
 'orldfoodprize.org',
 'fca.org',
 'ftc.org',
 'fpha.org',
 'fpiccs.org',
 'fnn.org',
 'fc.org',
 'fmh.global',
 'orldevangelism.org',
 'NULL',
 'orldenergy.com',
 'orld-electronics.com',
 'NULL',
 'orlded.org',
 'orlddominationsummit.com',
 'orlddiamondcouncil.com',
 'icsid.org',
 'NULL',
 'cetn.org',
 'occu.org',
 'cedarsrevolution.net',
 'orld-gifted.org',
 'orldcongress.com',
 'orldclown.com',
 'orldclassmarketing.com',
 'NULL',
 'orldbusinesscapital.com',
 'orldbusiness.org',
 'NULL',
 'acong.org',
 'orldatwork.org',
 'ava-amav.org',
 'ano.info',
 'ad.net',
 'NULL',
 'aimh.org',
 'as.org',
 'orldapheresis.org',
 'orldallergy.org',
 'ahsonline.com',
 'ahsonline.com',
 'orldaffairscouncils.org',
 'orldmichigan.org',
 'achh.org',
 'orkwave.com',
 'enrollmentcompany.com',
 'orkplacefurn.com',
 'NULL',
 'orkplacebenefits.org',
 'orkingnation.com',
 'icjj.com',
 'orkingwardrobes.org',
 'NULL',
 'NULL',
 'NULL',
 'iresgroup.com',
 'orkingforuspac.org',
 'NULL',
 'orkingamerica.org',
 'NULL',
 'edi.org',
 'orkforcesoftware.com',
 'ilg.org',
 'orkersunitedunion.org',
 'ilg.org',
 'NULL',
 'cfgroup.com',
 'caofnm.com',
 'cra.biz',
 'jcny.org',
 'orkday.com',
 'orkaway.com',
 'NULL',
 'NULL',
 'NULL',
 'orkcolleges.org',
 'NULL',
 'NULL',
 'NULL',
 'ordsouth.com',
 'NULL',
 'ordscanheal.org',
 'ordworld.com',
 'omma.org',
 'thewordnetwork.org',
 'ordinthefamily.org',
 'ordandbrowncompanies.com',
 'pi.edu',
 'co.worcester.md.us',
 'orcesterbdc.com',
 'NULL',
 'NULL',
 'oolseyassociates.com',
 'oolpert.com',
 'NULL',
 'NULL',
 'oody-decorators.com',
 'mia.org',
 'oodworkinstitute.com',
 'oodward.com',
 'ifok.com',
 'oodwarddb.com',
 'cinet.com',
 'oodwardassociates.com',
 'oodside.com.au',
 'NULL',
 'steamshipauthority.com',
 'hoi.edu',
 'oodrowwilson.org',
 'oodrow.org',
 'ilsoncenter.org',
 'oodridgechurch.com',
 'NULL',
 'zoo.org',
 'NULL',
 'NULL',
 'oodcraft.com',
 'NULL',
 'ci.woodbury.mn.us',
 'NULL',
 'oodburykesler.com',
 'twp.woodbridge.nj.us',
 'NULL',
 'oodberryassociates.com',
 'legalcompass.com',
 'pma.org',
 'NULL',
 'NULL',
 'mma.org',
 'ggms.com',
 'nofma.org',
 'ood-enterprises.com',
 'cma.com',
 'oodassociates.net',
 'NULL',
 'NULL',
 'ondoor.com',
 'tga.net',
 'omenstrafficclub.com',
 'omenssmallbusinessexpo.co',
 'osl.org',
 'WWW.WLCJ.ORG',
 'NULL',
 'hfpt.org',
 'NULL',
 'bh-fmc.org',
 'armywomen.org',
 'WWW.WAORT.ORG',
 'omenheart.org',
 'omensfundingnetwork.org',
 'basny.org',
 'and.org',
 'omen-churchconvergence.org',
 'ga.org',
 'tsinternational.org',
 'omenstrans.com',
 ...]

In [95]:
len(l_domains)

88517