In [1]:
import pandas as pd
import numpy as np
import math
from jellyfish import jaro_winkler
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from py_common_subseq import find_common_subsequences
import numbers
import time
from collections import Counter 
from fuzzywuzzy import fuzz
import re

In [2]:
asae = pd.read_table('asae.txt')

In [189]:
import io
import shutil

with io.open('all cupola orgs w phone_db.csv', encoding='utf-8', errors='ignore') as source:
    with io.open('all cupola orgs w phone_db_utf.csv', mode='w', encoding='utf-8') as target:
        shutil.copyfileobj(source,target)
        
with io.open('ASAE neighborworks test.txt', encoding='utf-8', errors='ignore') as source:
    with io.open('asae_utf.txt', mode='w', encoding='utf-8') as target:
        shutil.copyfileobj(source,target)

In [2]:
#define column names
l_id = 'organization_id'
l_name = 'org_name'
l_address1 = 'address1'
l_city = 'city'
l_state = 'state'
l_zip = 'postal_code'
l_phone = 'phone'
l_web = 'website'
l_acronym = 'acronym'
l_alt_name = 'alt_name'

r_id = 'CompanyID'
r_name = 'Name'
r_address1 = 'Address Line 1'
r_city = 'City'
r_state = 'State'
r_zip = 'Zip Code'
#r_phone = 'PHONE'
r_web = 'WebSite'
#r_acronym = 'CBI_Acronym'

#set parameters
token_match_min = 2 # minimum number of matched tokens to be considered a match
token_limiter = .999 # percent of non-single tokens to tokenize, where rare tokens are at the bottom and common at the top
name_weight = .75 #note that this is really .75 * 4 because there are 4 org name simularity metrics
state_weight = 1
zip_weight = 1
phone_weight = 2
composite_score_min = 3.5 #minimum composite match score to be considered a match

start_time = time.time()
print "LOADING INITIAL DATAFRAMES..."

left_df = pd.read_csv('all cupola orgs w phone_db_utf.csv',keep_default_na=False)
right_df = pd.read_table('asae_utf.txt',keep_default_na=False,error_bad_lines=False)

left_df.rename(columns={l_id:'id',l_name:'l_org_name',l_address1:'l_address1',l_city:'l_city',l_state:'l_state',l_zip:'l_postal_code',l_web:'l_web',l_phone:'l_phone',l_acronym:'l_acronym',l_alt_name:'l_alt_name'}, inplace=True)
right_df.rename(columns={r_id:'id',r_name:'r_org_name',r_address1:'r_address1',r_city:'r_city',r_state:'r_state',r_zip:'r_postal_code',r_web:'r_web'}, inplace=True)

print("Dataframes loaded --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "PRE-PROCESSING..."
#normalize state codes
state_lkup = pd.read_csv('state_lkup.csv',keep_default_na=False)

from collections import defaultdict
state_dict = defaultdict(list)
for state, acronym in zip(state_lkup.state.values,state_lkup.acronym.values):
    state_dict[state].append(acronym)

left_df.l_state = left_df.l_state.str.lower()
left_df.l_state = left_df.l_state.replace(state_dict)
right_df.r_state = right_df.r_state.str.lower()
right_df.r_state = right_df.r_state.replace(state_dict)

#clean up non numeric characters in phones
l_clean_phones = []
for phone in left_df.l_phone:
    l_clean_phones.append(re.sub('[^0-9]','', phone))
    
left_df['l_clean_phone'] = l_clean_phones

#r_clean_phones = []
#for phone in right_df.r_phone:
#    r_clean_phones.append(re.sub('[^0-9]','', phone))

#right_df['r_clean_phone'] = r_clean_phones
    
print("states, phones normalized --- %s seconds ---" % (time.time() - start_time))
print ""


start_time = time.time()
print "TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS..."

left_unique_token_columns = [
    'l_state', 
    'l_postal_code',
    #'l_clean_phone'
]

left_delta_token_columns = [
    'l_acronym',
    'l_org_name',
    'l_alt_name',
    #'l_address1',
    #'l_address2',
    'l_city', 
    'l_web'
]

right_unique_token_columns = [
    'r_state', 
    'r_postal_code',
    #'r_clean_phone'
]

right_delta_token_columns = [
    #'r_acronym',
    'r_org_name',
    #'r_alt_name',
    #'r_address1',
    #'r_address2',
    'r_city', 
    'r_web'
]

# lowercase the name and split on spaces, remove non-alphanumeric chars
def tokenize_name(name):
    if isinstance(name, basestring) is True:
        clean_name = ''.join(c if c.isalnum() else ' ' for c in name)
        return clean_name.lower().split()
    else:
        return name
    
unique_tokens = []    
for col in left_unique_token_columns:
    for word in left_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
for col in right_unique_token_columns:
    for word in right_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
unique_flat_list = [item for sublist in unique_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
u_cnt = Counter()
for token in unique_flat_list:
    u_cnt[token] += 1

u_cnt_dict = dict(u_cnt) #convert to dictionary

unique_tokens_df = pd.DataFrame(u_cnt_dict.items(), columns=['token', 'count'])
unique_tokens_df = unique_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

#consider waiting to do the count flag thing later, instead use some type of "token type" code
unique_token_flag = []
for index, value in enumerate(unique_tokens_df['count']):
    if value == 1:
        unique_token_flag.append(0)  #for any tokens occuring only once, we exclude
    else:
        unique_token_flag.append(1)

unique_tokens_df['unique_flag'] = unique_token_flag        

all_other_words = []
for col in left_delta_token_columns:
    for word in left_df[col]:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))
            
for col in right_delta_token_columns:
    for word in right_df[col]:
        if isinstance(word, float) is False:
            all_other_words.append(tokenize_name(str(word)))
            
flat_list = [item for sublist in all_other_words for item in sublist] #flatten list so it can be counted

#instantiate counter and use to count word frequencies in flat list
cnt = Counter()
for token in flat_list:
    cnt[token] += 1

cnt_dict = dict(cnt) #convert to dictionary

main_tokens_df = pd.DataFrame(cnt_dict.items(), columns=['token', 'count'])
main_tokens_df = main_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

#wait to do count until joined with unique tokens?
main_token_flag = []
for index, value in enumerate(main_tokens_df['count']):
    if value == 1:
        main_token_flag.append(0)  #for any tokens occuring only once, we exclude
    elif index < int(main_tokens_df.shape[0] * token_limiter): #important line, we are cutting the top x% of frequently occuring tokens
        main_token_flag.append(1)
    else:
        main_token_flag.append(0)  #for the most common tokens, we exclude

main_tokens_df['flag'] = main_token_flag

all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

all_tokens.drop('count',axis=1,inplace=True)
all_tokens['flag'] = all_tokens.flag.astype(int) #converting flags to int
tokens_dct = all_tokens.to_dict('split') #converting tokens_df to dictionary
tokens_dct=dict(tokens_dct['data']) #honestly can't remember why this works, something to do with conversion to dictionary

#preparing token_ids which will be used for joining left and right dfs
all_tokens.sort_values(by='flag',ascending=False,inplace=True)
all_tokens.drop_duplicates(subset='token',keep='first',inplace=True)
token_ids = all_tokens.index.get_level_values(0)
all_tokens['token_id'] = token_ids

all_tokens.drop('flag',axis=1,inplace=True)
all_tokens['token_id'] = all_tokens.token_id.astype(int)
token_id_dct = all_tokens.to_dict('split')
tokens_id_dct=dict(token_id_dct['data'])

vocabulary = np.array([w for w, c in tokens_dct.items() if c ==1]) #this works even without the ==1 and I don't know why
cv = CountVectorizer( vocabulary=vocabulary)

#now we are ready to tokenize left and right dataframes
all_left_cols = left_unique_token_columns + left_delta_token_columns

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)
left_keyed.drop('token',axis=1,inplace=True)

all_right_cols = right_unique_token_columns + right_delta_token_columns

right_frame_list = []
for colname in all_right_cols:
    tokenmapping = cv.fit_transform(right_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    right_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], right_df['id'].values[df_row]]).T, columns = ['token', 'id_r']))

right_keyed = pd.concat(right_frame_list)
right_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
right_token_ids = []
for token in right_keyed.token:
    right_token_ids.append(tokens_id_dct[token])

right_keyed['token_id'] = right_token_ids
right_keyed.sort_values(by='token_id',inplace=True)
right_keyed.set_index('token_id',inplace=True)
right_keyed.drop('token',axis=1,inplace=True)

aggregations = {
    'id_l': 'count'
}

joined = left_keyed.join(right_keyed, how='inner',lsuffix='_l',rsuffix='_r')
keys_grouped = joined.groupby(by=['id_l', 'id_r']).agg(aggregations)
keys_grouped.rename(columns={'id_l':'id_l count'}, inplace=True)
matched_records = keys_grouped[keys_grouped['id_l count'] >= token_match_min]
matched_records.reset_index(inplace=True)

print("match candidates identified --- %s seconds ---" % (time.time() - start_time))

left_df.rename(columns={'id':'id_l'},inplace=True)
right_df.rename(columns={'id':'id_r'},inplace=True)

left_match_data = left_df[['id_l','l_org_name','l_city','l_state','l_postal_code','l_web','l_clean_phone']].copy()
right_match_data = right_df[['id_r','r_org_name','r_city','r_state','r_postal_code','r_web']].copy()

#making sure keys are str, results in blank df otherwise
left_match_data.id_l = left_match_data.id_l.astype('str')
right_match_data.id_r = right_match_data.id_r.astype('str')
matched_records.id_l = matched_records.id_l.astype('str')
matched_records.id_r = matched_records.id_r.astype('str')

#merging matched_records df with original record data for ease of review
l_conc = pd.merge(matched_records, left_match_data, on='id_l')
full_conc = pd.merge(l_conc, right_match_data, on='id_r')

print("original data concatenated with matches --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "SCORING ORG NAME SIMULARITY..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on edit distance of org names
def jaro_simularity(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return jaro_winkler(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '')
def fuzz_partial(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return fuzz.partial_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_sort(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return fuzz.token_sort_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)
def fuzz_set(left_record, right_record):
    if len(left_record) > 0 and len(right_record) > 0:
        if isinstance(left_record, numbers.Integral) is False and isinstance(right_record, numbers.Integral) is False:
            return fuzz.token_set_ratio(unicode(left_record, 'utf-8') or '', unicode(right_record, 'utf-8') or '') / float(100)

full_conc['l_org_name'] = full_conc['l_org_name'].astype('str')
full_conc['r_org_name'] = full_conc['r_org_name'].astype('str')

jaro_time = time.time()
full_conc['jaro_score'] = full_conc.apply(lambda x: jaro_simularity(x.l_org_name, x.r_org_name), axis=1)
print("jaro scores done --- %s seconds ---" % (time.time() - jaro_time))
partial_time = time.time()
full_conc['fuzz_partial_score'] = full_conc.apply(lambda x: fuzz_partial(x.l_org_name, x.r_org_name), axis=1)
print("fuzz partial scores done --- %s seconds ---" % (time.time() - partial_time))
sort_time = time.time()
full_conc['fuzz_sort_score'] = full_conc.apply(lambda x: fuzz_sort(x.l_org_name, x.r_org_name), axis=1)
print("fuzz sort scores done --- %s seconds ---" % (time.time() - sort_time))
set_time = time.time()
full_conc['fuzz_set_score'] = full_conc.apply(lambda x: fuzz_set(x.l_org_name, x.r_org_name), axis=1)
print("fuzz set scores done --- %s seconds ---" % (time.time() - set_time))
print ""

print("name simularity scored --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR STATE CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

def sanitize_state(state):
    if isinstance(state,basestring) is True:
        return ''.join(c for c in (state or '') if c in 'abcdefghijklmnopqrstuvwxyz')
    else:
        return ''
    
def state_match(state_a, state_b):
    sanitized_state_a = str(sanitize_state(state_a))
    sanitized_state_b = str(sanitize_state(state_b))

    # if the value is too short, means it's fubar
    if len(sanitized_state_a) < 2 or len(sanitized_state_b) < 2:
        return 0
    if state_a == state_b:
        return 1
    else:
        return 0    

full_conc['state_match'] = full_conc.apply(lambda x: state_match(x.l_state, x.r_state), axis=1)

print("state codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "CHECKING FOR POSTAL CODE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching postal code

def sanitize_postal(postal):
    if isinstance(postal, basestring) is True:
        return ''.join(c for c in (postal or '') if c in '1234567890')
    if isinstance(postal, float) is False:
        return postal

def postal_simularity(postal_a, postal_b):
    sanitized_postal_a = str(sanitize_postal(postal_a))
    sanitized_postal_b = str(sanitize_postal(postal_b))

    # if the number is too short, means it's fubar
    if len(sanitized_postal_a) < 5 or len(sanitized_postal_b) < 5:
        return 0
    if float(max(len(sub) for sub in find_common_subsequences(sanitized_postal_a, sanitized_postal_b))) / 5 >= 1:
        return 1
    else:
        return 0
    
full_conc['zip_match'] = full_conc.apply(lambda x: postal_simularity(x.l_postal_code, x.r_postal_code), axis=1)
    
print("postal codes checked --- %s seconds ---" % (time.time() - start_time))
print ""

#start_time = time.time()
#print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#scoring match candidates based on matching phone
#def phone_simularity(phone_a, phone_b):

#if the number is too short, means it's fubar
#    if len(phone_a) < 10 or len(phone_b) < 10:
#        return 0
#    if float(max(len(sub) for sub in find_common_subsequences(phone_a, phone_b))) / 10 >= 1:
#        return 1
#    else:
#        return 0
    
#full_conc['phone_match'] = full_conc.apply(lambda x: phone_simularity(x.l_clean_phone, x.r_clean_phone), axis=1)
    
#print("phones checked --- %s seconds ---" % (time.time() - start_time))
#print ""

#test this.  may need to make more efficient but I think it should work
start_time = time.time()
print "DISTILLING STRONG ORG MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#calculate composite match score based on component scores and weights
full_conc['composite_match_score'] = full_conc.jaro_score * name_weight \
+ full_conc.fuzz_partial_score * name_weight \
+ full_conc.fuzz_sort_score * name_weight \
+ full_conc.fuzz_set_score * name_weight \
+ full_conc.zip_match * zip_weight \
+ full_conc.state_match * state_weight \
#+ full_conc.phone_match * phone_weight

org_matches = full_conc[full_conc.composite_match_score >= composite_score_min]

print("final matches isolated --- %s seconds ---" % (time.time() - start_time))
print ""

#full_conc[full_conc.composite_match_score < 3].sort_values(by='composite_match_score', ascending=False)
org_matches.sort_values(by='composite_match_score', ascending=False)

LOADING INITIAL DATAFRAMES...
Dataframes loaded --- 0.274999856949 seconds ---

PRE-PROCESSING...
states, phones normalized --- 0.544000148773 seconds ---

TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS...
match candidates identified --- 11.003000021 seconds ---

C:\Users\dbell\AppData\Local\Continuum\anaconda2\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

original data concatenated with matches --- 11.5759999752 seconds ---

SCORING ORG NAME SIMULARITY...
jaro scores done --- 7.02999997139 seconds ---
fuzz partial scores done --- 19.1050000191 seconds ---
fuzz sort scores done --- 15.0749998093 seconds ---
fuzz set scores done --- 19.7090001106 seconds ---

name simularity scored --- 60.9760000706 seconds ---

CHECKING FOR STATE CODE MATCHES...
state codes checked --- 7.25200009346 seconds ---

CHECKING FOR POSTAL CODE MATCHES...
postal codes checked --- 22.4609999657 seconds ---

DISTILLING STRONG ORG DUPLICATES...
final duplicates isolated --- 0.0750000476837 seconds ---

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_state,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score
71909,49496,29800,6,American Association of School Personnel Admin...,Overland Park,ks,66210,aaspa.org,9133271222,American Association of School Personnel Admin...,...,ks,66210,www.aaspa.org,1.000000,1.00,1.00,1.00,1,1,5.000000
36565,93399,698100,7,Tau Kappa Epsilon International Fraternity,Indianapolis,in,46278,www.tke.org,3178726533,Tau Kappa Epsilon International Fraternity,...,in,46278-1940,www.tke.org,1.000000,1.00,1.00,1.00,1,1,5.000000
201096,59256,46316000,8,Eastern Winter Sports Representatives Association,White Haven,pa,18661,ewsra.org,5704437180,Eastern Winter Sports Representatives Association,...,pa,18661,,1.000000,1.00,1.00,1.00,1,1,5.000000
198438,56380,6644200,7,Maine Motor Transport Association,Augusta,me,04332-0857,mmta.com,2076234128,Maine Motor Transport Association,...,me,04332-0857,,1.000000,1.00,1.00,1.00,1,1,5.000000
198391,53020,7903700,7,Women's Basketball Coaches Association,Lilburn,ga,30047,wbca.org,7702798027,Women's Basketball Coaches Association,...,ga,30047,www.wbca.org,1.000000,1.00,1.00,1.00,1,1,5.000000
197995,84754,100021444,5,Association of International Petroleum Negotia...,Houston,tx,77079,aipn.org,2815587715,Association of International Petroleum Negotia...,...,tx,77079,www.aipn.org,1.000000,1.00,1.00,1.00,1,1,5.000000
116129,20716,533400,6,Navy League of the United States,Arlington,va,22201,navyleague.org,7035281775,Navy League of the United States,...,va,22201-3308,www.navyleague.org,1.000000,1.00,1.00,1.00,1,1,5.000000
185583,58289,29592100,4,Indiana Veterinary Medical Association,Indianapolis,in,46205-2898,invma.org,3179740888,Indiana Veterinary Medical Association,...,in,46205,www.avma.org/statevma/invna,1.000000,1.00,1.00,1.00,1,1,5.000000
102824,50731,6633400,5,Mathematical Association of America,Washington,dc,20036-1358,maa.org,2023875200,Mathematical Association of America,...,dc,20036-1358,www.maa.org,1.000000,1.00,1.00,1.00,1,1,5.000000
174966,55162,6605600,8,American Council of Engineering Companies of M...,Jefferson City,mo,65101-3113,acecmo.org,5736344080,American Council of Engineering Companies of M...,...,mo,65101-3113,www.acecmo.org,1.000000,1.00,1.00,1.00,1,1,5.000000
186425,50843,475200,4,National Association of Concessionaires,Chicago,il,60601,www.naconline.org,3122363858,National Association of Concessionaires,...,il,60601-2201,www.naconline.org,1.000000,1.00,1.00,1.00,1,1,5.000000
178223,15158,10056800,6,American Association of Pharmaceutical Scientists,Arlington,va,22201-3042,aaps.org,7032432800,American Association of Pharmaceutical Scientists,...,va,22201-3042,www.aaps.org,1.000000,1.00,1.00,1.00,1,1,5.000000
90464,63656,14931500,8,National Certification Commission for Acupunct...,Washington,dc,20036,nccaom.org,9045981005,National Certification Commission for Acupunct...,...,dc,20036,www.nccaom.org,1.000000,1.00,1.00,1.00,1,1,5.000000
103721,13852,6898900,6,National Association of Independent Schools,Washington,dc,20036-3425,nais.org,2029739700,National Association of Independent Schools,...,dc,20036-3425,www.nais.org,1.000000,1.00,1.00,1.00,1,1,5.000000
2830,56252,7036300,7,Ohio Hotel and Lodging Association,Columbus,oh,43215-1564,ohiolodging.com,6144616462,Ohio Hotel and Lodging Association,...,oh,43215-1585,www.ohiolodging.com,1.000000,1.00,1.00,1.00,1,1,5.000000
185312,49807,9425100,4,American Society of Cytopathology,Wilmington,de,19801,cytopathology.org,3025436583,American Society of Cytopathology,...,de,19801-1555,www.cytopathology.org,1.000000,1.00,1.00,1.00,1,1,5.000000
31433,28233,117200,6,National Association of Landscape Professionals,Fairfax,va,22033,landscapeprofessionals.org,7037369666,National Association of Landscape Professionals,...,va,22033,www.landscapeprofessionals.org,1.000000,1.00,1.00,1.00,1,1,5.000000
125278,51145,6707800,5,National Minority Supplier Development Council,New York,ny,10018,nmsdc.org,2129442430,National Minority Supplier Development Council,...,ny,10018,www.nmsdc.org,1.000000,1.00,1.00,1.00,1,1,5.000000
182731,62476,30509900,5,Texas Society of Anesthesiologists,Austin,tx,78701-1665,tsa.org,5123701659,Texas Society of Anesthesiologists,...,tx,78701-1665,www.tsa.org,1.000000,1.00,1.00,1.00,1,1,5.000000
75460,49401,1575800,6,American Academy of Implant Dentistry,Chicago,il,60611,aaid.com,3123351550,American Academy of Implant Dentistry,...,il,60611-2616,www.aaid.com,1.000000,1.00,1.00,1.00,1,1,5.000000
20731,18154,59600,4,American Public Transportation Association,Washington,dc,20005,apta.com,2024964800,American Public Transportation Association,...,dc,20005,www.apta.com,1.000000,1.00,1.00,1.00,1,1,5.000000
132016,58037,3085100,6,Virginia Association of Museums,Richmond,va,23221-3504,vamuseums.org,8043583170,Virginia Association of Museums,...,va,23221-3504,www.vamuseums.org,1.000000,1.00,1.00,1.00,1,1,5.000000
200709,56809,309500,7,Home Builders Association of Delaware,Dover,de,19901,www.hbade.org,3026781520,Home Builders Association of Delaware,...,de,19901,www.hbade.org,1.000000,1.00,1.00,1.00,1,1,5.000000
172085,51180,43511400,7,International Safe Transit Association,East Lansing,mi,48823-1900,ista.org,5173333437,International Safe Transit Association,...,mi,48823,www.ista.org,1.000000,1.00,1.00,1.00,1,1,5.000000
190530,50913,6379600,4,National Association of Personnel Services,Dawsonville,ga,30534,naps360.org,7065310060,National Association of Personnel Services,...,ga,30534,www.recruitinglife.com,1.000000,1.00,1.00,1.00,1,1,5.000000
199009,51536,100004728,6,Society of Economic Geologists,Littleton,co,80127-3732,segweb.org,7209817882,Society of Economic Geologists,...,co,80127,www.segweb.org,1.000000,1.00,1.00,1.00,1,1,5.000000
200598,41967,6415700,6,Society of Hispanic Professional Engineers,Industry,ca,91746,shpe.org,3237253970,Society of Hispanic Professional Engineers,...,ca,91746-3497,www.shpe.org,1.000000,1.00,1.00,1.00,1,1,5.000000
201126,21580,6373000,6,National Academy of Opticianry,Landover,md,20785,nao.org,8002294828,National Academy of Opticianry,...,md,20785-2289,www.nao.org,1.000000,1.00,1.00,1.00,1,1,5.000000
133085,52786,100013458,6,National Academy of Neuropsychology,Denver,co,80231,nanonline.org,3036913694,National Academy of Neuropsychology,...,co,80231,www.nanonline.org,1.000000,1.00,1.00,1.00,1,1,5.000000
159717,14731,2694800,7,American Industrial Hygiene Association,Falls Church,va,22042,aiha.org,7038498888,American Industrial Hygiene Association,...,va,22042,www.aiha.org,1.000000,1.00,1.00,1.00,1,1,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159268,74833,12987700,3,World Business Academy,Santa Barbara,ca,93103-1757,worldbusiness.org/,8058924600,Better Business Bureau of Tri-Counties,...,ca,93102-0129,www.bbb.org/santa-barbara,0.490492,0.55,0.43,0.53,1,1,3.500369
153535,23373,475300,2,"Jack Ferguson Associates, Inc.",Washington,dc,20002,NULL,2025446655,National Association of Conservation Districts,...,dc,20002-4937,www.nacdnet.org,0.550483,0.47,0.49,0.49,1,1,3.500362
76000,52696,38900,2,Council of Residential Specialists,Chicago,il,60611,crs.com,8004628841,American Dental Hygienists' Association,...,il,60611,www.adha.org,0.610477,0.39,0.50,0.50,1,1,3.500358
105235,70603,6898900,2,MAPRx Coalition (a client of Lupus Foundation ...,Washington,dc,20036,NULL,,National Association of Independent Schools,...,dc,20036-3425,www.nais.org,0.640442,0.47,0.43,0.46,1,1,3.500332
200698,56206,309500,2,Delaware State Chamber of Commerce,Wilmington,de,19899-0671,dscc.com,3026557221,Home Builders Association of Delaware,...,de,19901,www.hbade.org,0.550428,0.38,0.48,0.59,1,1,3.500321
178984,52925,48585000,2,Association of Senior Anthropologists,Arlington,va,22201,asa.americananthro.org/,7035281902,JEDEC Solid State Technology Association,...,va,22201,www.jedec.org,0.630388,0.35,0.47,0.55,1,1,3.500291
127097,62312,335700,4,Louisiana Society of Association Executives,Baton Rouge,la,70801-1741,lsae.org,2253432776,Independent Insurance Agents of Louisiana,...,la,70810-6442,www.iial.com,0.570384,0.34,0.52,0.57,1,1,3.500288
96673,54495,37330600,2,American Evaluation Association,Washington,dc,20036,eval.org,2023671166,National Organization of Nurse Practitioner Fa...,...,dc,20036,www.nonpf.com,0.580372,0.52,0.45,0.45,1,1,3.500279
6652,83451,100053867,2,National Water Supply Alliance,Washington,dc,20005,NULL,,IT Alliance for Public Sector,...,dc,20005,www.itic.org,0.580370,0.34,0.54,0.54,1,1,3.500277
37681,52064,100004367,2,Plant Growth Regulation Society of America,Alexandria,va,22314,pgrsa.org,7038364606,The American Board of Facial Plastic and Recon...,...,va,22314,www.abfprs.org,0.600364,0.38,0.51,0.51,1,1,3.500273
95168,98603,2345000,2,"The American Creativity, Technology & Innovati...",Washington,dc,20036,NULL,,American Land Title Association,...,dc,20036-5828,www.alta.org,0.600353,0.48,0.46,0.46,1,1,3.500265
45562,13593,489100,2,American Association for Marriage and Family T...,Alexandria,va,22314-3061,aamft.org,7038389808,National Association of State Directors of Dev...,...,va,22314,www.nasddds.org,0.630342,0.46,0.42,0.49,1,1,3.500256
74127,54478,100005053,2,International Live Events Association,Chicago,il,60611,ileahub.com,3123216853,Association for Library Collections and Techni...,...,il,60611,www.ala.org/alcts,0.600342,0.41,0.48,0.51,1,1,3.500256
78244,80278,100007379,2,California State Transportation Agency (a clie...,Washington,dc,20036,NULL,,Industrial Minerals Association - North America,...,dc,20036,www.ima-na.org,0.600249,0.40,0.50,0.50,1,1,3.500187
182463,57675,1344300,2,Texas Chamber of Commerce Executives,Austin,tx,78701,tcce.org,5123208223,Texas Chiropractic Association,...,tx,78701-2132,www.chirotexas.com,0.650239,0.45,0.45,0.45,1,1,3.500179
7348,21216,100056550,2,Healthcare Financial Management Association,Washington,dc,20005,hfma.org,7085319600,National Association of Certified Professional...,...,dc,20005,www.nacpm.org,0.600232,0.42,0.49,0.49,1,1,3.500174
13742,12972,479300,2,CropLife Political Action Committee,Washington,dc,20005,NULL,2022961585,National Association of Home Builders,...,dc,20005,www.nahb.com,0.600168,0.46,0.47,0.47,1,1,3.500126
107264,67676,8239800,2,Business Council for International Understanding,Washington,dc,20036,bciu.org,2124900460,National Association of Clean Water Agencies,...,dc,20036-2505,www.nacwa.org,0.670157,0.41,0.46,0.46,1,1,3.500118
115150,55217,255101,3,Florida Podiatric Medical Association,Tallahassee,fl,32301-1242,fpma.com,8502244085,Florida Realtors Tallahassee Office,...,fl,32301-1824,www.floridarealtors.org,0.650146,0.49,0.39,0.47,1,1,3.500110
14630,29853,479300,2,Mortgage Insurance Political Action Committee,Washington,dc,20005,NULL,2026822683,National Association of Home Builders,...,dc,20005,www.nahb.com,0.650136,0.47,0.44,0.44,1,1,3.500102
46960,41640,520300,2,Victor X. Cerda & Associates,Alexandria,va,22314,www.vxcerdalaw.com,2027474950,National Parent Teacher Association,...,va,22314,www.pta.org,0.600125,0.46,0.47,0.47,1,1,3.500094
143043,90247,100059349,2,Regional Transportation Authority (RTA) (a cli...,Chicago,il,60604,NULL,,National Restaurant Association Convention Office,...,il,60604,www.restaurant.org,0.670118,0.45,0.44,0.44,1,1,3.500089
99302,9559,520400,2,Consumer Internet Access Coalition,Washington,dc,20036,NULL,2022937474,National Parking Association,...,dc,20036,www.npapark.org,0.580104,0.46,0.48,0.48,1,1,3.500078
16495,21984,493900,3,Business Council for Sustainable Energy,Washington,dc,20005,www.bcse.org,2027850507,National Business Aviation Association,...,dc,20005,www.nbaa.org,0.610099,0.42,0.42,0.55,1,1,3.500074
14617,29790,479300,2,Federal Capital Communications Corporation,Washington,dc,20005,NULL,2026280675,National Association of Home Builders,...,dc,20005,www.nahb.com,0.620071,0.46,0.46,0.46,1,1,3.500053
22233,74687,59600,2,Physician Clinical Registry Coalition,Washington,dc,20005,NULL,,American Public Transportation Association,...,dc,20005,www.apta.com,0.620071,0.46,0.46,0.46,1,1,3.500053
46138,54557,489100,2,National Association of Test Directors,Round Hill,va,20141,natd.org,5407512590,National Association of State Directors of Dev...,...,va,22314,www.nasddds.org,0.873392,0.89,0.64,0.93,1,0,3.500044
78155,7241,100007379,2,Internet Innovation Alliance,Washington,dc,20036-9231,www.internetinnovation.org,8669708647,Industrial Minerals Association - North America,...,dc,20036,www.ima-na.org,0.630054,0.39,0.49,0.49,1,1,3.500041
13588,98141,43300,2,S Corporation Association (a client of Reardon...,Washington,dc,20005,NULL,,American Health Care Association,...,dc,20005-4024,www.ahca.org,0.600033,0.48,0.41,0.51,1,1,3.500024
92826,80352,1506300,2,Small UAV Coalition,Washington,dc,20036,NULL,,The ESOP Association,...,dc,20036,www.esopassociation.org,0.610010,0.47,0.46,0.46,1,1,3.500007

In [10]:
8 < len(cnt_dict)/10000

False

In [52]:
#this is an attempt to isolate tokens which are unique and should be double-counted to circumvent the token_match_min count
#needs to be tweaked to fine tune the output.  Intention is to concat this to joined prior to aggregation
bonus_point_tokens = []
for token in main_tokens_df[(main_tokens_df['count'] > 1) & (main_tokens_df['count']<=5)].token:
    bonus_point_tokens.append(tokens_id_dct[token])

intersection_bonus_tokens = set(bonus_point_tokens).intersection(set(list(joined.index)))    
    
bonus_token_joins = []
for token_id in intersection_bonus_tokens:
    bonus_token_joins.append(joined.loc[token_id])
    
bonus_joins = pd.concat(bonus_token_joins)
bonus_joins

              0    id_l       id_r
id_l      64220     NaN        NaN
id_r    6656100     NaN        NaN
2051        NaN   57853  100015545
2051        NaN   79529  100015545
2051        NaN   92400  100015545
2051        NaN   39927  100015545
2051        NaN   19411  100015545
2051        NaN   51652  100015545
2051        NaN   38749  100015545
2051        NaN   32719  100015545
id_l      54976     NaN        NaN
id_r   10298300     NaN        NaN
20496       NaN   71366     477900
20496       NaN   50870     477900
20496       NaN   18226     477900
20496       NaN   59621     477900
20496       NaN   13188     477900
20496       NaN   78612     477900
24597       NaN   33697    6633400
24597       NaN   91215    6633400
24597       NaN   16218    6633400
24597       NaN   94975    6633400
24597       NaN   50731    6633400
26652       NaN   90072  100071403
26652       NaN   90072  100081427
26652       NaN   76565  100071403
26652       NaN   76565  100081427
26652       NaN   98557  100071403
26652       NaN   98557  100081427
26652       NaN  100331  100071403
...         ...     ...        ...
10229       NaN   16591  100009793
10229       NaN   16591   38450300
10229       NaN   70014  100009793
10229       NaN   70014   38450300
10229       NaN   33790  100009793
10229       NaN   33790   38450300
10229       NaN   84372  100009793
10229       NaN   84372   38450300
14327       NaN   89157  100052999
14327       NaN    6808  100052999
14327       NaN   21004  100052999
14327       NaN   51932  100052999
14327       NaN   49844  100052999
14327       NaN   89156  100052999
14327       NaN   24855  100052999
14327       NaN   89158  100052999
14327       NaN    5033  100052999
14327       NaN   13063  100052999
14327       NaN    4601  100052999
14327       NaN   11577  100052999
14327       NaN   20710  100052999
14327       NaN   12946  100052999
14327       NaN   88976  100052999
32766       NaN   51860      21900
32766       NaN   91870      21900
32766       NaN   51296      21900
32766       NaN    5443      21900
32766       NaN   97644      21900
11605       NaN   23119   45188500
11605       NaN   52450   45188500

[325779 rows x 3 columns]

In [50]:
bonus_joins = pd.concat(bonus_token_joins)

In [51]:
bonus_joins

              0    id_l       id_r
id_l      64220     NaN        NaN
id_r    6656100     NaN        NaN
2051        NaN   57853  100015545
2051        NaN   79529  100015545
2051        NaN   92400  100015545
2051        NaN   39927  100015545
2051        NaN   19411  100015545
2051        NaN   51652  100015545
2051        NaN   38749  100015545
2051        NaN   32719  100015545
id_l      54976     NaN        NaN
id_r   10298300     NaN        NaN
20496       NaN   71366     477900
20496       NaN   50870     477900
20496       NaN   18226     477900
20496       NaN   59621     477900
20496       NaN   13188     477900
20496       NaN   78612     477900
24597       NaN   33697    6633400
24597       NaN   91215    6633400
24597       NaN   16218    6633400
24597       NaN   94975    6633400
24597       NaN   50731    6633400
26652       NaN   90072  100071403
26652       NaN   90072  100081427
26652       NaN   76565  100071403
26652       NaN   76565  100081427
26652       NaN   98557  100071403
26652       NaN   98557  100081427
26652       NaN  100331  100071403
...         ...     ...        ...
10229       NaN   16591  100009793
10229       NaN   16591   38450300
10229       NaN   70014  100009793
10229       NaN   70014   38450300
10229       NaN   33790  100009793
10229       NaN   33790   38450300
10229       NaN   84372  100009793
10229       NaN   84372   38450300
14327       NaN   89157  100052999
14327       NaN    6808  100052999
14327       NaN   21004  100052999
14327       NaN   51932  100052999
14327       NaN   49844  100052999
14327       NaN   89156  100052999
14327       NaN   24855  100052999
14327       NaN   89158  100052999
14327       NaN    5033  100052999
14327       NaN   13063  100052999
14327       NaN    4601  100052999
14327       NaN   11577  100052999
14327       NaN   20710  100052999
14327       NaN   12946  100052999
14327       NaN   88976  100052999
32766       NaN   51860      21900
32766       NaN   91870      21900
32766       NaN   51296      21900
32766       NaN    5443      21900
32766       NaN   97644      21900
11605       NaN   23119   45188500
11605       NaN   52450   45188500

[325779 rows x 3 columns]

In [28]:
bonus_point_tokens = []
for token in main_tokens_df[(main_tokens_df['count'] > 1) & (main_tokens_df['count']<=5)].token:
    bonus_point_tokens.append(tokens_id_dct[token])

In [30]:
len(bonus_point_tokens)

18600

In [40]:
type(set(list(joined.index)))

set

In [45]:
intersection_bonus_tokens = set(bonus_point_tokens).intersection(set(list(joined.index)))

In [46]:
type(intersection_bonus_tokens)

set

In [35]:
len(set(joined.index))

1754

In [256]:
def sequence_uniqueness(seq):
    return sum(1/org_cnt_dict[str.lower(t)]**0.5 for t in seq)

def name_similarity(a, b):
    a_tokens = set(tokenize_name(a))
    b_tokens = set(tokenize_name(b))
    a_uniq = sequence_uniqueness(a_tokens)
    b_uniq = sequence_uniqueness(b_tokens)

    return sequence_uniqueness(a_tokens.intersection(b_tokens))/(a_uniq * b_uniq) ** 0.5

In [232]:
org_tokens = []    
for word in left_df['l_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))

for word in right_df['r_org_name']:
    if isinstance(word, float) is False:
        org_tokens.append(tokenize_name(str(word)))
            
org_flat_list = [item for sublist in org_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
org_cnt = Counter()
for token in org_flat_list:
    org_cnt[token] += 1

org_cnt_dict = dict(org_cnt) #convert to dictionary

In [246]:
org_cnt_dict['hmm']

2

In [231]:
left_df.shape

(88517, 12)

In [295]:
start_time = time.time()
set('this is a name name hmm-161'.split())
print("finished --- %s seconds ---" % (time.time() - start_time))

finished --- 0.0019998550415 seconds ---

In [288]:
start_time = time.time()
set(tokenize_name('this is a name name hmm-161'))
print("finished --- %s seconds ---" % (time.time() - start_time))

finished --- 0.00200009346008 seconds ---

In [235]:
str.lower('Limited')

'limited'

In [234]:
cnt_dict['limited']

114

In [257]:
full_conc['uniq'] = full_conc.apply(lambda x: name_similarity(x.l_org_name, x.r_org_name), axis=1)

In [261]:
full_conc[full_conc.composite_match_score < 5].sort_values(by='uniq',ascending=False).head()

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score,uniq
1546542,55224,6209500,5,"Florida Transportation Builders Association, Inc.",Tallahassee,fl,32301,ftba.com,8509421404,Florida Transportation Builders Association Inc,...,32302-1208,www.ftba.com,0.991837,0.98,1.0,1.0,1,1,4.978878,1.0
1793265,62716,7059000,8,Professional Insurance Agents of Louisiana,Baton Rouge,la,70816,piaoflouisiana.com,2257667770,Professional Insurance Agents of Louisiana,...,70809-3423,www.piaoflouisiana.com,1.000000,1.00,1.0,1.0,1,0,4.000000,1.0
1167772,20818,6443900,5,NTCA The Rural Broadband Association,Arlington,va,22203,ntca.org,7033512000,NTCA - The Rural Broadband Association,...,22203-1801,www.ntca.org,0.933918,0.94,1.0,1.0,1,1,4.905439,1.0
2033604,64078,36888900,9,American Water Works Association - California/...,Rancho Cucamonga,ca,91730,ca-nv-awwa.org,9094817200,American Water Works Association California Ne...,...,91730,www.ca-nv-awwa.org,0.976092,0.95,1.0,1.0,1,1,4.944569,1.0
2050481,60552,100054118,7,Utah Highway Patrol Association,Salt Lake City,ut,84157,utahtrooper.com,8015543711,UTAH Highway Patrol Association,...,84157,www.utahtrooper.com,0.813364,0.90,1.0,1.0,1,1,4.785023,1.0

In [263]:
full_conc[full_conc.id_l=='90981']

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score,uniq
53050,90981,100007379,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Industrial Minerals Association - North America,...,20036,www.ima-na.org,0.478035,0.57,0.39,0.50,1,0,2.453526,0.047244
66183,90981,100009793,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Financial Services Institute Inc,...,20004,www.financialservices.org,0.458829,0.29,0.30,0.30,1,0,2.011622,0.000000
79294,90981,100015009,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Ironworker Management Progressive Action Coope...,...,20006,www.impact-net.org,0.563621,0.38,0.30,0.30,1,0,2.157716,0.000000
92258,90981,100024433,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Magnet Schools of America,...,20006,www.magnet.edu,0.623175,0.62,0.61,0.61,1,0,2.847381,0.035682
105146,90981,100044292,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Cancer Support Community,...,20036,www.cancersupportcommunity.org,0.529762,0.33,0.36,0.36,1,0,2.184821,0.000000
117926,90981,100053867,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,IT Alliance for Public Sector,...,20005,www.itic.org,0.522852,0.29,0.36,0.36,1,0,2.149639,0.000000
131186,90981,100056550,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Certified Professional...,...,20005,www.nacpm.org,0.521356,0.33,0.29,0.29,1,0,2.073517,0.000000
143984,90981,100057977,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,New Leaders Council,...,20036,,0.560011,0.32,0.35,0.35,1,0,2.185008,0.000000
156707,90981,100058477,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association for Fixed Annuities,...,20004,www.nafa.com,0.484921,0.33,0.30,0.30,1,0,2.061190,0.000000
169412,90981,100058650,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,SIFMA,...,20004,www.sifma.org,0.000000,0.20,0.15,0.15,1,0,1.375000,0.000000
182201,90981,100068342,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,United Philanthropy Forum,...,20036,www.givingforum.org,0.458730,0.33,0.30,0.30,1,0,2.041548,0.000000
194987,90981,100070200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Renewable Fuels Association,...,20024,,0.515520,0.33,0.29,0.29,1,0,2.069140,0.000000
207957,90981,100078955,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Alliance for Regenerative Medicine,...,20002,www.alliancerm.org,0.502568,0.33,0.33,0.33,1,1,3.119426,0.000000
220688,90981,100080417,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Diplomacy Center Foundation,...,20006,,0.492224,0.24,0.33,0.33,1,0,2.044168,0.000000
233424,90981,100080832,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,LeadingAge,...,20008,www.leadingage.org,0.579365,0.30,0.26,0.26,1,0,2.049524,0.000000
246439,90981,101800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Association of Schools and Programs of Public ...,...,20036,www.asph.org,0.469170,0.38,0.30,0.31,1,0,2.094377,0.000000
259193,90981,12356300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Armenian Assembly of America,...,20036,www.aaainc.org,0.597427,0.52,0.49,0.50,1,0,2.580571,0.034705
272100,90981,1485500,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Senior Executives Association,...,20002,www.seniorexecs.org,0.573810,0.33,0.32,0.32,1,1,3.157857,0.000000
285368,90981,14931500,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Certification Commission for Acupunct...,...,20036,www.nccaom.org,0.558252,0.43,0.28,0.28,1,0,2.161189,0.000000
298151,90981,14979800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Public Welfare Foundation,...,20009-4443,www.publicwelfare.org,0.486935,0.24,0.26,0.26,1,0,1.935201,0.000000
310878,90981,1506300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,The ESOP Association,...,20036,www.esopassociation.org,0.517460,0.24,0.29,0.29,1,0,2.003095,0.000000
323686,90981,18065100,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,International Premium Cigar & Pipe Retailers A...,...,20002,www.rtda.org,0.456349,0.38,0.32,0.32,1,1,3.107262,0.000000
336950,90981,19193200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Health Care Anti-Fraud Association,...,20005,www.nhcaa.org,0.512253,0.33,0.25,0.25,1,0,2.006689,0.000000
349898,90981,2345000,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Land Title Association,...,20036-5828,www.alta.org,0.486175,0.29,0.38,0.38,1,0,2.152131,0.000000
362838,90981,2807700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,State Services Organization,...,20001-1512,www.sso.org,0.477778,0.33,0.29,0.29,1,1,3.040833,0.000000
375576,90981,30800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Bakers Association,...,20004,www.americanbakers.org,0.566239,0.38,0.50,0.50,1,0,2.459679,0.000000
388570,90981,37330600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Organization of Nurse Practitioner Fa...,...,20036,www.nonpf.com,0.500749,0.38,0.32,0.32,1,0,2.140562,0.000000
401534,90981,42100,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Gas Association,...,20001,www.aga.org,0.525397,0.33,0.49,0.49,1,0,2.376548,0.000000
414901,90981,432200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Greater Washington Board of Trade,...,20006,www.bot.org,0.530303,0.38,0.30,0.30,1,0,2.132727,0.000000
428221,90981,43300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Health Care Association,...,20005-4024,www.ahca.org,0.554113,0.33,0.42,0.42,1,1,3.293084,0.000000
441190,90981,43826800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Automobile Dealers Association,...,20003,www.nada.org,0.566300,0.33,0.27,0.27,1,0,2.077225,0.000000
454055,90981,475300,2,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Conservation Districts,...,20002-4937,www.nacdnet.org,0.471877,0.33,0.30,0.30,1,1,3.051408,0.000000
467241,90981,479300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Home Builders,...,20005,www.nahb.com,0.520807,0.33,0.28,0.28,1,0,2.058105,0.000000
480748,90981,491100,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Water Companies,...,20035-4945,www.nawc.org,0.556166,0.33,0.33,0.33,1,0,2.159625,0.000000
494093,90981,493900,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Business Aviation Association,...,20005,www.nbaa.org,0.483216,0.33,0.27,0.27,1,0,2.014912,0.000000
507204,90981,514700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Institute of Building Sciences,...,20005-4905,www.nibs.org,0.511045,0.29,0.27,0.27,1,0,2.005783,0.000000
519952,90981,520400,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Parking Association,...,20036,www.npapark.org,0.586544,0.38,0.37,0.37,1,0,2.279908,0.000000
532703,90981,578500,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,The Optical Society,...,20036-1023,www.osa.org,0.475668,0.26,0.30,0.30,1,1,3.001751,0.000000
545745,90981,59600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Public Transportation Association,...,20005,www.apta.com,0.534921,0.33,0.41,0.41,1,0,2.263690,0.000000
559116,90981,6242600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Air Transportation Association,...,20006,www.nata.aero,0.522589,0.33,0.37,0.37,1,0,2.194441,0.000000
571892,90981,6411700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,United Fresh Produce Association,...,20006-3412,www.unitedfresh.com,0.558532,0.38,0.30,0.30,1,1,3.153899,0.000000
584603,90981,65601,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,ASAE Foundation,...,20005,www.asaecenter.org,0.402381,0.13,0.33,0.33,1,0,1.894286,0.000000
597426,90981,6630600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Council for Responsible Nutrition,...,20036-5114,www.crnusa.org,0.478355,0.29,0.30,0.30,1,0,2.026266,0.000000
610170,90981,6633400,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Mathematical Association of America,...,20036-1358,www.maa.org,0.546032,0.52,0.43,0.50,1,0,2.497024,0.047447
622887,90981,6717700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Washington Hebrew Congregation,...,20016,www.whctemple.org,0.599386,0.33,0.35,0.35,1,0,2.222039,0.000000
635715,90981,68000,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,American Society of Landscape Architects,...,20001-3736,www.asla.org,0.529365,0.33,0.39,0.39,1,0,2.229524,0.000000
649054,90981,6898900,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Independent Schools,...,20036-3425,www.nais.org,0.471996,0.33,0.34,0.34,1,0,2.111497,0.000000
661843,90981,8048200,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Oilseed Processors Association,...,20005-4168,www.nopa.org,0.532357,0.43,0.37,0.37,1,0,2.276767,0.000000
675167,90981,8239800,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Clean Water Agencies,...,20036-2505,www.nacwa.org,0.503608,0.33,0.34,0.34,1,0,2.135206,0.000000
688500,90981,8279700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Pharmaceutical Care Management Association,...,20004,www.pcmanet.org,0.489011,0.29,0.29,0.29,1,0,2.019258,0.000000
701487,90981,8302600,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Council of Graduate Schools,...,20036-1173,www.cgsnet.org,0.430556,0.29,0.33,0.33,1,0,2.035417,0.000000
714315,90981,8400300,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,National Association of Workforce Boards,...,20036,www.nawb.org,0.563095,0.43,0.36,0.36,1,0,2.284821,0.000000
727236,90981,9057900,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,Pet Food Institute,...,20036-2422,www.petfoodinstitute.org,0.472013,0.26,0.15,0.15,1,0,1.774010,0.000000
1739641,90981,6165700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,neighborworks America,...,29455,www.nw.org,0.936508,0.90,1.00,1.00,0,0,2.877381,1.000000

In [240]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

set([2, 5])
set([2])
set([2, 3])
set([2])

In [241]:
type(A)

set

In [4]:
all_tokens = pd.concat([unique_tokens_df, main_tokens_df])
all_tokens.to_csv('all_tokens.csv')

In [212]:
full_conc[(full_conc.id_l == '90981') & (full_conc.id_r =='6165700')]

,id_l,id_r,id_l count,l_org_name,l_city,l_state,l_postal_code,l_web,l_clean_phone,r_org_name,...,r_state,r_postal_code,r_web,jaro_score,fuzz_partial_score,fuzz_sort_score,fuzz_set_score,state_match,zip_match,composite_match_score
1739641,90981,6165700,1,NeighborWorks America,Washington,dc,20002,www.neighborworks.org,2027604000,neighborworks America,...,sc,29455,www.nw.org,0.936508,0.9,1.0,1.0,0,0,2.877381

In [201]:
right_df[right_df.id_r =='6165700']

,Source,id_r,Cup Org ID,r_org_name,r_address1,r_city,r_state,r_postal_code,Zip Code 5 Numeric,CompanyType,r_web,MemberType,#ASAEMembers,Industry,Budget,EIN,#Staff
225,"IndividualMember, Not OrgMember",6165700,90981,neighborworks America,1684 Brownswood Road,Johns Island,sc,29455,29455,Philanthropic/Non-Profit/Charitable/Foundation...,www.nw.org,Non Member - Company Prospect,1,HOU - Housing,F - $10 million but less than $25 million,364194807,255

In [198]:
right_df[right_df.r_org_name == 'neighborworks America']

,Source,id_r,Cup Org ID,r_org_name,r_address1,r_city,r_state,r_postal_code,Zip Code 5 Numeric,CompanyType,r_web,MemberType,#ASAEMembers,Industry,Budget,EIN,#Staff
225,"IndividualMember, Not OrgMember",6165700,90981,neighborworks America,1684 Brownswood Road,Johns Island,sc,29455,29455,Philanthropic/Non-Profit/Charitable/Foundation...,www.nw.org,Non Member - Company Prospect,1,HOU - Housing,F - $10 million but less than $25 million,364194807,255

In [296]:
org_matches = full_conc[full_conc.composite_match_score >= composite_score_min]
org_matches.to_csv('1 token org matches w uniq col.csv')

In [107]:
left_df = pd.read_csv('all cupola orgs w phone_utf.csv',keep_default_na=False)
right_df = pd.read_table('asae_utf.txt',keep_default_na=False,error_bad_lines=False)

left_df.rename(columns={l_id:'id',l_name:'l_org_name',l_address1:'l_address1',l_city:'l_city',l_state:'l_state',l_zip:'l_postal_code',l_web:'l_web',l_phone:'l_phone',l_acronym:'l_acronym',l_alt_name:'l_alt_name'}, inplace=True)
right_df.rename(columns={r_id:'id',r_name:'r_org_name',r_address1:'r_address1',r_city:'r_city',r_state:'r_state',r_zip:'r_postal_code',r_web:'r_web'}, inplace=True)

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(inplace=True)

left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)

In [50]:
all_left_cols = left_unique_token_columns + left_delta_token_columns

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)
left_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids
left_keyed.sort_values(by='token_id',inplace=True)
left_keyed.set_index('token_id',inplace=True)
left_keyed.drop('token',axis=1,inplace=True)

all_right_cols = right_unique_token_columns + right_delta_token_columns

right_frame_list = []
for colname in all_right_cols:
    tokenmapping = cv.fit_transform(right_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    right_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], right_df['id'].values[df_row]]).T, columns = ['token', 'id_r']))

right_keyed = pd.concat(right_frame_list)
right_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
right_token_ids = []
for token in right_keyed.token:
    right_token_ids.append(tokens_id_dct[token])

right_keyed['token_id'] = right_token_ids
right_keyed.sort_values(by='token_id',inplace=True)
right_keyed.set_index('token_id',inplace=True)
right_keyed.drop('token',axis=1,inplace=True)

In [178]:
all_right_cols = right_unique_token_columns + right_delta_token_columns

right_frame_list = []
for colname in all_right_cols:
    tokenmapping = cv.fit_transform(right_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    right_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], right_df['id'].values[df_row]]).T, columns = ['token', 'id_r']))

right_keyed = pd.concat(right_frame_list)
right_keyed.drop_duplicates(inplace=True)

#append token_id to token as this will be more efficient to join with
right_token_ids = []
for token in right_keyed.token:
    right_token_ids.append(tokens_id_dct[token])

right_keyed['token_id'] = right_token_ids

In [203]:
right_keyed[right_keyed.token == 'neighborworks']

AttributeError: 'DataFrame' object has no attribute 'token'

In [205]:
right_df[right_df.id_r =='6165700'].r_org_name

225    neighborworks America
Name: r_org_name, dtype: object

In [210]:
joined[(joined.id_l == '90981') & (joined.id_r == '6165700')]

           id_l     id_r
token_id
36806     90981  6165700

In [111]:
left_keyed.loc[36806]

token    neighborworks
id_l             90981
Name: 36806, dtype: object

In [104]:
left_keyed[left_keyed.token=='neighborworks']

               token   id_l  token_id
68875  neighborworks  90981     36806

In [106]:
left_keyed.to_csv('left_keyed pre token sort.csv')

In [59]:
left_keyed[left_keyed.token=='neighborworks']

               token   id_l  token_id
68875  neighborworks  90981     36806

In [82]:
left_df[left_df.id ==90981]

,id,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone
31695,90981,NeighborWorks America,,999 N. Capitol St. NE,Suite 900,Washington,DC,20002,NULL,www.neighborworks.org,202-760-4000

In [102]:
left_keyed[left_keyed.token=='neighborworks']

AttributeError: 'DataFrame' object has no attribute 'token'

In [167]:
left_keyed.head()

           id_l
token_id
1         50181
7         16131
10        33262
11        49308
13        74073

In [172]:
#this is weird.  Why is this returning the ID-L
left_keyed.loc[45525]

id_l    90981
Name: 45525, dtype: object

In [175]:
right_keyed.loc[45525]

KeyError: u'the label [45525] is not in the [index]'

In [174]:
left_keyed[left_keyed.id_l == 90981]

Empty DataFrame
Columns: [id_l]
Index: []

In [93]:
tokens_dct['america']

0

In [98]:
all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

In [101]:
all_tokens[all_tokens.token == 'neighborworks']

               token  count  flag
36806  neighborworks      3     1

In [94]:
tokens_dct

{'fawl': 0,
 'icparegions': 0,
 'wvtroopers': 0,
 'mdbc': 0,
 'scheuring': 0,
 'fjata': 0,
 'fawd': 0,
 'degussa': 1,
 'woods': 1,
 'gaf': 1,
 'woody': 1,
 'ohiocommunitycolleges': 0,
 'gae': 0,
 'ipfa': 0,
 'kidsfirst': 0,
 'ncuma': 0,
 'sprague': 0,
 'caney': 0,
 '5986': 0,
 'stonewatercontrols': 0,
 'epixpharma': 0,
 'rickman': 0,
 'tenino': 0,
 'bswhealth': 0,
 'osioutsourcing': 0,
 'naturopathic': 1,
 'pages': 1,
 '36601': 0,
 'trojan': 1,
 'pigment': 0,
 'gastars': 0,
 'tourister': 0,
 'segbw': 0,
 'ncbtmb': 0,
 'broward': 1,
 'bringing': 0,
 'lsservices': 0,
 'southernoffshorefishingassociation': 0,
 'rementor': 0,
 'wccfa': 0,
 'tichenorassociates': 0,
 'wooden': 1,
 'weele': 0,
 'intelsatgeneral': 0,
 'raoul': 0,
 'cyberpoint': 0,
 'crossrate': 1,
 'tcba': 0,
 'avenuecapital': 0,
 'schunk': 0,
 'afpminnesota': 0,
 'inkster': 0,
 'paragonsdc': 0,
 'tumeq': 0,
 '0058': 1,
 'stohr': 0,
 '0053': 0,
 '0052': 0,
 '0051': 1,
 '0050': 0,
 '0057': 1,
 '0056': 1,
 '0055': 1,
 '0054': 1,
 'naausa': 0,
 'gannonintl': 0,
 'stonesrivergroup': 0,
 'iceaa': 0,
 'sbcca': 0,
 '16701': 0,
 'illinoispsychology': 0,
 'uccfs': 0,
 'arizonasunrays': 0,
 'altairnano': 0,
 'delawarephcc': 0,
 'wtcphila': 0,
 'powersports': 1,
 'designing': 0,
 'databank': 0,
 'consular': 0,
 'eatrightnh': 0,
 '63025': 0,
 'eatrightnj': 0,
 '10708': 1,
 '63021': 1,
 'sanitasint': 0,
 '95798': 0,
 '10702': 1,
 '10701': 1,
 'eatrightnc': 0,
 'affiliates': 1,
 '10704': 0,
 'eatrightny': 0,
 '21619': 1,
 '509th': 1,
 'shirecanada': 0,
 'affiliated': 1,
 '21617': 1,
 'janyainc': 0,
 '21613': 1,
 'kids': 1,
 'handsurgery': 0,
 'pellet': 1,
 'coordinationplus': 0,
 'osiristx': 0,
 'spotts': 0,
 'riverhawk': 0,
 'kinsley': 1,
 'americanseafoods': 0,
 'redevelopment': 1,
 'kusters': 0,
 'aanfa': 0,
 'lmm': 0,
 '99bombgroup': 1,
 'girlscoutsrv': 0,
 'lence': 0,
 'ruralhealthweb': 1,
 '58078': 1,
 'conradlegal': 0,
 '58074': 1,
 'ergotron': 1,
 '58071': 0,
 'msplanning': 0,
 'dnd': 0,
 'agassi': 1,
 'ivfesa': 0,
 'dnc': 1,
 'dnb': 1,
 'dnn': 1,
 'dni': 1,
 'dnj': 0,
 'dnu': 0,
 'dnv': 1,
 'dnp': 0,
 'nebook': 0,
 'oassp': 0,
 'slocumboddie': 0,
 'fundation': 0,
 'avmr': 0,
 'thermoking': 0,
 'hermana': 0,
 'yahoo': 1,
 'hermann': 1,
 'njforestry': 0,
 'avma': 1,
 'mexel': 0,
 'northernseedtrade': 0,
 'olhiga': 0,
 'capitolcoalitions': 0,
 'lemunyongroup': 0,
 'adventist': 1,
 'reingold': 1,
 'equilateral': 0,
 'californiadriedplums': 0,
 'canem': 0,
 'nabna': 0,
 'interaction': 1,
 '13057': 1,
 'ashleyfurniture': 0,
 'nsafl': 0,
 'wang': 1,
 'wand': 1,
 'wane': 0,
 'crystalgroup': 0,
 'wano': 0,
 'titanium': 1,
 'wanp': 0,
 'sunrays': 0,
 'coapd': 0,
 'pinto': 1,
 'glendaleaz': 0,
 'tasfaatn': 0,
 'wellpinit': 1,
 'travel': 1,
 'cartercopters': 1,
 'brighamcity': 0,
 'keweenaw': 1,
 'periodontology': 1,
 'nazmi': 0,
 'lifewatchinc': 0,
 '5m6': 0,
 'aabd': 0,
 'americanfamiliesunited': 0,
 'stoller': 1,
 'europeforvisitors': 0,
 'balady': 0,
 'medsolutions': 1,
 'seda': 1,
 '27619': 1,
 'sedc': 0,
 '27617': 1,
 '27616': 1,
 '27615': 1,
 '27614': 1,
 '27613': 1,
 '27612': 1,
 '27611': 1,
 '27610': 1,
 'aabe': 1,
 'kreseski': 0,
 'hansonbridgett': 0,
 'southernwholesalers': 0,
 'matatransit': 0,
 'ho': 1,
 'ohiomoose': 0,
 'navalweather': 0,
 'lambdapichi': 0,
 'nmg': 1,
 'lambda': 1,
 'gulfcoastfilters': 0,
 'hattawaycommunications': 0,
 'mluservices': 0,
 'thecampsite': 0,
 'socwomen': 0,
 'intelliject': 0,
 'sapfm': 0,
 'studentpress': 1,
 '8549': 0,
 '8544': 1,
 'claflin': 1,
 '8546': 0,
 '8540': 1,
 'azba': 0,
 '8542': 1,
 'njcm': 0,
 'fis': 0,
 '92260': 1,
 'fiv': 0,
 '92264': 0,
 'uot': 0,
 'lifeline': 1,
 'fix': 1,
 'njca': 0,
 'njcc': 0,
 'cryolife': 1,
 'fib': 0,
 'fic': 0,
 'uoa': 0,
 'fia': 1,
 'fig': 1,
 'cnda': 0,
 '66503': 1,
 'gevo': 1,
 'shinawatra': 0,
 'nutraceuticals': 1,
 '66508': 0,
 'srcld': 0,
 'methode': 1,
 'cimmp': 0,
 'woccu': 1,
 'effects': 1,
 'tippingpointpartners': 0,
 'sova': 1,
 'sove': 0,
 'borail': 0,
 '9w7': 0,
 '60901': 0,
 'lucere': 0,
 '26566': 0,
 'klickitat': 0,
 'plainscotton': 0,
 'barton': 1,
 'lucero': 0,
 'telekom': 1,
 'pomerance': 0,
 'smithsonianstudenttravel': 0,
 'viaticus': 1,
 'ccagw': 0,
 'rctech': 1,
 'buckinstitute': 0,
 '92886': 1,
 '92887': 1,
 'kowa': 0,
 '92883': 0,
 '92880': 1,
 '92881': 0,
 'naniq': 0,
 'ballaerospace': 1,
 'hartmanassociates': 0,
 'getco': 0,
 'enviroment': 0,
 'industrystudies': 0,
 'mazur': 0,
 'voitrax': 0,
 '48911': 1,
 'ahapac': 0,
 'chva': 1,
 'nhsbca': 0,
 '93130': 1,
 'thacher': 1,
 'abbott': 1,
 'mooseintl': 1,
 'sayfie': 0,
 '75287': 1,
 'nataslgl': 0,
 'sandra': 1,
 'sheet': 1,
 'colosewingpros': 0,
 'cololangarts': 0,
 'lawyersforchildrenamerica': 0,
 'silent': 1,
 'mcgeheestrategies': 0,
 'chiari': 0,
 'texasmuseums': 0,
 'syr': 1,
 'alene': 1,
 'cedartown': 0,
 'pfaff': 0,
 'mdschblind': 0,
 'fredrikson': 0,
 'georgialibraries': 0,
 'stoneham': 1,
 'hawaiijewelersassociation': 0,
 'aitaonline': 0,
 'sheboygan': 1,
 'chuden': 0,
 'learningforward': 1,
 'evergreenelectromotive': 0,
 'dlapiper': 1,
 'feldspar': 0,
 'valoggers': 0,
 'chesterwhites': 0,
 'azatsa': 0,
 'ncpropertymappers': 0,
 'comissnetwork': 0,
 'pinkering': 0,
 'forrester': 1,
 'masten': 0,
 'uniformretailers': 0,
 'clearwaterport': 0,
 'olda': 0,
 'ucdmc': 1,
 'oldc': 0,
 'master': 1,
 'lifesciences': 1,
 'institutenorth': 0,
 'polarhusky': 0,
 'genesis': 1,
 '04619': 0,
 'mdgga': 0,
 'californiadialysis': 0,
 'richardattiasassociates': 1,
 'bizapedia': 0,
 'ampi': 0,
 'crwad': 0,
 'winterville': 1,
 'pearsonassessments': 0,
 'imiscloud': 0,
 'kogovsek': 0,
 'capitaledge': 1,
 'iogcc': 0,
 '273': 0,
 'manchester': 1,
 'friend': 0,
 'confrere': 0,
 'warmsprings': 1,
 'parisamericanhighschool': 0,
 'gleanerlife': 0,
 'kalitta': 0,
 'coinstar': 0,
 'psychtechs': 1,
 'cincinnatichamber': 0,
 '6811': 1,
 '15701': 1,
 '6813': 1,
 'myositis': 1,
 '6815': 0,
 '6814': 0,
 'guardianprotection': 0,
 'campapign': 0,
 '9757': 1,
 '9754': 0,
 '9752': 0,
 'skadden': 1,
 'safetyontheweb': 0,
 'hsop': 0,
 '9758': 1,
 'vgm': 0,
 'vgn': 0,
 'earth911': 1,
 'wholesome': 0,
 '24141': 0,
 'wslea': 0,
 'essexseniorliving': 0,
 'vga': 1,
 'electrocardiology': 1,
 'leeondong': 0,
 'affaire': 0,
 'vgt': 0,
 'kremlin': 0,
 'shipments': 1,
 'premiermss': 0,
 '5603': 1,
 'planetfitness': 0,
 'travelcommand': 0,
 'ccsaa': 0,
 'schoolwires': 1,
 'collingswifthynes': 0,
 'sdfbf': 0,
 'africa': 1,
 'tect': 1,
 'maja': 0,
 'nationwideequipment': 0,
 'nysassrs': 0,
 'cares': 1,
 'morden': 0,
 'nfbflorida': 0,
 'tech': 1,
 'circulation': 1,
 'teck': 1,
 '68340': 0,
 'teca': 0,
 'trollers': 0,
 '78248': 0,
 'dicker': 0,
 'apace': 0,
 'apaca': 0,
 'excavator': 0,
 'apangea': 1,
 'cmsolutionsdc': 0,
 'rcaca': 0,
 '30334': 1,
 '30335': 0,
 '30336': 1,
 '30337': 1,
 '30331': 1,
 '30332': 1,
 '30333': 0,
 'usaigc': 0,
 '76164': 1,
 '76163': 0,
 '30339': 1,
 '76161': 1,
 '7566': 0,
 'iati': 0,
 'professionaltransportationinc': 0,
 'plata': 1,
 'iatl': 0,
 'iatm': 0,
 'iatc': 1,
 'iata': 1,
 '7564': 0,
 'iate': 0,
 'platt': 1,
 'baylarian': 1,
 'tficillinois': 0,
 'caribe': 0,
 'iatr': 1,
 'ksoms': 0,
 'iatp': 0,
 'afponline': 0,
 'jaguar': 1,
 'patca': 0,
 'kcca': 0,
 'phototelesis': 0,
 'navasota': 0,
 'fgbci': 0,
 'merrell': 1,
 'ppsapta': 0,
 'shakleecares': 0,
 'artglassassociation': 0,
 'coloradoranger': 0,
 'ncwa': 0,
 'joniandfriends': 0,
 'slaviccenter': 0,
 '35218': 0,
 'ncwe': 0,
 'mccutchen': 1,
 '35214': 0,
 '35216': 1,
 'alaskatel': 0,
 '35210': 1,
 '35211': 0,
 '35212': 1,
 '35213': 1,
 'washingtonports': 0,
 'tyndale': 0,
 'fanncorp': 0,
 'etix': 1,
 '23260': 1,
 '23261': 1,
 'crouch': 1,
 'gatheringofeagles': 0,
 'ticaret': 1,
 '5608': 1,
 'ipcrx': 0,
 'doran': 0,
 'healthnetsreviewservices': 0,
 'irp': 0,
 'exactsciences': 0,
 'irr': 0,
 'irs': 1,
 'cemaonline': 0,
 'lott': 1,
 'iri': 1,
 'gallobusinessmedia': 0,
 'theisraelproject': 0,
 'ira': 1,
 'lota': 0,
 'irc': 0,
 'ird': 0,
 'nawl': 0,
 'irf': 0,
 'receptionists': 1,
 'municipiodebayamon': 0,
 'trauma': 1,
 'alabamamayflowersociety': 0,
 'extend': 1,
 'nature': 1,
 'mckinnonassociates': 0,
 'fsneuro': 0,
 'icfanet': 0,
 'marinaassociation': 0,
 'gcea': 0,
 'gcec': 0,
 'gcee': 0,
 'himonline': 0,
 'alpena': 1,
 'arcommunitybankers': 0,
 'aboriginalhr': 0,
 'airflow': 0,
 'wvtrucking': 0,
 'ieeemagnetics': 0,
 'fifth': 1,
 'zoomlion': 0,
 'engility': 0,
 'carrouseltravel': 0,
 '73447': 0,
 'fishermensfinest': 0,
 'china': 1,
 'greatmindsinstem': 0,
 'searsport': 0,
 'ustwirling': 1,
 'baypointenaplescay': 0,
 'moorpark': 1,
 'wagyu': 1,
 'niyc': 0,
 'otolaryngologists': 1,
 'strawberrywater': 0,
 'nursesinaidscare': 0,
 'frc': 1,
 'fra': 1,
 'noblenational': 0,
 'frf': 0,
 'glmtf': 0,
 'encinitas': 1,
 'fri': 1,
 'frm': 0,
 'rexsystems': 0,
 'dartforms': 0,
 'muca': 0,
 'frx': 0,
 'packardclub': 1,
 'naifa': 1,
 'envizion': 0,
 'wags': 1,
 'hoganlovells': 1,
 'jhsmiami': 0,
 'hepa': 0,
 'amhca': 1,
 'spie': 1,
 'carmeusena': 0,
 'orenco': 1,
 'regus': 1,
 'spin': 0,
 'spim': 1,
 'sundanceservices': 0,
 'homecare': 1,
 'calpeach': 1,
 'ndbpa': 0,
 'vamarinetrades': 0,
 'ydfda': 0,
 '1671': 0,
 'indianapolissymphony': 0,
 'kenyaembassy': 0,
 'nebtrucking': 0,
 'unionists': 1,
 'prnewswire': 0,
 'entrecanales': 0,
 'unos': 1,
 'biometeorology': 1,
 'getagadget': 1,
 'kohn': 0,
 'mayflowerga': 0,
 'kohl': 1,
 'conditioned': 0,
 '5059': 0,
 'waddell': 1,
 '5054': 0,
 '5056': 1,
 '5057': 0,
 '5050': 1,
 'knollsofdover': 0,
 '5052': 0,
 '5053': 0,
 'auanet': 1,
 'wvaflcio': 0,
 'kylehousegroup': 0,
 'whamtech': 1,
 'democracies': 0,
 'equistar': 0,
 'ncpga': 0,
 '70139': 1,
 'provincials': 0,
 'cavanaugh': 1,
 '70130': 1,
 'zeon': 0,
 'kenworthymanagement': 0,
 'pilatesmethodalliance': 0,
 'opticalalchemy': 0,
 'triexceeding': 1,
 'ohiochapter': 0,
 'collegecounseling': 0,
 'greatlakesshrineassociation': 0,
 'qdoba': 1,
 'uslumbercoalition': 0,
 'weinstock': 1,
 'solarbee': 1,
 'wattsandassociates': 0,
 'exitrealty': 0,
 'vacaonline': 0,
 'mentors': 0,
 'woodworkers': 0,
 'mccartonfoundation': 0,
 'academic': 1,
 '02467': 0,
 'academia': 1,
 'njrha': 0,
 'aerbvi': 1,
 'wdpa': 0,
 'bellot': 1,
 'larrison': 0,
 'nacfam': 0,
 'tjh2bas': 0,
 'valleys': 1,
 'loghomes': 0,
 'cowlitzpud': 0,
 'dtag': 1,
 'maloneygr': 0,
 'tavernier': 0,
 'hah': 0,
 'hai': 0,
 'ih': 1,
 '83634': 0,
 'hal': 1,
 'ham': 1,
 'han': 0,
 'hao': 0,
 'haa': 0,
 'hab': 0,
 'hac': 1,
 'investigativeproject': 0,
 'sunrisewindows': 0,
 'hag': 0,
 'cottongwa': 0,
 'mcnamara': 1,
 'ftca': 0,
 'loudoun': 1,
 'hap': 1,
 'har': 0,
 'has': 0,
 'hat': 1,
 'zapworld': 0,
 'platemakers': 0,
 'omegawv': 0,
 'equalfooting': 0,
 'elders': 1,
 'akvma': 0,
 'compaction': 0,
 'cityofwasilla': 0,
 'calruralwater': 0,
 'nasgw': 0,
 'filmpreservation': 0,
 'chicagolandspeedway': 0,
 'aeyc': 0,
 'tacticalassaultgearstore': 0,
 'dunrath': 1,
 '65thdiv': 0,
 'nasga': 0,
 'sirsidynix': 0,
 '8034': 1,
 '8037': 1,
 '8036': 1,
 'aviagen': 1,
 '8033': 1,
 'crowe': 1,
 'wvuh': 0,
 '8y9': 0,
 'stern': 1,
 '8039': 0,
 'homebaking': 0,
 'resperatory': 0,
 'wvup': 0,
 'crows': 1,
 'healthsperien': 1,
 'captiva': 1,
 'shellpoint': 0,
 'fiduciary': 1,
 'bottom': 1,
 'alabamaschoolboards': 0,
 'teksid': 0,
 'cyprusembassy': 0,
 'miskillsusa': 0,
 'tasfaa': 0,
 'truthfullabeling': 0,
 'kindsvatter': 0,
 'osbar': 0,
 'shelteringarms': 0,
 'thesummafoundation': 0,
 'herrin': 0,
 'lswa': 0,
 'knittinguniverse': 0,
 'ology': 1,
 'dna': 1,
 'bamboo': 0,
 'mililani': 1,
 'acoi': 0,
 'idoahomecare': 0,
 'oassa': 0,
 'leominster': 0,
 'acoa': 0,
 'cadbury': 1,
 'acog': 1,
 'perthamboy': 0,
 'americanschoolbuscouncil': 0,
 'vonage': 1,
 'acop': 0,
 'acos': 0,
 'southeastregion': 0,
 'culac': 0,
 'societyns': 0,
 'ribgh': 0,
 'ferrariclubofamerica': 0,
 'marshall': 1,
 'hcapna': 1,
 'whwg': 0,
 'marshals': 1,
 'whwc': 0,
 'districtenergy': 0,
 'crothall': 0,
 'lpba': 0,
 'columbiettes': 1,
 'bombardier': 1,
 'nygap': 0,
 'fabric': 1,
 'afpneworleans': 0,
 'christian': 1,
 '16001': 1,
 'usyouthsoccer': 0,
 'hobokenstrategy': 0,
 'napcosecurity': 0,
 'rheumatology': 1,
 'miiab': 0,
 'neighborhoodhousecharterschool': 0,
 '52349': 0,
 '17356': 1,
 'crewclassic': 0,
 'americanbondholdersfoundation': 0,
 'westmoreland160': 0,
 'ocpgroup': 0,
 'lightreading': 0,
 'univest': 1,
 'apc1002': 0,
 'ecac': 0,
 'americanbrahmousincouncil': 0,
 'corportaion': 0,
 'pricing': 1,
 'duals': 0,
 'navajonationchapters': 0,
 'galvanizersassociation': 0,
 '20866': 0,
 '20861': 0,
 '20860': 0,
 'medimetriks': 0,
 'wacker': 1,
 'cambodia': 1,
 'rspi': 0,
 'rpnys': 0,
 'gennandmurphy': 0,
 'advantec': 0,
 'gpanorthwest': 0,
 'rspa': 0,
 'horseshoepitching': 0,
 'ritts': 1,
 'hipaset': 0,
 'nfdoi': 0,
 'palms': 1,
 'alliedtelesis': 0,
 'icsglobal': 0,
 'ellenwood': 0,
 'sffma': 0,
 'imperialtrading': 0,
 'yellowstone': 1,
 'm35k2gpd': 0,
 'nhbwinc': 0,
 'edow': 0,
 'languagepolicy': 1,
 'btama': 0,
 'source': 1,
 'mediacomcable': 0,
 'homeboxoffice': 0,
 'ctuhsa': 0,
 'leaders4health': 0,
 '97470': 1,
 '97471': 0,
 'interpipe': 1,
 '12208': 1,
 '12209': 0,
 'prosthodontic': 0,
 '97478': 0,
 '97479': 0,
 '12206': 1,
 '12207': 1,
 '12201': 1,
 '12203': 1,
 'corpu': 0,
 'plantsville': 0,
 'aohc': 1,
 'chain': 1,
 's1vzvj8': 0,
 'intltwins': 0,
 'aohp': 0,
 'innerspring': 0,
 'pels': 0,
 'chair': 1,
 '29356': 0,
 '8866': 0,
 '8867': 0,
 'ballet': 1,
 '8862': 0,
 '8863': 0,
 'machs': 0,
 '8869': 0,
 'naawsonline': 0,
 'kfia': 0,
 'inititative': 0,
 'macha': 0,
 'machc': 0,
 'ballen': 0,
 'kidsave': 1,
 'conferencearchives': 0,
 'montreat': 1,
 'afsaonline': 0,
 'npmaonline': 0,
 'accountingtutor': 0,
 'orofino': 0,
 '67576': 1,
 'batesfootwear': 0,
 'lobbycongress': 0,
 'biopharmaceuticals': 1,
 'elkridge': 1,
 'ameribev': 1,
 'materialscience': 1,
 'alliedtube': 0,
 'animalagriculture': 0,
 'twabout': 0,
 'exact': 1,
 'resqline': 0,
 'minute': 1,
 'bentcounty': 0,
 'breakthrubev': 0,
 'reining': 0,
 'pela': 0,
 '68638': 0,
 '28thinfantrydivisionassoc': 0,
 'illustrators': 1,
 'cyclopharma': 0,
 'oregonapa': 0,
 'moravianwomensconference': 0,
 'peterson': 1,
 'procacci': 0,
 '95829': 0,
 'beckerandbecker': 0,
 'wuaa': 0,
 'conradcounsel': 0,
 'breauxlott': 0,
 'uiatf': 0,
 'wordscanheal': 0,
 'nacap': 0,
 'afe': 0,
 '28409': 0,
 'nacas': 1,
 'nacat': 0,
 'msmea': 0,
 '28403': 0,
 '28402': 1,
 '28401': 1,
 'burch': 0,
 'zrz': 0,
 '28405': 1,
 '28404': 0,
 'nacaa': 1,
 'nacac': 0,
 'imcorp': 1,
 'zra': 0,
 'sndproductions': 0,
 'bovis': 0,
 'livanova': 0,
 'splyss': 0,
 'cnoa': 0,
 '95825': 1,
 'vanderbilt': 1,
 'njlm': 0,
 'advinmictg': 0,
 'blacknetworktelevision': 0,
 'njln': 0,
 'address': 0,
 'steelshieldtech': 0,
 'ufg': 0,
 'bioreference': 1,
 'novaha': 0,
 'threebridgesadvisors': 0,
 'gnar': 0,
 'statere': 1,
 'impacted': 1,
 'digitalmedialicensing': 0,
 'snowbirds': 0,
 'mileagematrix': 0,
 'matilda': 1,
 'wavin': 0,
 'icais': 0,
 'bowlwi': 0,
 'mopoa': 0,
 'mysticseaport': 0,
 'topsail': 1,
 'ifgc': 1,
 'cirpa': 0,
 'deltaco': 0,
 'fireworld': 0,
 'darnell': 0,
 'handbags': 0,
 'may': 1,
 'stegmann': 1,
 'optimize': 0,
 '92186': 1,
 'nalp': 0,
 '92182': 1,
 'insurence': 0,
 'lakelandgov': 0,
 'wsparks': 0,
 '74051': 0,
 '74055': 1,
 'breweriana': 1,
 '74056': 1,
 '74058': 0,
 'fareway': 1,
 'wvu': 1,
 'nevada': 1,
 'terman': 0,
 'ushcam': 0,
 'wvc': 1,
 'enproindustries': 0,
 'aquinnah': 1,
 'rutherford': 1,
 'hellenic': 1,
 '35581': 0,
 'alliedcharitiesmn': 0,
 'unitedonline': 0,
 '94544': 1,
 'munroe': 0,
 '27921': 0,
 'liverez': 1,
 'kyhotellodging': 0,
 'orendainternational': 0,
 'employess': 0,
 'stetson': 1,
 'mailboxes': 0,
 'soup': 1,
 'ueunion': 1,
 'patientrak': 0,
 'notaries': 1,
 'aacp123': 0,
 'ineda': 0,
 'americanhellenic': 0,
 'aksys': 0,
 'williamsville': 1,
 '06378': 0,
 'bibliographical': 0,
 'tube': 1,
 'msacroa': 0,
 'jewishpublicaffairs': 1,
 '06372': 0,
 'thealda': 0,
 'lulac': 0,
 'enersysinc': 0,
 '25712': 0,
 'afpflorida': 0,
 'datalabs': 1,
 'sdatat': 0,
 '62924': 0,
 'pennunited': 0,
 'aiche': 1,
 'financialops': 1,
 'epidemiologic': 0,
 'portridgefield': 0,
 'zalicus': 1,
 'vonel': 0,
 'harmon': 1,
 'kaskol': 1,
 'denbury': 1,
 ...}

In [87]:
left_keyed

            id_l
token_id
6            737
6          78388
6          39222
6          67617
6          16131
7           7819
7          37771
7         101383
7          23611
7          41636
7           9092
7          17064
7          14590
7           5564
7          45022
7          44506
7           5601
7          45346
7          52131
7          92330
7          37429
8          33262
9          13425
9          78513
10         49308
12         48993
12         40417
14         53267
14         50344
15         90232
...          ...
83070      17735
83070      30411
83070      18754
83070      55941
83070       9982
83071      31237
83071      24767
83075      67582
83075      44524
83075      44168
83075      70298
83075      44525
83077      45239
83077      45386
83079      89219
83083      58203
83083      50087
83083      29489
83083      73275
83083      56248
83083      19617
83083      73905
83083      73721
83083      59221
83083      55322
83083      98206
83087      89881
83088      41790
83089      92858
83091      31093

[448293 rows x 1 columns]

In [78]:
#but THIS isn't??
left_keyed[left_keyed.id_l == 90981]

Empty DataFrame
Columns: [id_l]
Index: []

In [75]:
right_keyed[right_keyed.token=='neighborworks']

             token     id_r
497  neighborworks  6165700

In [53]:
right_keyed[right_keyed.id_r ==6165700]

Empty DataFrame
Columns: [id_r]
Index: []

In [34]:
left_df[left_df.id == 90981]

,id,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone
31695,90981,NeighborWorks America,,999 N. Capitol St. NE,Suite 900,Washington,DC,20002,NULL,www.neighborworks.org,202-760-4000

In [40]:
print filter(lambda x: '20002' in x, flat_list)

TypeError: 'in <string>' requires string as left operand, not int

In [170]:
tokens_id_dct['neighborworks']

45525

In [25]:
left_keyed[left_keyed.id_l==90981]

Empty DataFrame
Columns: [token, id_l]
Index: []

In [171]:
tokens_dct['neighborworks']

1

In [129]:
type('')

str

In [167]:
full_conc.isnull().sum()

id_l             0
id_r             0
id_l count       0
l_org_name       0
l_city           0
l_state          0
l_postal_code    0
l_web            0
l_clean_phone    0
r_org_name       0
r_city           0
r_state          0
r_postal_code    0
r_web            0
r_clean_phone    0
dtype: int64

In [135]:
left_df.l_phone

0                #N/A
1        609-771-0101
2                #N/A
3                #N/A
4                #N/A
5                #N/A
6                #N/A
7                #N/A
8                #N/A
9        847-605-6000
10       800-987-3373
11       202-585-3100
12               #N/A
13               #N/A
14       978-692-4900
15       702-221-4780
16       202-298-8660
17       202-778-1800
18               #N/A
19               #N/A
20       972-671-8885
21               #N/A
22               #N/A
23               #N/A
24       407-644-6300
25       512-364-0656
26               #N/A
27               #N/A
28               #N/A
29               #N/A
             ...
88487    212-922-1500
88488    443-391-7235
88489    504-522-4850
88490            #N/A
88491    408-536-6000
88492            #N/A
88493    407-581-1560
88494    862-261-7000
88495    319-337-1000
88496    405-737-2676
88497    240-450-0075
88498    410-347-7700
88499    408-400-1900
88500    484-653-3300
88501    917-452-4400
88502    509-457-4611
88503    312-899-0040
88504    952-926-6547
88505            #N/A
88506            #N/A
88507    224-667-6100
88508    919-856-2360
88509    267-351-4310
88510            #N/A
88511            #N/A
88512    651-733-1110
88513            #N/A
88514    651-733-1110
88515    972-235-7502
88516    802-552-4067
Name: l_phone, Length: 88517, dtype: object

In [138]:
left_reduced = left_df.head(1000).copy()

In [153]:
start_time = time.time()
print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#clean up non numeric characters in phones
def sanitize_phone(phone):
    if isinstance(phone, basestring) is True:
        return ''.join(c for c in (phone or '') if c in '1234567890')
    if isinstance(phone, float) is False:
        return phone
    
for phone in left_reduced.l_phone:
    left_reduced.l_phone.replace(sanitize_phone(phone))
    
print("phones checked --- %s seconds ---" % (time.time() - start_time))
print ""

CHECKING FOR PHONE MATCHES...
phones checked --- 0.444000005722 seconds ---

In [160]:
start_time = time.time()
print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#clean up non numeric characters in phones
for phone in left_df.l_phone:
    left_df.l_phone.replace(re.sub('[^0-9]','', phone))
    
print("phones checked --- %s seconds ---" % (time.time() - start_time))
print ""

CHECKING FOR PHONE MATCHES...
phones checked --- 0.408999919891 seconds ---

In [161]:
start_time = time.time()
print "CHECKING FOR PHONE MATCHES..." #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

clean_phones = []
for phone in left_df.l_phone:
    clean_phones.append(re.sub('[^0-9]','', phone))
    
left_df['new_phone'] = clean_phones

print("phones checked --- %s seconds ---" % (time.time() - start_time))
print ""

CHECKING FOR PHONE MATCHES...
phones checked --- 0.319999933243 seconds ---

In [162]:
left_df.head()

,id_l,l_org_name,l_acronym,l_address1,address2,l_city,l_state,l_postal_code,l_alt_name,l_web,l_phone,new_phone
0,3640,Zyvex Performance,NULL,NULL,NULL,Columbus,oh,NULL,NULL,www.zyvexpro.com,#N/A,
1,95526,Zytron,,20 Lexington Ave.,NULL,Trenton,nj,8618,NULL,www.zytron.com,609-771-0101,6097710101
2,70481,"Zynga, Inc.",NULL,699 Eighth St.,NULL,San Francisco,ca,94103,NULL,NULL,#N/A,
3,70482,Zynga (a client of Bay Bridge Strategies),NULL,1300 Connecticut Ave. NW,Suite 600,Washington,dc,20036,NULL,NULL,#N/A,
4,81106,Zynerba Pharmaceuticals Inc,NULL,80 W. Lancaster Ave.,Suite 300,Devon,pa,19333,NULL,NULL,#N/A,

In [95]:
duplicate_candidates.shape

(402544, 3)

In [92]:
duplicate_candidates.drop_duplicates(subset=('id_l','id_r'),inplace=True)

C:\Users\dbell\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [84]:
tokens_dct['corporation']

KeyError: 'corporation'

In [87]:
main_tokens_df

Empty DataFrame
Columns: [token, count, flag]
Index: []

In [41]:
left_keyed.shape

(699341, 1)

In [42]:
right_keyed.shape

(355793, 1)

In [43]:
left_keyed.head()

           id_l
token_id
0         64174
0         64174
1         90066
2         89826
2         89826

In [44]:
#define column names
l_id = 'organization_id'
l_name = 'org_name'
l_address1 = 'address1'
l_city = 'city'
l_state = 'state'
l_zip = 'postal_code'
l_phone = 'phone'
l_web = 'website'
l_acronym = 'acronym'
l_alt_name = 'alt_name'

r_id = 'rec_id'
r_name = 'org_name'
r_address1 = 'street1'
r_city = 'CITY'
r_state = 'STPROV'
r_zip = 'zip'
r_phone = 'PHONE'
r_web = 'url'
r_acronym = 'CBI_Acronym'

#set parameters
token_match_min = 2 # minimum number of matched tokens to be considered a match
token_limiter = .999 # percent of non-single tokens to tokenize, where rare tokens are at the bottom and common at the top
name_weight = .75 #note that this is really .75 * 4 because there are 4 org name simularity metrics
state_weight = 1
zip_weight = 1
phone_weight = 1
composite_score_min = 3.5 #minimum composite match score to be considered a match

start_time = time.time()
print "LOADING INITIAL DATAFRAMES..."

left_df = pd.read_csv('all cupola orgs w phone_utf.csv',keep_default_na=False)
right_df = pd.read_table('all_mint_orgs_2_19_2019_utf.txt',keep_default_na=False,error_bad_lines=False)

left_df.rename(columns={l_id:'id',l_name:'l_org_name',l_address1:'l_address1',l_city:'l_city',l_state:'l_state',l_zip:'l_postal_code',l_web:'l_web',l_phone:'l_phone',l_acronym:'l_acronym',l_alt_name:'l_alt_name'}, inplace=True)
right_df.rename(columns={r_id:'id',r_name:'r_org_name',r_address1:'r_address1',r_city:'r_city',r_state:'r_state',r_zip:'r_postal_code',r_web:'r_web',r_phone:'r_phone',r_acronym:'r_acronym'}, inplace=True)

print("Dataframes loaded --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "PRE-PROCESSING: NORMALIZE STATES..."
#normalize state codes
state_lkup = pd.read_csv('state_lkup.csv',keep_default_na=False)

from collections import defaultdict
state_dict = defaultdict(list)
for state, acronym in zip(state_lkup.state.values,state_lkup.acronym.values):
    state_dict[state].append(acronym)

left_df.l_state = left_df.l_state.str.lower()
left_df.l_state = left_df.l_state.replace(state_dict)
right_df.r_state = right_df.r_state.str.lower()
right_df.r_state = right_df.r_state.replace(state_dict)

print("states normalized --- %s seconds ---" % (time.time() - start_time))
print ""

start_time = time.time()
print "TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS..."

left_unique_token_columns = [
    'l_acronym',
    'l_state', 
    'l_postal_code',
    'l_phone'
]

left_delta_token_columns = [
    'l_org_name',
    'l_alt_name',
    #'l_address1',
    #'l_address2',
    'l_city', 
    'l_web'
]

right_unique_token_columns = [
    'r_acronym',
    'r_state', 
    'r_postal_code',
    'r_phone'
]

right_delta_token_columns = [
    'r_org_name',
    #'r_alt_name',
    #'r_address1',
    #'r_address2',
    'r_city', 
    'r_web'
]

# lowercase the name and split on spaces, remove non-alphanumeric chars
def tokenize_name(name):
    if isinstance(name, basestring) is True:
        clean_name = ''.join(c if c.isalnum() else ' ' for c in name)
        return clean_name.lower().split()
    else:
        return name
    
unique_tokens = []    
for col in left_unique_token_columns:
    for word in left_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
for col in right_unique_token_columns:
    for word in right_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
unique_flat_list = [item for sublist in unique_tokens for item in sublist]

#instantiate counter and use to count word frequencies in flat list
u_cnt = Counter()
for token in unique_flat_list:
    u_cnt[token] += 1

u_cnt_dict = dict(u_cnt) #convert to dictionary

unique_tokens_df = pd.DataFrame(u_cnt_dict.items(), columns=['token', 'count'])
unique_tokens_df = unique_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

unique_token_flag = []
for index, value in enumerate(unique_tokens_df['count']):
    if value == 1:
        unique_token_flag.append(0)  #for any tokens occuring only once, we exclude
    else:
        unique_token_flag.append(1)

unique_tokens_df['flag'] = unique_token_flag        

all_other_words = []
for col in left_delta_token_columns:
    for word in left_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
for col in right_delta_token_columns:
    for word in right_df[col]:
        if isinstance(word, float) is False:
            unique_tokens.append(tokenize_name(str(word)))
            
flat_list = [item for sublist in all_other_words for item in sublist] #flatten list so it can be counted

#instantiate counter and use to count word frequencies in flat list
cnt = Counter()
for token in flat_list:
    cnt[token] += 1

cnt_dict = dict(cnt) #convert to dictionary

main_tokens_df = pd.DataFrame(cnt_dict.items(), columns=['token', 'count'])
main_tokens_df = main_tokens_df.sort_values(by='count')  #sorting by count so that we can take the first x% of tokens by rare frequency

main_token_flag = []
for index, value in enumerate(main_tokens_df['count']):
    if value == 1:
        main_token_flag.append(0)  #for any tokens occuring only once, we exclude
    elif index < int(main_tokens_df.shape[0] * token_limiter): #important line, we are cutting the top x% of frequently occuring tokens
        main_token_flag.append(1)
    else:
        main_token_flag.append(0)  #for the most common tokens, we exclude

main_tokens_df['flag'] = main_token_flag

all_tokens = pd.concat([unique_tokens_df, main_tokens_df])

all_tokens.drop('count',axis=1,inplace=True)
all_tokens['flag'] = all_tokens.flag.astype(int) #converting flags to int
tokens_dct = all_tokens.to_dict('split') #converting tokens_df to dictionary
tokens_dct=dict(tokens_dct['data']) #honestly can't remember why this works, something to do with conversion to dictionary

#preparing token_ids which will be used for joining left and right dfs
all_tokens.sort_values(by='flag',ascending=False,inplace=True)
all_tokens.drop_duplicates(subset='token',keep='first',inplace=True)
token_ids = all_tokens.index.get_level_values(0)
all_tokens['token_id'] = token_ids

all_tokens.drop('flag',axis=1,inplace=True)
all_tokens['token_id'] = all_tokens.token_id.astype(int)
token_id_dct = all_tokens.to_dict('split')
tokens_id_dct=dict(token_id_dct['data'])

vocabulary = np.array([w for w, c in tokens_dct.items() if c ==1]) #this works even without the ==1 and I don't know why
cv = CountVectorizer( vocabulary=vocabulary)

#now we are ready to tokenize left and right dataframes
all_left_cols = left_unique_token_columns + left_delta_token_columns

left_frame_list = []
for colname in all_left_cols:
    tokenmapping = cv.fit_transform(left_df[colname])
    df_row, token_id = tokenmapping.nonzero()

    left_frame_list.append(pd.DataFrame(np.vstack([vocabulary[token_id], left_df['id'].values[df_row]]).T, columns = ['token', 'id_l']))

left_keyed = pd.concat(left_frame_list)

#append token_id to token as this will be more efficient to join with
left_token_ids = []
for token in left_keyed.token:
    left_token_ids.append(tokens_id_dct[token])

left_keyed['token_id'] = left_token_ids

LOADING INITIAL DATAFRAMES...

Skipping line 944: expected 12 fields, saw 13
Skipping line 1901: expected 12 fields, saw 13
Skipping line 2385: expected 12 fields, saw 13
Skipping line 9323: expected 12 fields, saw 13
Skipping line 12962: expected 12 fields, saw 13
Skipping line 20622: expected 12 fields, saw 13
Skipping line 22166: expected 12 fields, saw 13
Skipping line 22459: expected 12 fields, saw 13
Skipping line 23323: expected 12 fields, saw 13
Skipping line 24264: expected 12 fields, saw 13
Skipping line 24413: expected 12 fields, saw 13
Skipping line 24984: expected 12 fields, saw 13
Skipping line 25965: expected 12 fields, saw 13
Skipping line 26570: expected 12 fields, saw 13
Skipping line 26617: expected 12 fields, saw 13
Skipping line 29375: expected 12 fields, saw 13
Skipping line 31384: expected 12 fields, saw 13
Skipping line 32471: expected 12 fields, saw 13
Skipping line 36022: expected 12 fields, saw 13
Skipping line 37449: expected 12 fields, saw 13
Skipping line 37651: expected 12 fields, saw 13
Skipping line 40439: expected 12 fields, saw 13
Skipping line 41493: expected 12 fields, saw 13

Dataframes loaded --- 0.944999933243 seconds ---

PRE-PROCESSING: NORMALIZE STATES...
states normalized --- 1.28299999237 seconds ---

TOKENIZING, IDENTIFYING CANDIDATE MATCH PAIRS...